.MovIt.json.backup
[{"id":"785b00cb.55902","type":"tab","label":"Tilt result endpoint","disabled":false,"info":""},{"id":"70286646.4b1c9","type":"tab","label":"Pressure result endpoint","disabled":false,"info":""},{"id":"d8422fcd.8b4f88","type":"tab","label":"Data Reception (Alex)","disabled":false,"info":""},{"id":"62e9dd9c.3ec8b4","type":"tab","label":"Login Endpoint","disabled":false,"info":""},{"id":"28ede86e.b0dc6","type":"tab","label":"Configuration Endpoint","disabled":false,"info":""},{"id":"b0a01c6c.06d65","type":"tab","label":"Recommandation Endpoint","disabled":false,"info":""},{"id":"b9daa40a.159ce8","type":"tab","label":"Goal Endpoint","disabled":false,"info":""},{"id":"9c58fe86.dc70d","type":"tab","label":"Time Endpoint","disabled":false,"info":""},{"id":"fd561dd2.b6ea58","type":"tab","label":"Settings endpoint","disabled":false,"info":""},{"id":"ed0c995d.e2e7f8","type":"tab","label":"entré MQTT","disabled":true,"info":""},{"id":"c6f5a9d0.2bf118","type":"tab","label":"Simulation basic","disabled":true,"info":""},{"id":"79c89fe4.873e6","type":"tab","label":"get info","disabled":true,"info":""},{"id":"1dab1279.d003ee","type":"tab","label":"Sortie MQTT","disabled":true,"info":""},{"id":"23a30f9a.261b6","type":"tab","label":"Create Files","disabled":true,"info":""},{"id":"988214cb.995018","type":"tab","label":"Send File","disabled":true,"info":""},{"id":"da4609d5.3036c8","type":"tab","label":"testing","disabled":true,"info":""},{"id":"4e4dbcc2.17d054","type":"subflow","name":"vérify token","info":"","in":[{"x":140,"y":320,"wires":[{"id":"e29f42ca.a113c"}]}],"out":[{"x":1220,"y":260,"wires":[{"id":"db0ceff6.603c","port":0}]}]},{"id":"335e86e1.c431da","type":"subflow","name":"keep_alive_watcher","info":"","in":[{"x":60,"y":140,"wires":[{"id":"402e62db.9318dc"}]}],"out":[{"x":1140,"y":140,"wires":[{"id":"54e3eb5e.a5e6a4","port":0}]}]},{"id":"857ac83c.e099a8","type":"subflow","name":"GetDayBack","info":"","in":[{"x":140,"y":220,"wires":[{"id":"3dd32ccf.927104"}]}],"out":[{"x":900,"y":220,"wires":[{"id":"298646f7.89adea","port":0}]}]},{"id":"6c6d0616.a7df98","type":"subflow","name":"GetMonthBack","info":"","in":[{"x":80,"y":160,"wires":[{"id":"2f8401b2.bbf70e"}]}],"out":[{"x":860,"y":160,"wires":[{"id":"f111a7e3.1e91e8","port":0}]}]},{"id":"a30d48d8.f609e8","type":"subflow","name":"SittingTime","info":"","in":[{"x":80,"y":160,"wires":[{"id":"6741ff25.d9c22"}]}],"out":[{"x":740,"y":160,"wires":[{"id":"b93200a.1a5ad","port":0}]}]},{"id":"d9e2e631.4f8778","type":"subflow","name":"GravityCenter","info":"","in":[{"x":60,"y":140,"wires":[{"id":"3c4a40e1.a66fd"}]}],"out":[{"x":720,"y":140,"wires":[{"id":"dcb6fbac.be34a8","port":0}]}]},{"id":"36e4ab73.495fb4","type":"subflow","name":"GetDayBouts","info":"","in":[{"x":100,"y":140,"wires":[{"id":"3f7667f.e5d5098"}]}],"out":[{"x":820,"y":140,"wires":[{"id":"c702805e.c0646","port":0}]}]},{"id":"dad69f2b.73de2","type":"subflow","name":"GetLastDate","info":"","in":[{"x":140,"y":100,"wires":[{"id":"4bbf0aa9.4b6fa4"}]}],"out":[{"x":1060,"y":100,"wires":[{"id":"e8beda5d.a7d618","port":0}]}]},{"id":"533bc41.d9a0d3c","type":"subflow","name":"GetDaysWithData","info":"","in":[{"x":160,"y":180,"wires":[{"id":"86fe7f00.16238"}]}],"out":[{"x":1040,"y":180,"wires":[{"id":"50f7a05b.0dc76","port":0}]}]},{"id":"ad7d8d1c.cafbf","type":"subflow","name":"GetMonthsWithData","info":"","in":[{"x":100,"y":140,"wires":[{"id":"ceaf94f8.7481b8"}]}],"out":[{"x":1060,"y":140,"wires":[{"id":"5b97c3d3.15a01c","port":0}]}]},{"id":"858faa30.bafbe8","type":"subflow","name":"GetMonthBouts","info":"","in":[{"x":80,"y":260,"wires":[{"id":"4f7cda4a.29fa14"}]}],"out":[{"x":940,"y":260,"wires":[{"id":"6a46e855.cdd708","port":0}]}]},{"id":"3b21dfea.398118","type":"subflow","name":"Subflow 1","info":"","in":[{"x":280,"y":80,"wires":[]}],"out":[{"x":840,"y":60,"wires":[]},{"x":840,"y":130,"wires":[]}]},{"id":"3ba2a49e.7ce77c","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"MovIt","name":""},{"id":"311fce6b.a3ffd2","type":"mongodb2","name":""},{"id":"c2e023a5.ad0b","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/MovIt","name":"MovIt","options":"","parallelism":"-1"},{"id":"94e4b2c8.735b8","type":"mongodb2","z":"","uri":"","name":"","options":"","parallelism":"-1"},{"id":"2b8661c7.194ede","type":"mqtt-broker","z":"","name":"","broker":"raspberrypi.local","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ba331956.2c3558","type":"ftp","z":"","host":"192.168.2.228","port":"22","secureOptions":"","user":"pi","connTimeout":"","pasvTimeout":"","keepalive":"","password":"raspberry"},{"id":"e61fab25.c40b38","type":"sftp","z":"","host":"192.168.2.228","port":"22","username":"pi","password":"raspberry","hmac":"hmac-sha2-256,hmac-sha2-512,hmac-sha1","cipher":"aes128-ctr,aes192-ctr,aes256-ctr,aes128-gcm"},{"id":"8c99f6d6.ddd4d","type":"websocket-listener","z":"","path":"/ws/chairState","wholemsg":"false"},{"id":"fb6081dd.109bf","type":"websocket-listener","z":"","path":"/ws/rawData","wholemsg":"false"},{"id":"3f158145.0b3c46","type":"websocket-listener","z":"","path":"/ws/angleFSM","wholemsg":"false"},{"id":"c3eb9ecd.694a1","type":"websocket-listener","z":"","path":"/ws/travelFSM","wholemsg":"false"},{"id":"76042830.e1476","type":"websocket-listener","z":"","path":"/ws/seatingFSM","wholemsg":"false"},{"id":"9c42017f.b5ed3","type":"mqtt in","z":"ed0c995d.e2e7f8","name":"back angle","topic":"data/current_back_rest_angle","qos":"0","broker":"2b8661c7.194ede","x":100,"y":120,"wires":[["d353cbdb.5d4f58"]]},{"id":"1904009e.5a81df","type":"mqtt in","z":"ed0c995d.e2e7f8","name":"pressure","topic":"data/current_center_of_pressure","qos":"0","broker":"2b8661c7.194ede","x":100,"y":220,"wires":[["1c01fe0f.4afed2"]]},{"id":"c8f58011.f27ef","type":"mqtt in","z":"ed0c995d.e2e7f8","name":"someone","topic":"data/current_is_someone_there","qos":"0","broker":"2b8661c7.194ede","x":100,"y":320,"wires":[["d710158.344d1e8"]]},{"id":"e9a4e134.0416a","type":"http in","z":"62e9dd9c.3ec8b4","name":"","url":"/login","method":"post","upload":false,"swaggerDoc":"","x":150,"y":140,"wires":[["d7376764.918e88"]]},{"id":"c0aafdb5.90b58","type":"mongodb2 in","z":"62e9dd9c.3ec8b4","service":"_ext_","configNode":"c2e023a5.ad0b","name":"find user","collection":"User","operation":"findOne","x":660,"y":140,"wires":[["33c4d6e7.62eb2a"]]},{"id":"d7376764.918e88","type":"function","z":"62e9dd9c.3ec8b4","name":"get Username","func":"msg.payload= '{\"username\":\"'+msg.req.body.username+'\"}';\nvar crypto = context.global.cryptojs;\nmsg.pw = crypto.SHA256( msg.req.body.password).toString();\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":140,"wires":[["8386b3b8.afc4d"]]},{"id":"8386b3b8.afc4d","type":"json","z":"62e9dd9c.3ec8b4","name":"","property":"payload","action":"obj","pretty":false,"x":510,"y":140,"wires":[["c0aafdb5.90b58"]]},{"id":"33c4d6e7.62eb2a","type":"function","z":"62e9dd9c.3ec8b4","name":"validate Password","func":"if(msg.payload.password == msg.pw){\n    var token = context.global.cryptojs.lib.WordArray.random(32).toString();\n    msg.result ='{\"result\":0,\"token\":\"'+token+'\"}';\n    msg.payload.token= token;\n    msg.query ={\"username\":msg.payload.username}\n    msg.value= {\"username\":msg.payload.username,\"password\":msg.payload.password,\"token\":msg.payload.token};\n    msg.payload = [];\n    msg.payload[0]= msg.query;\n    msg.payload[1]=msg.value;\n}\nelse\n    msg.result = '{\"result\":401}';\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":140,"wires":[["89587608.3c4368"]]},{"id":"f787b8dd.85b708","type":"switch","z":"62e9dd9c.3ec8b4","name":"","property":"result.result","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1170,"y":140,"wires":[["a7bcd925.e25508"],["4b672da8.cf9b54"]]},{"id":"a7bcd925.e25508","type":"mongodb2 in","z":"62e9dd9c.3ec8b4","service":"_ext_","configNode":"c2e023a5.ad0b","name":"create token","collection":"User","operation":"findOneAndUpdate","x":1310,"y":100,"wires":[["4b672da8.cf9b54"]]},{"id":"a306472a.48f6f8","type":"http response","z":"62e9dd9c.3ec8b4","name":"","statusCode":"","headers":{},"x":1650,"y":140,"wires":[]},{"id":"4b672da8.cf9b54","type":"function","z":"62e9dd9c.3ec8b4","name":"send result","func":"msg.payload = msg.result;\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":140,"wires":[["a306472a.48f6f8"]]},{"id":"89587608.3c4368","type":"json","z":"62e9dd9c.3ec8b4","name":"","property":"result","action":"obj","pretty":false,"x":1030,"y":140,"wires":[["f787b8dd.85b708"]]},{"id":"176575a7.f0811a","type":"function","z":"c6f5a9d0.2bf118","name":"creation test","func":"var times = 0;\nvar timeStamps = 1517439600000;\nvar angles =0 ;\nvar docs=[];\nvar k =0;\nfor(j=0;j<62;j++){\n    for(i=0;i<300;i++){\n        var date = new Date(timeStamps);\n\n        var document = {date:date ,timestamp:timeStamps, angle:angles, fake:\"1\"};\n\n        docs[k] =document;\n        \n        timeStamps +=288000;\n        angles = Math.round(Math.random()*45);\n        k++;\n    }\n    timeStamps +=288000;\n    angles = Math.round(Math.random()*45);\n}\nmsg.payload=[docs];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[["3be155d4.aa209a"]]},{"id":"3be155d4.aa209a","type":"mongodb2 in","z":"c6f5a9d0.2bf118","service":"_ext_","configNode":"c2e023a5.ad0b","name":"insert test","collection":"back_angle","operation":"insertMany","x":660,"y":300,"wires":[["bbb4df43.97676"]]},{"id":"b11fb1c5.774ca","type":"http in","z":"79c89fe4.873e6","name":"getDaysWithData","url":"/daysWithData","method":"get","upload":false,"swaggerDoc":"","x":160,"y":220,"wires":[["93bd1535.1e8c98"]]},{"id":"768a845d.26bf5c","type":"mqtt in","z":"ed0c995d.e2e7f8","name":"speed","topic":"data/current_chair_speed","qos":"0","broker":"2b8661c7.194ede","x":110,"y":440,"wires":[["195ec0a8.18333f"]]},{"id":"cefddfdf.eda88","type":"function","z":"ed0c995d.e2e7f8","name":"","func":"var flowContext = this.context.flow;\nif(flowContext.isSitting==null){\n    flowContext.isSitting=0;\n}\nvar angles =msg.payload.angle;\nif( flowContext.isSitting==1){\n       var date = new Date(msg.payload.datetime*1000);\n       date.setUTCMinutes(date.getMinutes()-date.getTimezoneOffset());\n        msg.payload = {date:date ,timestamp:date.getTime(), angle:angles,isSitting:1, fake:\"0\"};\n}\nelse{\n    msg.payload=null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":100,"wires":[["14d35acb.066145"]]},{"id":"6c4c2373.39613c","type":"function","z":"ed0c995d.e2e7f8","name":"","func":"var flowContext = this.context.flow;\nif(flowContext.isSitting==null){\n    flowContext.isSitting=0;\n}\nvar angles =msg.payload.angle;\nif( flowContext.isSitting==1){\n       var date = new Date(msg.payload.datetime*1000);\n       date.setUTCMinutes(date.getMinutes()-date.getTimezoneOffset());\n        msg.payload = {date:date ,timestamp:date.getTime(), posX:msg.payload.pos_x, posY:msg.payload.pos_y, fake:\"0\"};\n}\nelse{\n    msg.payload=null;\n}\n\nreturn msg;return msg;","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["23b75a55.df6646"]]},{"id":"51301068.f29e4","type":"function","z":"ed0c995d.e2e7f8","name":"","func":"var flowContext = this.context.flow;\nflowContext.isSitting=msg.payload.IsSomeoneThere;\n\n var date = new Date(msg.payload.datetime*1000);\n       date.setUTCMinutes(date.getMinutes()-date.getTimezoneOffset());\n       msg.payload = {date:date ,timestamp:date.getTime(), isSitting:msg.payload.IsSomeoneThere};\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":320,"wires":[["eda9ac1f.df1a1"]]},{"id":"f48b2a1f.dced18","type":"function","z":"ed0c995d.e2e7f8","name":"","func":"var flowContext = this.context.flow;\nif(flowContext.isSitting==null){\n    flowContext.isSitting=0;\n}\nif( flowContext.isSitting==1){\n       var date = new Date(msg.payload.datetime*1000);\n       date.setUTCMinutes(date.getMinutes()-date.getTimezoneOffset());\n        msg.payload = {date:date ,timestamp:date.getTime(), isMoving:msg.payload.isMoving, isSitting:1};\n}\nelse{\n    msg.payload=null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":420,"wires":[["7e30b952.5c6758"]]},{"id":"334fcbeb.acd7d4","type":"http in","z":"79c89fe4.873e6","name":"getMonthWithData","url":"/monthsWithData","method":"get","upload":false,"swaggerDoc":"","x":150,"y":280,"wires":[["10b52e7e.2bc7c2"]]},{"id":"32438d51.b44d62","type":"http in","z":"79c89fe4.873e6","name":"getOneDay","url":"oneDay","method":"get","upload":false,"swaggerDoc":"","x":170,"y":400,"wires":[["6b826591.36243c"]]},{"id":"3da51abc.07fb96","type":"http response","z":"79c89fe4.873e6","name":"","statusCode":"","headers":{},"x":1270,"y":340,"wires":[]},{"id":"ca539df1.75ecd","type":"http in","z":"79c89fe4.873e6","name":"getOneMonth","url":"oneMonth","method":"get","upload":false,"swaggerDoc":"","x":170,"y":460,"wires":[["33bd490c.876dc6"]]},{"id":"d312ac17.d8c2b","type":"mongodb2 in","z":"ed0c995d.e2e7f8","service":"_ext_","configNode":"c2e023a5.ad0b","name":"","collection":"Current_State","operation":"update","x":1160,"y":440,"wires":[[]]},{"id":"26cb4eca.2d7212","type":"function","z":"ed0c995d.e2e7f8","name":"","func":"msg.payload =[{},{$set:{\"isSitting\":msg.payload.IsSomeoneThere}},{ upsert: true }];\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":360,"wires":[["d312ac17.d8c2b"]]},{"id":"12901cff.5ea7e3","type":"function","z":"ed0c995d.e2e7f8","name":"","func":"msg.payload =[{},{$set:{\"isMoving\":msg.payload.isMoving}}];\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":460,"wires":[["d312ac17.d8c2b"]]},{"id":"5a9da3b1.d44cfc","type":"function","z":"ed0c995d.e2e7f8","name":"","func":"msg.payload =[{},{$set:{\"currentPosX\":msg.payload.pos_x, \"currentPosY\":msg.payload.pos_y}}];\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["d312ac17.d8c2b"]]},{"id":"d7a5edc4.a355e","type":"function","z":"ed0c995d.e2e7f8","name":"","func":"msg.payload =[{},{$set:{\"currentAngle\":msg.payload.angle}},{ upsert: true }];\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":140,"wires":[["d312ac17.d8c2b"]]},{"id":"a2119568.f267a8","type":"mongodb2 in","z":"ed0c995d.e2e7f8","service":"_ext_","configNode":"c2e023a5.ad0b","name":"insert test","collection":"back_angle","operation":"insert","x":920,"y":100,"wires":[[]]},{"id":"d710158.344d1e8","type":"json","z":"ed0c995d.e2e7f8","name":"","property":"payload","action":"obj","pretty":false,"x":250,"y":320,"wires":[["26cb4eca.2d7212","ada903e8.cfb9e","a364a037.f5813"]]},{"id":"d353cbdb.5d4f58","type":"json","z":"ed0c995d.e2e7f8","name":"","property":"payload","action":"obj","pretty":false,"x":250,"y":120,"wires":[["d7a5edc4.a355e","725194f8.7f551c"]]},{"id":"1c01fe0f.4afed2","type":"json","z":"ed0c995d.e2e7f8","name":"","property":"payload","action":"obj","pretty":false,"x":250,"y":220,"wires":[["5a9da3b1.d44cfc","6c4c2373.39613c"]]},{"id":"195ec0a8.18333f","type":"json","z":"ed0c995d.e2e7f8","name":"","property":"payload","action":"obj","pretty":false,"x":250,"y":440,"wires":[["f48b2a1f.dced18","12901cff.5ea7e3"]]},{"id":"14d35acb.066145","type":"switch","z":"ed0c995d.e2e7f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":100,"wires":[["a2119568.f267a8"]]},{"id":"eda9ac1f.df1a1","type":"mongodb2 in","z":"ed0c995d.e2e7f8","service":"_ext_","configNode":"c2e023a5.ad0b","name":"insert test","collection":"sitting_time","operation":"insert","x":780,"y":320,"wires":[[]]},{"id":"128731b6.446e4e","type":"http in","z":"c6f5a9d0.2bf118","name":"","url":"/simulate","method":"post","upload":false,"swaggerDoc":"","x":300,"y":300,"wires":[["176575a7.f0811a","92a4d674.266a18"]]},{"id":"bbb4df43.97676","type":"http response","z":"c6f5a9d0.2bf118","name":"","statusCode":"","headers":{},"x":810,"y":300,"wires":[]},{"id":"bd8218c8.55a0f8","type":"http in","z":"79c89fe4.873e6","name":"","url":"/sittingTime","method":"get","upload":false,"swaggerDoc":"","x":160,"y":520,"wires":[["1bcf1c7a.a04914"]]},{"id":"92a4d674.266a18","type":"function","z":"c6f5a9d0.2bf118","name":"creation test","func":"var times = 0;\nvar timeStamps = 1517439600000;\nvar angles =0 ;\nvar docs=[];\nvar k =0;\nfor(j=0;j<62;j++){\n    for(i=0;i<300;i++){\n        var date = new Date(timeStamps);\n\n        var document = {date:date ,timestamp:timeStamps, isSitting:angles};\n\n        docs[k] =document;\n        \n        timeStamps +=288000;\n        angles = Math.round(Math.random()*1);\n        k++;\n    }\n    timeStamps +=288000;\n    angles = Math.round(Math.random()*1);\n}\nmsg.payload=[docs];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":360,"wires":[["729ba250.f752ec"]]},{"id":"729ba250.f752ec","type":"mongodb2 in","z":"c6f5a9d0.2bf118","service":"_ext_","configNode":"c2e023a5.ad0b","name":"insert test","collection":"sitting_time","operation":"insertMany","x":660,"y":360,"wires":[[]]},{"id":"6bad49a4.0bd018","type":"inject","z":"da4609d5.3036c8","name":"","topic":"","payload":"{\"datetime\":1517484102,\"angle\":35}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":420,"wires":[["c3b9ff8c.8355c"]]},{"id":"c3b9ff8c.8355c","type":"mqtt out","z":"da4609d5.3036c8","name":"angle","topic":"data/current_back_rest_angle","qos":"","retain":"","broker":"2b8661c7.194ede","x":630,"y":420,"wires":[]},{"id":"7803a8bb.c23928","type":"mqtt out","z":"da4609d5.3036c8","name":"sitt","topic":"data/current_is_someone_there","qos":"","retain":"","broker":"2b8661c7.194ede","x":630,"y":500,"wires":[]},{"id":"c81137a9.218838","type":"inject","z":"da4609d5.3036c8","name":"","topic":"","payload":"{\"datetime\":\"2018-02-04:23:00:00\",\"IsSomeoneThere\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":480,"wires":[["7803a8bb.c23928"]]},{"id":"dc3b7f24.e70ef","type":"inject","z":"da4609d5.3036c8","name":"","topic":"","payload":"{\"datetime\":\"2018-02-04:23:00:00\",\"IsSomeoneThere\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":520,"wires":[["7803a8bb.c23928"]]},{"id":"cd524360.4301b","type":"function","z":"da4609d5.3036c8","name":"creation test angle","func":"\nvar docs=[\n{date:new Date(\"2018-02-01T08:00:00.000Z\"), timestamp:\"1517439600000\",angle:35,isSitting:1},\n{date:new Date(\"2018-02-01T12:00:00.000Z\"), timestamp:\"1517439600000\",angle:12,isSitting:1},\n{date:new Date(\"2018-02-01T12:30:00.000Z\"), timestamp:\"1517439600000\",angle:20,isSitting:1},\n{date:new Date(\"2018-02-01T16:00:00.000Z\"), timestamp:\"1517439600000\",angle:35,isSitting:1},\n{date:new Date(\"2018-02-01T20:00:00.000Z\"), timestamp:\"1517439600000\",angle:46,isSitting:1},\n{date:new Date(\"2018-02-01T23:00:00.000Z\"), timestamp:\"1517439600000\",angle:46,isSitting:0},\n{date:new Date(\"2018-02-02T10:00:00.000Z\"), timestamp:\"1517439600000\",angle:15,isSitting:1},\n{date:new Date(\"2018-02-02T18:00:00.000Z\"), timestamp:\"1517439600000\",angle:15,isSitting:0},\n{date:new Date(\"2018-02-04T09:00:00.000Z\"), timestamp:\"1517439600000\",angle:35,isSitting:1},\n{date:new Date(\"2018-02-04T12:00:00.000Z\"), timestamp:\"1517439600000\",angle:12,isSitting:1},\n{date:new Date(\"2018-02-04T12:30:00.000Z\"), timestamp:\"1517439600000\",angle:35,isSitting:1},\n{date:new Date(\"2018-02-04T23:00:00.000Z\"), timestamp:\"1517439600000\",angle:35,isSitting:0}\n];\nmsg.payload=[docs];\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":580,"wires":[["4376acd7.2d9024"]]},{"id":"4376acd7.2d9024","type":"mongodb2 in","z":"da4609d5.3036c8","service":"_ext_","configNode":"c2e023a5.ad0b","name":"insert test","collection":"back_angle","operation":"insertMany","x":860,"y":580,"wires":[[]]},{"id":"c52426ed.6c2d08","type":"function","z":"da4609d5.3036c8","name":"creation test sitting","func":"var docs=[\n{date:new Date(\"2018-02-01T08:00:00.000Z\"), timestamp:\"1517439600000\",isSitting:1},\n{date:new Date(\"2018-02-01T23:00:00.000Z\"), timestamp:\"1517439600000\",isSitting:0},\n{date:new Date(\"2018-02-02T10:00:00.000Z\"), timestamp:\"1517439600000\",isSitting:1},\n{date:new Date(\"2018-02-02T18:00:00.000Z\"), timestamp:\"1517439600000\",isSitting:0},\n{date:new Date(\"2018-02-04T09:00:00.000Z\"), timestamp:\"1517439600000\",isSitting:1},\n{date:new Date(\"2018-02-04T23:00:00.000Z\"), timestamp:\"1517439600000\",isSitting:0}\n];\nmsg.payload=[docs];\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":640,"wires":[["d4c89718.1e4bd8"]]},{"id":"d4c89718.1e4bd8","type":"mongodb2 in","z":"da4609d5.3036c8","service":"_ext_","configNode":"c2e023a5.ad0b","name":"insert test","collection":"sitting_time","operation":"insertMany","x":860,"y":640,"wires":[[]]},{"id":"dd1eeedc.1048f","type":"inject","z":"da4609d5.3036c8","name":"","topic":"","payload":"{\"datetime\":\"2018-03-11:13:01:02\",\"IsSomeoneThere\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":580,"wires":[["cd524360.4301b"]]},{"id":"e720d2bb.dc388","type":"mongodb2 in","z":"ed0c995d.e2e7f8","service":"_ext_","configNode":"c2e023a5.ad0b","name":"LastTime","collection":"back_angle","operation":"aggregate.toArray","x":780,"y":280,"wires":[["607e252.184dddc"]]},{"id":"ce696998.b38988","type":"function","z":"ed0c995d.e2e7f8","name":"","func":" var flowContext = this.context.flow;\nflowContext.isSitting=msg.payload.IsSomeoneThere;\n var date = new Date(msg.payload.datetime*1000);\n       date.setUTCMinutes(date.getMinutes()-date.getTimezoneOffset());\nmsg.back = {date:date ,timestamp:date.getTime(), isSitting:msg.payload.IsSomeoneThere};\n msg.payload =[[\n     {\n         \"$sort\":{date: 1}\n     },\n    {\n        \"$group\":{\n            \"_id\":null,\n           // \"date\":{$last:\"$date\"},\n            \"angle\":{$last:\"$angle\"}\n        }\n    }\n   ]];\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":280,"wires":[["e720d2bb.dc388"]]},{"id":"607e252.184dddc","type":"function","z":"ed0c995d.e2e7f8","name":"","func":"msg.payload={\n    angle:msg.payload[0].angle, date:msg.back.date,timestamp:parseInt(msg.back.timestamp),sitting:msg.back.isSitting\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":280,"wires":[["a663d635.c9a558"]]},{"id":"ada903e8.cfb9e","type":"switch","z":"ed0c995d.e2e7f8","name":"sitting=0","property":"payload.IsSomeoneThere","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":280,"wires":[["ce696998.b38988"]]},{"id":"a663d635.c9a558","type":"mongodb2 in","z":"ed0c995d.e2e7f8","service":"_ext_","configNode":"c2e023a5.ad0b","name":"insert test","collection":"back_angle","operation":"insert","x":1080,"y":280,"wires":[[]]},{"id":"68930c4.adc52f4","type":"inject","z":"da4609d5.3036c8","name":"","topic":"","payload":"{\"datetime\":\"2018-03-11:13:01:02\",\"IsSomeoneThere\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":640,"wires":[["c52426ed.6c2d08"]]},{"id":"922360f7.46ec","type":"json","z":"4e4dbcc2.17d054","name":"","property":"payload","action":"obj","pretty":false,"x":430,"y":320,"wires":[["445de54c.95801c"]]},{"id":"16daffa2.467b7","type":"mongodb2 in","z":"4e4dbcc2.17d054","service":"_ext_","configNode":"c2e023a5.ad0b","name":"find one","collection":"User","operation":"findOne","x":760,"y":340,"wires":[["b0d913b4.e7c34"]]},{"id":"b0d913b4.e7c34","type":"switch","z":"4e4dbcc2.17d054","name":"result","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":340,"wires":[["50caa40d.80abec"],["db0ceff6.603c"]]},{"id":"445de54c.95801c","type":"function","z":"4e4dbcc2.17d054","name":"","func":"msg.payload = {token:msg.payload.authorization};\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":340,"wires":[["16daffa2.467b7"]]},{"id":"aba7736e.afb03","type":"http response","z":"4e4dbcc2.17d054","name":"","statusCode":"","headers":{},"x":1290,"y":340,"wires":[]},{"id":"e29f42ca.a113c","type":"function","z":"4e4dbcc2.17d054","name":"get body","func":"msg.backup=msg.payload ;\nmsg.payload = msg.req.headers;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":320,"wires":[["922360f7.46ec"]]},{"id":"db0ceff6.603c","type":"function","z":"4e4dbcc2.17d054","name":"get body","func":"msg.payload=msg.backup ;\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":300,"wires":[[]]},{"id":"93bd1535.1e8c98","type":"subflow:4e4dbcc2.17d054","z":"79c89fe4.873e6","name":"","x":350,"y":220,"wires":[["2465d36d.b4433c"]]},{"id":"10b52e7e.2bc7c2","type":"subflow:4e4dbcc2.17d054","z":"79c89fe4.873e6","name":"","x":350,"y":280,"wires":[["4d07edfe.46c584"]]},{"id":"6b826591.36243c","type":"subflow:4e4dbcc2.17d054","z":"79c89fe4.873e6","name":"","x":350,"y":400,"wires":[["65edf301.deb70c"]]},{"id":"33bd490c.876dc6","type":"subflow:4e4dbcc2.17d054","z":"79c89fe4.873e6","name":"","x":350,"y":460,"wires":[["b5de3bd6.ecc668"]]},{"id":"1bcf1c7a.a04914","type":"subflow:4e4dbcc2.17d054","z":"79c89fe4.873e6","name":"","x":350,"y":520,"wires":[["cb186131.b222"]]},{"id":"fca36f1b.c400a","type":"mqtt out","z":"1dab1279.d003ee","name":"","topic":"data/set_alarm","qos":"","retain":"","broker":"2b8661c7.194ede","x":760,"y":160,"wires":[]},{"id":"a8fe4166.90a7b","type":"function","z":"1dab1279.d003ee","name":"","func":"msg.payload=  msg.payload.State ===\"on\" ? 1 :0;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":160,"wires":[["fca36f1b.c400a"]]},{"id":"90869b6d.636e88","type":"http in","z":"1dab1279.d003ee","name":"","url":"/alert","method":"get","upload":false,"swaggerDoc":"","x":260,"y":180,"wires":[["55cf64d2.e7931c"]]},{"id":"4c76740e.843a4c","type":"mqtt out","z":"1dab1279.d003ee","name":"","topic":"config/calib_pressure_mat","qos":"","retain":"","broker":"2b8661c7.194ede","x":800,"y":260,"wires":[]},{"id":"68b6df65.8696d","type":"http in","z":"1dab1279.d003ee","name":"","url":"/calibrate","method":"get","upload":false,"swaggerDoc":"","x":250,"y":280,"wires":[["7a6176f3.bdbe58"]]},{"id":"4db2b363.77881c","type":"function","z":"1dab1279.d003ee","name":"","func":"msg.payload=  1\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":260,"wires":[["4c76740e.843a4c"]]},{"id":"55cf64d2.e7931c","type":"subflow:4e4dbcc2.17d054","z":"1dab1279.d003ee","x":430,"y":180,"wires":[["a8fe4166.90a7b","7e115d8f.58b764"]]},{"id":"7a6176f3.bdbe58","type":"subflow:4e4dbcc2.17d054","z":"1dab1279.d003ee","x":430,"y":280,"wires":[["4db2b363.77881c","17359388.23940c"]]},{"id":"d3adfe9c.210ea","type":"http response","z":"1dab1279.d003ee","name":"","statusCode":"","headers":{},"x":830,"y":300,"wires":[]},{"id":"17359388.23940c","type":"template","z":"1dab1279.d003ee","name":"return erreur ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"result\":\"ok\"}","output":"str","x":610,"y":300,"wires":[["d3adfe9c.210ea"]]},{"id":"7e115d8f.58b764","type":"template","z":"1dab1279.d003ee","name":"return erreur ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"result\":\"ok\"}","output":"str","x":610,"y":200,"wires":[["37358c65.cbeb74"]]},{"id":"37358c65.cbeb74","type":"http response","z":"1dab1279.d003ee","name":"","statusCode":"","headers":{},"x":830,"y":200,"wires":[]},{"id":"23b75a55.df6646","type":"mongodb2 in","z":"ed0c995d.e2e7f8","service":"_ext_","configNode":"c2e023a5.ad0b","name":"insert test","collection":"gravity_Center","operation":"insert","x":540,"y":200,"wires":[[]]},{"id":"c4236f86.ae4f2","type":"mqtt out","z":"1dab1279.d003ee","name":"","topic":"config/calib_imu","qos":"","retain":"","broker":"2b8661c7.194ede","x":760,"y":360,"wires":[]},{"id":"e468a5e2.16d5f8","type":"http in","z":"79c89fe4.873e6","name":"","url":"/gravityCenter","method":"get","upload":false,"swaggerDoc":"","x":150,"y":580,"wires":[["acab6567.a37208"]]},{"id":"acab6567.a37208","type":"subflow:4e4dbcc2.17d054","z":"79c89fe4.873e6","name":"","x":350,"y":580,"wires":[["45ba2c72.373494"]]},{"id":"a4d60f98.27b73","type":"function","z":"da4609d5.3036c8","name":"creation test centre pression","func":"\nvar docs=[\n{date:new Date(\"2018-02-01T08:00:00.000Z\"), timestamp:\"1517439600000\",posX:0, posY:0},\n{date:new Date(\"2018-02-01T12:00:00.000Z\"), timestamp:\"1517439600000\",posX:-1.2, posY:-5.2},\n{date:new Date(\"2018-02-01T12:30:00.000Z\"), timestamp:\"1517439600000\",posX:-3.3, posY:-4.3},\n{date:new Date(\"2018-02-01T16:00:00.000Z\"), timestamp:\"1517439600000\",posX:2.4, posY:-3.0},\n{date:new Date(\"2018-02-01T20:00:00.000Z\"), timestamp:\"1517439600000\",posX:4.1, posY:2.3},\n{date:new Date(\"2018-02-01T23:00:00.000Z\"), timestamp:\"1517439600000\",posX:1.7, posY:1.1},\n{date:new Date(\"2018-02-02T10:00:00.000Z\"), timestamp:\"1517439600000\",posX:-3.8, posY:6.5},\n{date:new Date(\"2018-02-02T18:00:00.000Z\"), timestamp:\"1517439600000\",posX:2.5, posY:3.6},\n{date:new Date(\"2018-02-04T09:00:00.000Z\"), timestamp:\"1517439600000\",posX:3.1, posY:0.6},\n{date:new Date(\"2018-02-04T12:00:00.000Z\"), timestamp:\"1517439600000\",posX:1.6, posY:-3.5},\n{date:new Date(\"2018-02-04T12:30:00.000Z\"), timestamp:\"1517439600000\",posX:0.3, posY:-5.1},\n{date:new Date(\"2018-02-04T23:00:00.000Z\"), timestamp:\"1517439600000\",posX:-0.4, posY:1}\n]\nmsg.payload=[docs];\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":700,"wires":[["19a47f60.544fc1"]]},{"id":"19a47f60.544fc1","type":"mongodb2 in","z":"da4609d5.3036c8","service":"_ext_","configNode":"c2e023a5.ad0b","name":"insert test","collection":"gravity_Center","operation":"insertMany","x":920,"y":700,"wires":[[]]},{"id":"acae8973.72fab8","type":"inject","z":"da4609d5.3036c8","name":"","topic":"","payload":"{\"datetime\":\"2018-03-11:13:01:02\",\"IsSomeoneThere\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":700,"wires":[["a4d60f98.27b73"]]},{"id":"d58ab2a6.9d44e","type":"http in","z":"62e9dd9c.3ec8b4","name":"","url":"/changePassword","method":"post","upload":false,"swaggerDoc":"","x":110,"y":280,"wires":[["2837a1dc.2d708e"]]},{"id":"2837a1dc.2d708e","type":"function","z":"62e9dd9c.3ec8b4","name":"get Username","func":"msg.payload= '{\"username\":\"'+msg.req.body.username+'\"}';\nvar crypto = context.global.cryptojs;\nmsg.pw = crypto.SHA256( msg.req.body.password).toString();\nmsg.newPassword = crypto.SHA256( msg.req.body.newPassword).toString();\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":280,"wires":[["9ea82417.491cb8"]]},{"id":"9e80e969.bc5eb8","type":"mongodb2 in","z":"62e9dd9c.3ec8b4","service":"_ext_","configNode":"c2e023a5.ad0b","name":"find user","collection":"User","operation":"findOne","x":660,"y":280,"wires":[["5c9515bf.c1de6c"]]},{"id":"9ea82417.491cb8","type":"json","z":"62e9dd9c.3ec8b4","name":"","property":"payload","action":"obj","pretty":false,"x":510,"y":280,"wires":[["9e80e969.bc5eb8"]]},{"id":"5c9515bf.c1de6c","type":"function","z":"62e9dd9c.3ec8b4","name":"validate Password","func":"if(msg.payload.password == msg.pw){\n    msg.payload =[{username:msg.payload.username},{$set:{\"password\":msg.newPassword}}];\n        msg.result = '{\"result\":\"0\"}';\n}\nelse\n    msg.result = '{\"result\":401}';\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":280,"wires":[["1ee344bd.f16f0b"]]},{"id":"1ee344bd.f16f0b","type":"json","z":"62e9dd9c.3ec8b4","name":"","property":"result","action":"obj","pretty":false,"x":1030,"y":280,"wires":[["88f93e56.526c5"]]},{"id":"88f93e56.526c5","type":"switch","z":"62e9dd9c.3ec8b4","name":"","property":"result.result","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1170,"y":280,"wires":[["d56ef679.fb5018"],["1ac988a8.1b48e7"]]},{"id":"d56ef679.fb5018","type":"mongodb2 in","z":"62e9dd9c.3ec8b4","service":"_ext_","configNode":"c2e023a5.ad0b","name":"change password","collection":"User","operation":"update","x":1350,"y":240,"wires":[["1ac988a8.1b48e7"]]},{"id":"bd8c13e2.e69f6","type":"http response","z":"62e9dd9c.3ec8b4","name":"","statusCode":"","headers":{},"x":1710,"y":280,"wires":[]},{"id":"1ac988a8.1b48e7","type":"function","z":"62e9dd9c.3ec8b4","name":"send result","func":"msg.payload = msg.result;\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":280,"wires":[["bd8c13e2.e69f6"]]},{"id":"f2bfa75e.b30838","type":"mqtt in","z":"ed0c995d.e2e7f8","name":"config response","topic":"config/calibration_response","qos":"0","broker":"2b8661c7.194ede","x":80,"y":520,"wires":[["5e6bf631.0b5378"]]},{"id":"f527aeb6.769e2","type":"http in","z":"1dab1279.d003ee","name":"","url":"/calibrateIMU","method":"get","upload":false,"swaggerDoc":"","x":230,"y":380,"wires":[["7acd0e4b.bda97"]]},{"id":"4418021e.cc065c","type":"function","z":"1dab1279.d003ee","name":"","func":"msg.payload=  1\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":360,"wires":[["c4236f86.ae4f2"]]},{"id":"7acd0e4b.bda97","type":"subflow:4e4dbcc2.17d054","z":"1dab1279.d003ee","x":430,"y":380,"wires":[["4418021e.cc065c","d7c8408e.974c7"]]},{"id":"d7c8408e.974c7","type":"template","z":"1dab1279.d003ee","name":"return erreur ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"result\":\"ok\"}","output":"str","x":610,"y":400,"wires":[["d9f03d00.c36cf"]]},{"id":"d9f03d00.c36cf","type":"http response","z":"1dab1279.d003ee","name":"","statusCode":"","headers":{},"x":830,"y":400,"wires":[]},{"id":"d4b4059c.39ef68","type":"http in","z":"da4609d5.3036c8","name":"","url":"/testBackEnd","method":"get","upload":false,"swaggerDoc":"","x":450,"y":1220,"wires":[["62ea1e9e.647d8","d72b3f20.3cc26"]]},{"id":"3ac333ac.96148c","type":"function","z":"da4609d5.3036c8","name":"","func":"var expected={\"7200000\":{\"x\":-1.2,\"y\":-5.2},\"9000000\":{\"x\":-3.3,\"y\":-4.3},\"21600000\":{\"x\":2.4,\"y\":-3},\"36000000\":{\"x\":4.1,\"y\":2.3},\"46800000\":{\"x\":1.7,\"y\":1.1}};\nif(JSON.stringify(msg.payload)===JSON.stringify(expected)){\n    msg.payload= {result:0,message:'Gravity Center -10: ok'}; \n}\nelse{\n    msg.payload= {result:1,message:'Gravity Center -10: \\nValeur attendu: '+JSON.stringify(expected)+' \\nValeur obtenu : '+JSON.stringify(msg.payload)}; \n}\nreturn msg;\n","outputs":1,"noerr":0,"x":1090,"y":1340,"wires":[["1cac304e.5eec9"]]},{"id":"d2fbd461.d36b08","type":"http response","z":"da4609d5.3036c8","name":"","statusCode":"","headers":{},"x":1590,"y":1228,"wires":[]},{"id":"8ae3a664.809648","type":"function","z":"da4609d5.3036c8","name":"","func":"var expected={\"28800000\":{\"x\":0,\"y\":0},\"43200000\":{\"x\":-1.2,\"y\":-5.2},\"45000000\":{\"x\":-3.3,\"y\":-4.3},\"57600000\":{\"x\":2.4,\"y\":-3},\"72000000\":{\"x\":4.1,\"y\":2.3},\"82800000\":{\"x\":1.7,\"y\":1.1}};\nif(JSON.stringify(msg.payload).trim()===JSON.stringify(expected).trim()){\n     msg.payload= {result:0,message:'Gravity Center 0: ok'}; \n}\nelse{\n   msg.payload= {result:1,message:'Gravity Center 0: \\nValeur attendu: '+JSON.stringify(expected)+'\\nValeur obtenu : '+JSON.stringify(msg.payload)}; \n}\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":1040,"wires":[["1cac304e.5eec9"]]},{"id":"1cac304e.5eec9","type":"join","z":"da4609d5.3036c8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"14","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1310,"y":1228,"wires":[["98039178.c317c"]]},{"id":"98039178.c317c","type":"sort","z":"da4609d5.3036c8","name":"","order":"descending","as_num":true,"target":"payload","targetType":"msg","msgKey":"result","msgKeyType":"jsonata","seqKey":"payload","seqKeyType":"msg","x":1450,"y":1228,"wires":[["d2fbd461.d36b08"]]},{"id":"e70f4e44.d8da7","type":"function","z":"da4609d5.3036c8","name":"","func":"var expected={\"1\":780,\"2\":480,\"3\":60,\"4\":780,\"5\":0,\"6\":0,\"7\":0,\"8\":0,\"9\":0,\"10\":0,\"11\":0,\"12\":0,\"13\":0,\"14\":0,\"15\":0,\"16\":0,\"17\":0,\"18\":0,\"19\":0,\"20\":0,\"21\":0,\"22\":0,\"23\":0,\"24\":0,\"25\":0,\"26\":0,\"27\":0,\"28\":0,\"29\":0,\"30\":0};\nif(JSON.stringify(msg.payload).trim()===JSON.stringify(expected).trim()){\n    msg.payload= {result:0,message:'Sitting time -10: ok'}; \n}\nelse{\n    msg.payload= {result:1,message: 'Sitting time -10: \\nValeur attendu: '+JSON.stringify(expected)+'\\nValeur obtenu : '+JSON.stringify(msg.payload)}; \n}\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":1300,"wires":[["1cac304e.5eec9"]]},{"id":"19857de6.7b4462","type":"function","z":"da4609d5.3036c8","name":"","func":"var expected={\"1\":900,\"2\":480,\"3\":0,\"4\":840,\"5\":0,\"6\":0,\"7\":0,\"8\":0,\"9\":0,\"10\":0,\"11\":0,\"12\":0,\"13\":0,\"14\":0,\"15\":0,\"16\":0,\"17\":0,\"18\":0,\"19\":0,\"20\":0,\"21\":0,\"22\":0,\"23\":0,\"24\":0,\"25\":0,\"26\":0,\"27\":0,\"28\":0,\"29\":0,\"30\":0};\nif(JSON.stringify(msg.payload).trim()===JSON.stringify(expected).trim()){\n    msg.payload= {result:0,message:'Sitting time 0: ok'}; \n}\nelse{\n    msg.payload= {result:1,message:'Sitting time 0: \\nValeur attendu: '+JSON.stringify(expected)+'\\nValeur obtenu : '+JSON.stringify(msg.payload)}; \n}\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":1000,"wires":[["1cac304e.5eec9"]]},{"id":"d2e09292.64e08","type":"function","z":"da4609d5.3036c8","name":"","func":"var expected={\"2018\":[2]};\nif(JSON.stringify(msg.payload).trim()===JSON.stringify(expected).trim()){\n    msg.payload= {result:0,message:'Month with data time 0: ok'}; \n}\nelse{\n   msg.payload= {result:1,message:'Month with data 0: \\nValeur attendu: '+JSON.stringify(expected)+'\\nValeur obtenu : '+JSON.stringify(msg.payload)}; \n}\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":1200,"wires":[["1cac304e.5eec9"]]},{"id":"7a928942.66a808","type":"function","z":"da4609d5.3036c8","name":"","func":"var expected={\"2018\":[2,1]};\nif(JSON.stringify(msg.payload).trim()===JSON.stringify(expected).trim()){\n    msg.payload= {result:0,message:'Month with data -10: ok'}; \n}\nelse{\n    msg.payload= {result:1,message:'Month with data -10: \\nValeur attendu: '+JSON.stringify(expected)+'\\nValeur obtenu : '+JSON.stringify(msg.payload)}; \n}\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":1500,"wires":[["1cac304e.5eec9"]]},{"id":"4a2bc940.d459d8","type":"function","z":"da4609d5.3036c8","name":"","func":"var expected={\"2018\":{\"1\":[31],\"2\":[4,3,2,1]}};\nif(JSON.stringify(msg.payload).trim()===JSON.stringify(expected).trim()){\n    msg.payload= {result:0,message:'Day with data -10: ok'}; \n}\nelse{\n    msg.payload= {result:1,message:'Day with data -10: \\nValeur attendu: '+JSON.stringify(expected)+'\\nValeur obtenu : '+JSON.stringify(msg.payload)}; \n}\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":1460,"wires":[["1cac304e.5eec9"]]},{"id":"3839e354.b00c1c","type":"function","z":"da4609d5.3036c8","name":"","func":"var expected={\"2018\":{\"2\":[4,2,1]}};\nif(JSON.stringify(msg.payload).trim()===JSON.stringify(expected).trim()){\n    msg.payload= {result:0,message:'Day with data 0: ok'}; \n}\nelse{\n    msg.payload= {result:1,message:'Day with data 0: \\nValeur attendu: '+JSON.stringify(expected)+'\\nValeur obtenu : '+JSON.stringify(msg.payload)}; \n}\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":1160,"wires":[["1cac304e.5eec9"]]},{"id":"cde0e0b7.51abe","type":"http response","z":"b9daa40a.159ce8","name":"","statusCode":"","headers":{},"x":850,"y":140,"wires":[]},{"id":"21ca71e5.fbb5fe","type":"http in","z":"b9daa40a.159ce8","name":"","url":"/goal","method":"get","upload":false,"swaggerDoc":"","x":160,"y":240,"wires":[["380d1904.c4e1d6"]]},{"id":"fd58072b.243318","type":"mongodb2 in","z":"b9daa40a.159ce8","service":"_ext_","configNode":"c2e023a5.ad0b","name":"find one","collection":"Config","operation":"findOne","x":640,"y":240,"wires":[["74bd7263.339dbc"]]},{"id":"e995576.05dbaa8","type":"function","z":"b9daa40a.159ce8","name":"","func":"var request = [{\"Value\":\"Goal\"},msg.payload];\nmsg.payload= request;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":240,"wires":[["fd58072b.243318"]]},{"id":"c4e4138e.9e1be","type":"function","z":"da4609d5.3036c8","name":"","func":"var expected={\"1\":[0,1800000,12600000,14400000,10800000],\"2\":[0,0,28800000,0,0],\"3\":[0,0,0,3599999,0],\"4\":[0,1800000,0,37800000,0],\"5\":[],\"6\":[],\"7\":[],\"8\":[],\"9\":[],\"10\":[],\"11\":[],\"12\":[],\"13\":[],\"14\":[],\"15\":[],\"16\":[],\"17\":[],\"18\":[],\"19\":[],\"20\":[],\"21\":[],\"22\":[],\"23\":[],\"24\":[],\"25\":[],\"26\":[],\"27\":[],\"28\":[]};\nif(JSON.stringify(msg.payload).trim()===JSON.stringify(expected).trim()){\n    msg.payload= {result:0,message:'one month -10: ok'}; \n}\nelse{\n   msg.payload= {result:1,message: 'one Month -10: \\nValeur attendu: '+JSON.stringify(expected)+'\\nValeur obtenu : '+JSON.stringify(msg.payload)}; \n}\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":1260,"wires":[["1cac304e.5eec9"]]},{"id":"f4ee485f.c665c8","type":"function","z":"da4609d5.3036c8","name":"","func":"var expected={\"1\":[0,1800000,12600000,28800000,10800000],\"2\":[0,0,28800000,0,0],\"3\":[],\"4\":[0,1800000,0,48600000,0],\"5\":[],\"6\":[],\"7\":[],\"8\":[],\"9\":[],\"10\":[],\"11\":[],\"12\":[],\"13\":[],\"14\":[],\"15\":[],\"16\":[],\"17\":[],\"18\":[],\"19\":[],\"20\":[],\"21\":[],\"22\":[],\"23\":[],\"24\":[],\"25\":[],\"26\":[],\"27\":[],\"28\":[]};\nif(JSON.stringify(msg.payload).trim()===JSON.stringify(expected).trim()){\n    msg.payload= {result:0,message:'one month 0: ok'}; \n}\nelse{\n    msg.payload= {result:1,message:'one month 0: \\nValeur attendu: '+JSON.stringify(expected)+'\\nValeur obtenu : '+JSON.stringify(msg.payload)}; \n}\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":960,"wires":[["1cac304e.5eec9"]]},{"id":"7445ce75.719e8","type":"http in","z":"79c89fe4.873e6","name":"lastDate","url":"/lastDate","method":"get","upload":false,"swaggerDoc":"","x":180,"y":160,"wires":[["1ab23a65.f2c4c6"]]},{"id":"1ab23a65.f2c4c6","type":"subflow:4e4dbcc2.17d054","z":"79c89fe4.873e6","name":"","x":350,"y":160,"wires":[["370a31ba.e85e9e","29e49b13.4a6054"]]},{"id":"2b4014f9.e62f9c","type":"http in","z":"b9daa40a.159ce8","name":"","url":"/goal","method":"post","upload":false,"swaggerDoc":"","x":160,"y":120,"wires":[["19092c9d.73cff3"]]},{"id":"c2165ebd.f4e88","type":"function","z":"b9daa40a.159ce8","name":"","func":"msg.payload =[{Value:\"Goal\"},{$set:msg.req.body}];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":120,"wires":[["62d22b6c.9fe194"]]},{"id":"62d22b6c.9fe194","type":"mongodb2 in","z":"b9daa40a.159ce8","service":"_ext_","configNode":"c2e023a5.ad0b","name":"","collection":"Config","operation":"update","x":670,"y":120,"wires":[["cde0e0b7.51abe","8545f6a9.272de8"]]},{"id":"1bbfa625.d3672a","type":"function","z":"da4609d5.3036c8","name":"","func":"var expected=1517749200000;\nif(JSON.stringify(msg.payload)===JSON.stringify(expected)){\n    msg.payload= {result:0,message:'last Date -10: ok'}; \n}\nelse{\n    msg.payload= {result:1,message:'last Date -10: \\nValeur attendu: '+JSON.stringify(expected)+' \\nValeur obtenu : '+JSON.stringify(msg.payload)}; \n}\nreturn msg;\n","outputs":1,"noerr":0,"x":1090,"y":1420,"wires":[["1cac304e.5eec9"]]},{"id":"5c9aef57.edd67","type":"function","z":"da4609d5.3036c8","name":"","func":"var expected=1517785200000;\nif(JSON.stringify(msg.payload)===JSON.stringify(expected)){\n    msg.payload= {result:0,message:'last date 0: ok'}; \n}\nelse{\n    msg.payload= {result:1,message:'lastdate 0: \\nValeur attendu: '+JSON.stringify(expected)+' \\nValeur obtenu : '+JSON.stringify(msg.payload)}; \n}\nreturn msg;\n","outputs":1,"noerr":0,"x":1090,"y":1120,"wires":[["1cac304e.5eec9"]]},{"id":"d02973b1.307ca","type":"function","z":"ed0c995d.e2e7f8","name":"","func":"msg.payload =[{},{$set:{\"currentCalib\":msg.payload.calibState}}];\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":520,"wires":[["d312ac17.d8c2b"]]},{"id":"5e6bf631.0b5378","type":"json","z":"ed0c995d.e2e7f8","name":"","property":"payload","action":"obj","pretty":false,"x":250,"y":520,"wires":[["d02973b1.307ca"]]},{"id":"2fe9866.fd70c7a","type":"http in","z":"79c89fe4.873e6","name":"isCalibrating","url":"/isCalibrating","method":"get","upload":false,"swaggerDoc":"","x":170,"y":340,"wires":[["d691dbf2.6ec1e8"]]},{"id":"d691dbf2.6ec1e8","type":"subflow:4e4dbcc2.17d054","z":"79c89fe4.873e6","name":"","x":350,"y":340,"wires":[["c78dfd15.05695"]]},{"id":"c78dfd15.05695","type":"function","z":"79c89fe4.873e6","name":"get month ","func":" msg.payload =[[{ \"$match\": { Value: \"CurrentState\" } },\n  { \"$project\": { \n         \"currentCalib\": \"$currentCalib\"\n    }}\n   ]];\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":340,"wires":[["d80d7d9b.e24bd"]]},{"id":"d80d7d9b.e24bd","type":"mongodb2 in","z":"79c89fe4.873e6","service":"_ext_","configNode":"c2e023a5.ad0b","name":"getCalibState","collection":"Current_State","operation":"aggregate.toArray","x":720,"y":340,"wires":[["2aa866ce.a6e74a"]]},{"id":"2aa866ce.a6e74a","type":"function","z":"79c89fe4.873e6","name":"format result","func":"msg.payload = {result:msg.payload[0].currentCalib};\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":340,"wires":[["3da51abc.07fb96"]]},{"id":"ac97c3c0.f2bd2","type":"mqtt in","z":"ed0c995d.e2e7f8","name":"","topic":"data/keep_alive","qos":"0","broker":"2b8661c7.194ede","x":80,"y":660,"wires":[["d12cc21f.4a64f"]]},{"id":"50caa40d.80abec","type":"function","z":"4e4dbcc2.17d054","name":"","func":"    msg.statusCode = 401\n\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":360,"wires":[["aba7736e.afb03"]]},{"id":"89a5da6.88b7a28","type":"http in","z":"1dab1279.d003ee","name":"","url":"/SelectWifi","method":"post","upload":false,"swaggerDoc":"","x":240,"y":500,"wires":[["518e2ad0.0e5764"]]},{"id":"f7ef3d11.bd494","type":"function","z":"1dab1279.d003ee","name":"","func":"msg.payload =msg.req.body.ssid +\";\"+msg.req.body.psk;\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":471,"wires":[["a5856f74.a34ee","c1a557ed.fb9858"]]},{"id":"c1a557ed.fb9858","type":"mqtt out","z":"1dab1279.d003ee","name":"","topic":"config/wifi","qos":"","retain":"","broker":"2b8661c7.194ede","x":740,"y":491,"wires":[]},{"id":"a5856f74.a34ee","type":"debug","z":"1dab1279.d003ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":451,"wires":[]},{"id":"d12cc21f.4a64f","type":"json","z":"ed0c995d.e2e7f8","name":"","property":"payload","action":"obj","pretty":false,"x":250,"y":660,"wires":[["c7b9b484.9a2c98"]]},{"id":"baf28c9e.7239c","type":"function","z":"ed0c995d.e2e7f8","name":"","func":"msg.payload =[{},{$set:{\"keepAlive\":msg.payload}}];\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":500,"wires":[["d312ac17.d8c2b"]]},{"id":"402e62db.9318dc","type":"json","z":"335e86e1.c431da","name":"","property":"payload","action":"obj","pretty":false,"x":170,"y":140,"wires":[["d2a339de.094b78"]]},{"id":"d2a339de.094b78","type":"function","z":"335e86e1.c431da","name":"","func":" msg.backup=msg.payload;\n\n msg.payload =[[{ \"$match\": { Value: \"CurrentState\" } },\n  { \"$project\": { \n         \"keepAlive\": \"$keepAlive\"\n    }}\n   ]];\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":140,"wires":[["bb89477c.b47ab8"]]},{"id":"bb89477c.b47ab8","type":"mongodb2 in","z":"335e86e1.c431da","service":"_ext_","configNode":"c2e023a5.ad0b","name":"getKeepAlive","collection":"Current_State","operation":"aggregate.toArray","x":470,"y":140,"wires":[["2ab055df.86637a"]]},{"id":"2ab055df.86637a","type":"function","z":"335e86e1.c431da","name":"get body","func":"msg.keepAlive =msg.payload[0].keepAlive;\n\nif((msg.backup.datetime - msg.keepAlive) > 900)\n    msg.result =0;\nelse\n    msg.result=1;\nmsg.payload =msg.backup;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":140,"wires":[["1bef11f.97294ee"]]},{"id":"1bef11f.97294ee","type":"switch","z":"335e86e1.c431da","name":"","property":"result","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":140,"wires":[["4618534d.db9b9c"],["54e3eb5e.a5e6a4"]]},{"id":"1c8dfbb9.335e14","type":"mongodb2 in","z":"335e86e1.c431da","service":"_ext_","configNode":"c2e023a5.ad0b","name":"LastTime","collection":"back_angle","operation":"aggregate.toArray","x":400,"y":340,"wires":[["cbec3b20.10a8e8"]]},{"id":"cbec3b20.10a8e8","type":"function","z":"335e86e1.c431da","name":"","func":"//timestamp = msg.payload[0].date.getTime()+900000;\n//msg.payload={\n//    angle:msg.payload[0].angle, date:new Date(timestamp),timestamp:parseInt(timestamp),sitting:0\n//}\n\nmsg.payload =[{date:msg.payload[0].date},{$set:{\"isSitting\":0}}];\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":340,"wires":[["338ef8ef.ab3eb8","ca2109b4.2d07a8"]]},{"id":"338ef8ef.ab3eb8","type":"mongodb2 in","z":"335e86e1.c431da","service":"_ext_","configNode":"c2e023a5.ad0b","name":"insert test","collection":"back_angle","operation":"update","x":740,"y":340,"wires":[["54e3eb5e.a5e6a4"]]},{"id":"4618534d.db9b9c","type":"function","z":"335e86e1.c431da","name":"","func":"var date = new Date(msg.payload.datetime*1000);\n       date.setUTCMinutes(date.getMinutes()-date.getTimezoneOffset());\n msg.payload =[[\n     {\n         \"$sort\":{date: 1}\n     },\n    {\n        \"$group\":{\n            \"_id\":null,\n            \"date\":{$last:\"$date\"},\n            \"angle\":{$last:\"$angle\"}\n        }\n    }\n   ]];\n\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":340,"wires":[["1c8dfbb9.335e14"]]},{"id":"54e3eb5e.a5e6a4","type":"function","z":"335e86e1.c431da","name":"","func":"msg.payload = msg.backup;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":260,"wires":[[]]},{"id":"725194f8.7f551c","type":"subflow:335e86e1.c431da","z":"ed0c995d.e2e7f8","name":"","x":440,"y":100,"wires":[["cefddfdf.eda88"]]},{"id":"ca2109b4.2d07a8","type":"mongodb2 in","z":"335e86e1.c431da","service":"_ext_","configNode":"c2e023a5.ad0b","name":"insert test","collection":"sitting_time","operation":"update","x":740,"y":400,"wires":[[]]},{"id":"ec7805e0.a34e58","type":"mqtt out","z":"da4609d5.3036c8","name":"","topic":"data/keep_alive","qos":"","retain":"","broker":"2b8661c7.194ede","x":660,"y":320,"wires":[]},{"id":"8b1839dc.afd8b8","type":"inject","z":"da4609d5.3036c8","name":"should change","topic":"","payload":"1517424102","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":320,"wires":[["ec7805e0.a34e58"]]},{"id":"67b86a91.9b85c4","type":"inject","z":"da4609d5.3036c8","name":"no change","topic":"","payload":"1517484102","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":360,"wires":[["ec7805e0.a34e58"]]},{"id":"61117a27.59df04","type":"inject","z":"da4609d5.3036c8","name":"test keepalive","topic":"","payload":"{\"datetime\":1517484102,\"angle\":35}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":820,"wires":[["b3f833ed.80965"]]},{"id":"b3f833ed.80965","type":"mqtt out","z":"da4609d5.3036c8","name":"angle","topic":"data/current_back_rest_angle","qos":"","retain":"","broker":"2b8661c7.194ede","x":670,"y":820,"wires":[]},{"id":"a364a037.f5813","type":"subflow:335e86e1.c431da","z":"ed0c995d.e2e7f8","name":"","x":440,"y":320,"wires":[["51301068.f29e4"]]},{"id":"7962af2f.daf11","type":"function","z":"23a30f9a.261b6","name":"","func":" msg.backup=msg.payload;\n msg.payload =[[{ \"$match\": { Value: \"CurrentState\" } },\n  { \"$project\": { \n         \"keepAlive\": \"$keepAlive\",\n         \"offSet\": \"$offSet\"\n    }}\n   ]];\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":280,"wires":[["7b8c893.bbed078"]]},{"id":"7b8c893.bbed078","type":"mongodb2 in","z":"23a30f9a.261b6","service":"_ext_","configNode":"c2e023a5.ad0b","name":"getKeepAlive","collection":"Current_State","operation":"aggregate.toArray","x":310,"y":280,"wires":[["1aac1ec3.ef0981"]]},{"id":"d6c4abec.7af3d8","type":"link in","z":"23a30f9a.261b6","name":"get_Keep_Alive","links":["c7b9b484.9a2c98"],"x":40,"y":280,"wires":[["7962af2f.daf11"]]},{"id":"c7b9b484.9a2c98","type":"link out","z":"ed0c995d.e2e7f8","name":"receive_Keep_Alive","links":["d6c4abec.7af3d8"],"x":355,"y":660,"wires":[]},{"id":"1aac1ec3.ef0981","type":"function","z":"23a30f9a.261b6","name":"","func":"var offset = msg.payload[0].offSet;\nmsg.offset = parseInt(offset)*60*60*1000;\nvar last=new Date(parseInt(msg.payload[0].keepAlive*1000+msg.offset));\nvar current=new Date(parseInt(msg.backup*1000+msg.offset));\n\nmsg.last =msg.payload[0].keepAlive;\nif(current.getDate() > last.getDate())\n    msg.result =1;\nelse \n    msg.result =0;\nmsg.payload = {};\nmsg.payload.Day = msg.last*1000;\nmsg.payload.Offset = offset;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":280,"wires":[["4cd4f177.c58f5"]]},{"id":"c5154a0b.9dddf8","type":"mongodb2 in","z":"79c89fe4.873e6","service":"_ext_","configNode":"c2e023a5.ad0b","name":"","collection":"Current_State","operation":"update","x":760,"y":100,"wires":[[]]},{"id":"370a31ba.e85e9e","type":"function","z":"79c89fe4.873e6","name":"","func":"msg.payload =[{},{$set:{\"offSet\":msg.payload.Offset}}];\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":100,"wires":[["c5154a0b.9dddf8"]]},{"id":"4cd4f177.c58f5","type":"switch","z":"23a30f9a.261b6","name":"","property":"result","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":280,"wires":[["247b371d.8f7c68","7e1485c6.68876c","8dcd012d.f7da3","f00b63be.adfa5","1bc1f5f.8eda00a","5e99d393.df5d0c","6466ead6.8b8734"],["1bc1f5f.8eda00a"]]},{"id":"f3a88a6.490f578","type":"file","z":"23a30f9a.261b6","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":1250,"y":500,"wires":[[]]},{"id":"1bc1f5f.8eda00a","type":"function","z":"23a30f9a.261b6","name":"","func":"msg.payload = msg.backup;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":260,"wires":[["caa9a252.3544d"]]},{"id":"caa9a252.3544d","type":"link out","z":"23a30f9a.261b6","name":"out_file_creation","links":["1ab0a757.282369"],"x":1355,"y":260,"wires":[]},{"id":"1ab0a757.282369","type":"link in","z":"ed0c995d.e2e7f8","name":"get_Keep_Alive","links":["caa9a252.3544d","18a379c8.b12376"],"x":855,"y":500,"wires":[["baf28c9e.7239c"]]},{"id":"c93f30c0.689fb","type":"inject","z":"da4609d5.3036c8","name":"no change","topic":"","payload":"1517594109","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":280,"wires":[["ec7805e0.a34e58"]]},{"id":"3dd32ccf.927104","type":"function","z":"857ac83c.e099a8","name":"get day","func":"\nlet offset =0;\nif(msg.payload.Offset !=null)\n    offset = parseInt(msg.payload.Offset)*60*60*1000;\n\nlet day=new Date(parseInt(msg.payload.Day));\nlet min=(day.setUTCHours(0,0,0,0))-offset;\nlet max = (day.setUTCHours(23,59,59,999))-offset;\n msg.payload =[[{ \"$match\": { date: {$gte:new Date(min), $lt:new Date(max)} } },\n  { \"$project\": { \n         \"date\": {$add:[\"$date\",offset]},\n         \"angle\":\"$angle\",\n         \"isSitting\":\"$isSitting\"\n    }},\n    { $sort: { date: 1}}\n   ]];\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":220,"wires":[["2460826e.b365ee"]]},{"id":"2460826e.b365ee","type":"mongodb2 in","z":"857ac83c.e099a8","service":"_ext_","configNode":"c2e023a5.ad0b","name":"find day","collection":"back_angle","operation":"aggregate.toArray","x":520,"y":220,"wires":[["298646f7.89adea"]]},{"id":"298646f7.89adea","type":"function","z":"857ac83c.e099a8","name":"format result","func":"let minus=0;\nlet zero=0;\nlet fifteen=0;\nlet thirty=0;\nlet more=0;\n\nlet distinctTime= msg.payload;\nif(distinctTime.length>0){\n    let previous = distinctTime[0];\n    distinctTime.shift();\n    if(distinctTime.length == 0 ){\n        var lastTime=new Date(previous.date);\n        if(previous.isSitting ==0){\n            lastTime.setUTCHours(0,0,0,0);\n            if (previous.angle<0)\n                minus+= previous.date.getTime() - lastTime.getTime()+1;\n            else if (15>previous.angle & previous.angle>=0)\n                zero+= previous.date.getTime() - lastTime.getTime()+1;\n            else if (30>previous.angle & previous.angle>=15)\n                fifteen+= previous.date.getTime() - lastTime.getTime()+1;\n            else if (45>=previous.angle & previous.angle>=30)\n                thirty+= previous.date.getTime() - lastTime.getTime()+1;\n            else if (45<previous.angle)\n                more+= previous.date.getTime() - lastTime.getTime()+1;\n        }\n        else{\n            lastTime.setUTCHours(23,59,59,999);\n            if (previous.angle<0)\n                minus+= lastTime.getTime()-previous.date.getTime();\n            else if (15>previous.angle & previous.angle>=0)\n                zero+= lastTime.getTime()-previous.date.getTime();\n            else if (30>previous.angle & previous.angle>=15)\n                fifteen+= lastTime.getTime()-previous.date.getTime();\n            else if (45>=previous.angle & previous.angle>=30)\n                thirty+= lastTime.getTime()-previous.date.getTime();\n            else if (45<previous.angle)\n                more+= lastTime.getTime()-previous.date.getTime();\n        }\n    }\n    else{\n        if(previous.isSitting==0){\n             var lastTime=new Date(previous.date);\n            lastTime.setUTCHours(0,0,0,0);\n         if (previous.angle<0)\n            minus+= previous.date.getTime() - lastTime.getTime()+1;\n        else if (15>previous.angle & previous.angle>=0)\n            zero+= previous.date.getTime() - lastTime.getTime()+1;\n        else if (30>previous.angle & previous.angle>=15)\n            fifteen+= previous.date.getTime() - lastTime.getTime()+1;\n        else if (45>=previous.angle & previous.angle>=30)\n            thirty+= previous.date.getTime() - lastTime.getTime()+1;\n        else if (45<previous.angle)\n            more+= previous.date.getTime() - lastTime.getTime()+1;\n        }\n        for(let time of distinctTime){\n            if(previous.isSitting!=0){\n                if (previous.angle<0)\n                    minus+= time.date.getTime() - previous.date.getTime();\n                else if (15>previous.angle & previous.angle>=0)\n                    zero+= time.date.getTime() - previous.date.getTime();\n                else if (30>previous.angle & previous.angle>=15)\n                    fifteen+= time.date.getTime() - previous.date.getTime();\n                else if (45>=previous.angle & previous.angle>=30)\n                    thirty+= time.date.getTime() - previous.date.getTime();\n                else if (45<previous.angle)\n                    more+= time.date.getTime() - previous.date.getTime();\n            }\n            previous = time;\n        }\n        if(previous.isSitting !=0){\n          var lastTime=new Date(previous.date);\n             lastTime.setUTCHours(23,59,59,999);\n             if (previous.angle<0)\n             minus+= lastTime.getTime() - previous.date.getTime();\n         else if (15>previous.angle & previous.angle>=0)\n             zero+= lastTime.getTime() - previous.date.getTime();\n         else if (30>previous.angle & previous.angle>=15)\n             fifteen+= lastTime.getTime() - previous.date.getTime();\n         else if (45>=previous.angle & previous.angle>=30)\n             thirty+= lastTime.getTime() - previous.date.getTime();\n         else if (45<previous.angle)\n             more+= lastTime.getTime() - previous.date.getTime();\n        }\n    }\n}\nmsg.payload = [minus,zero,fifteen,thirty,more];\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":220,"wires":[[]]},{"id":"65edf301.deb70c","type":"subflow:857ac83c.e099a8","z":"79c89fe4.873e6","name":"","x":530,"y":400,"wires":[["3da51abc.07fb96"]]},{"id":"3051e934.aaa456","type":"function","z":"23a30f9a.261b6","name":"","func":"if(msg.payload == null)\n    msg.payload= \"[0,0,0,0,0]\";\n\nvar moment = context.global.momentjs;\nmsg.filename= \"FileToSend\\\\ID_\"+moment(msg.last*1000).format('DD-MM-YYYY')+\"_DayBackAngle.txt\";\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":300,"wires":[["f3a88a6.490f578","f5aef74e.f30718"]]},{"id":"247b371d.8f7c68","type":"subflow:857ac83c.e099a8","z":"23a30f9a.261b6","name":"","x":830,"y":300,"wires":[["3051e934.aaa456"]]},{"id":"7e1485c6.68876c","type":"subflow:6c6d0616.a7df98","z":"23a30f9a.261b6","x":840,"y":340,"wires":[["8f1acae.a282c38"]]},{"id":"b5de3bd6.ecc668","type":"subflow:6c6d0616.a7df98","z":"79c89fe4.873e6","x":540,"y":460,"wires":[["3da51abc.07fb96"]]},{"id":"6741ff25.d9c22","type":"function","z":"a30d48d8.f609e8","name":"get month ","func":"\nlet offset =0;\nif(msg.payload.Offset !=null)\n    offset = parseInt(msg.payload.Offset)*60*60*1000;\nmsg.offset=offset;\nvar moment = context.global.momentjs;\nlet min=new Date(parseInt(msg.payload.Day));\nmin.setDate(1);\nmin.setUTCHours(0,0,0,0);\nvar momentMin =moment(min);\nmomentMin.add(-offset,\"ms\");\nvar max=moment(momentMin);\nmax.add(1, 'months');\n msg.payload =[[{ \"$match\": { date: {$gte:new Date(momentMin), $lt:new Date(max)} } },\n  { \"$project\": { \n         \"date\": {$add:[\"$date\",offset]},\n         \"isSitting\":\"$isSitting\"\n    }},\n    { $sort: { date: 1}}\n   ]];\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":160,"wires":[["7e29cd83.6a17d4"]]},{"id":"7e29cd83.6a17d4","type":"mongodb2 in","z":"a30d48d8.f609e8","service":"_ext_","configNode":"c2e023a5.ad0b","name":"find month","collection":"sitting_time","operation":"aggregate.toArray","x":390,"y":160,"wires":[["b93200a.1a5ad"]]},{"id":"b93200a.1a5ad","type":"function","z":"a30d48d8.f609e8","name":"format result","func":"let previous = msg.payload[0];\nvar retour={};\nmsg.payload.shift();\nretour[previous.date.getUTCDate()]=0\nif(!previous.isSitting){\n    temp = new Date(previous.date);\n    temp.setUTCHours(0,0,0,0);\n    retour[previous.date.getUTCDate()]+=Math.round((previous.date.getTime()-temp.getTime())/60000);\n}\n\nfor(let time of msg.payload){\n    if(retour[time.date.getUTCDate()]==null)\n        retour[time.date.getUTCDate()]=0\n    if(time.date.getUTCDate()==previous.date.getUTCDate()){\n        if(previous.isSitting & !time.isSitting){\n            retour[previous.date.getUTCDate()]+=Math.round((time.date.getTime()-previous.date.getTime())/60000);\n        }\n    }\n    else{\n         if(previous.isSitting){\n            var temp = new Date(previous.date);\n            temp.setUTCHours(23,59,59,999);\n            retour[previous.date.getUTCDate()]+=Math.round((temp.getTime()-previous.date.getTime())/60000);\n            temp = new Date(time.date);\n            temp.setUTCHours(0,0,0,0);\n            retour[time.date.getUTCDate()]+=Math.round((time.date.getTime()-temp.getTime())/60000);\n         }\n    }\n    previous=time;\n}\nvar numberDays=0;\nif([0,2,4,6,8,9,11].includes(previous.date.getMonth())){\n    numberDays =31;\n}\nelse if(previous.date.getMonth()==1){\n    numberDays =30;\n}\nelse{\n    if(previous.date.getFullYear()%4==0)\n        numberDays=29;\n    else \n        numberDays=28\n}\nfor(var i=1;i<=numberDays;i++){\n    retour[i] = retour[i] || 0;\n}\nmsg.payload= retour;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":160,"wires":[[]]},{"id":"cb186131.b222","type":"subflow:a30d48d8.f609e8","z":"79c89fe4.873e6","x":530,"y":520,"wires":[["3da51abc.07fb96"]]},{"id":"3c4a40e1.a66fd","type":"function","z":"d9e2e631.4f8778","name":"get day ","func":"\nlet offset =0;\nif(msg.payload.Offset !=null)\n    offset = parseInt(msg.payload.Offset)*60*60*1000;\n\nlet day=new Date(parseInt(msg.payload.Day));\nlet min=(day.setUTCHours(0,0,0,0))-offset;\nlet max = (day.setUTCHours(23,59,59,999))-offset;\n msg.payload =[[{ \"$match\": { date: {$gte:new Date(min), $lt:new Date(max)} } },\n  { \"$project\": { \n         \"date\": {$add:[\"$date\",offset]},\n         \"x\":\"$posX\",\n         \"y\":\"$posY\"\n    }},\n    { $sort: { date: 1}}\n   ]];\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":140,"wires":[["44d6b343.41b0dc"]]},{"id":"44d6b343.41b0dc","type":"mongodb2 in","z":"d9e2e631.4f8778","service":"_ext_","configNode":"c2e023a5.ad0b","name":"find day","collection":"gravity_Center","operation":"aggregate.toArray","x":380,"y":140,"wires":[["dcb6fbac.be34a8"]]},{"id":"dcb6fbac.be34a8","type":"function","z":"d9e2e631.4f8778","name":"format result","func":"var finalOutput ={};\nlet distinctTime= msg.payload;\nif(distinctTime!=null){\n    for(let time of distinctTime){\n        var lastTime=new Date(time.date);\n        lastTime.setUTCHours(0,0,0,0);\n        finalOutput[time.date.getTime()-lastTime.getTime()]={x:time.x,y:time.y};\n        console.log(time);\n    }\n}\nmsg.payload = finalOutput;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":140,"wires":[[]]},{"id":"45ba2c72.373494","type":"subflow:d9e2e631.4f8778","z":"79c89fe4.873e6","x":540,"y":580,"wires":[["3da51abc.07fb96"]]},{"id":"8dcd012d.f7da3","type":"subflow:a30d48d8.f609e8","z":"23a30f9a.261b6","x":830,"y":380,"wires":[["f33f1eb7.bf40e"]]},{"id":"f00b63be.adfa5","type":"subflow:d9e2e631.4f8778","z":"23a30f9a.261b6","x":840,"y":420,"wires":[["83c99adc.fb6028"]]},{"id":"8f1acae.a282c38","type":"function","z":"23a30f9a.261b6","name":"","func":"var moment = context.global.momentjs;\nmsg.filename= \"FileToSend\\\\ID_\"+moment(msg.last*1000).format('MM-YYYY')+\"_MonthBackAngle.txt\";\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":340,"wires":[["f3a88a6.490f578","f5aef74e.f30718"]]},{"id":"f33f1eb7.bf40e","type":"function","z":"23a30f9a.261b6","name":"","func":"var moment = context.global.momentjs;\nmsg.filename= \"FileToSend\\\\ID_\"+moment(msg.last*1000).format('MM-YYYY')+\"_SittingTime.txt\";\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":380,"wires":[["f3a88a6.490f578","f5aef74e.f30718"]]},{"id":"83c99adc.fb6028","type":"function","z":"23a30f9a.261b6","name":"","func":"var moment = context.global.momentjs;\nmsg.filename= \"FileToSend\\\\ID_\"+moment(msg.last*1000).format('DD-MM-YYYY')+\"_GravityCenter.txt\";\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":420,"wires":[["f3a88a6.490f578","f5aef74e.f30718"]]},{"id":"24a0114f.4eddfe","type":"function","z":"988214cb.995018","name":"","func":"var data = msg.payload;\nmsg.payload = {};\nmsg.payload.filename = msg.backup[0];\nmsg.payload.filedata = data;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":360,"wires":[["f95fb818.a0b4a8"]]},{"id":"e56bdf7e.cd655","type":"file in","z":"988214cb.995018","name":"","filename":"","format":"","chunk":false,"sendError":false,"x":990,"y":360,"wires":[["24a0114f.4eddfe"]]},{"id":"f95fb818.a0b4a8","type":"sftp in","z":"988214cb.995018","sftp":"e61fab25.c40b38","operation":"put","filename":"","localFilename":"","fileContents":"","fileExtension":".txt","workdir":"","savedir":"","name":"","x":1270,"y":360,"wires":[["da06e91c.513718","5d5c3422.7f832c"]]},{"id":"e96cb47.8cee348","type":"fs-file-lister","z":"988214cb.995018","name":"","start":"FileToSend","pattern":"*","path":false,"single":true,"depth":0,"stat":false,"x":700,"y":360,"wires":[["228bfcf5.1a7e14"]]},{"id":"228bfcf5.1a7e14","type":"function","z":"988214cb.995018","name":"","func":"msg.backup = msg.payload;\nmsg.filename = \"FileToSend/\"+ msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":360,"wires":[["e56bdf7e.cd655"]]},{"id":"da06e91c.513718","type":"function","z":"988214cb.995018","name":"","func":"msg.backup.shift();\nmsg.payload = msg.backup;\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":360,"wires":[["bec36af7.f55868"]]},{"id":"bec36af7.f55868","type":"switch","z":"988214cb.995018","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1550,"y":360,"wires":[["228bfcf5.1a7e14"]]},{"id":"90fe5af4.b11068","type":"comment","z":"988214cb.995018","name":"Loop to send all file","info":"","x":810,"y":260,"wires":[]},{"id":"5d5c3422.7f832c","type":"file","z":"988214cb.995018","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":1410,"y":320,"wires":[[]]},{"id":"f9ff8f31.fba99","type":"mqtt in","z":"ed0c995d.e2e7f8","name":"config wifi","topic":"config/wifi_connected","qos":"0","broker":"2b8661c7.194ede","x":100,"y":580,"wires":[["2916689a.f64da8"]]},{"id":"d062dc13.20f13","type":"function","z":"ed0c995d.e2e7f8","name":"","func":"msg.payload =[{},{$set:{\"isConnected\":msg.payload.isConnected}}];\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":580,"wires":[["322ecf84.f72cb"]]},{"id":"2916689a.f64da8","type":"json","z":"ed0c995d.e2e7f8","name":"","property":"payload","action":"obj","pretty":false,"x":250,"y":580,"wires":[["d062dc13.20f13"]]},{"id":"d09f72ba.89afe","type":"function","z":"988214cb.995018","name":"","func":" msg.backup=msg.payload;\n msg.payload =[[{ \"$match\": { Value: \"CurrentState\" } },\n  { \"$project\": { \n         \"isConnected\": \"$isConnected\"\n    }}\n   ]];\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":360,"wires":[["bee494c.2e03268"]]},{"id":"bee494c.2e03268","type":"mongodb2 in","z":"988214cb.995018","service":"_ext_","configNode":"c2e023a5.ad0b","name":"getKeepAlive","collection":"Current_State","operation":"aggregate.toArray","x":390,"y":360,"wires":[["4e6063bf.0e1ebc"]]},{"id":"4e6063bf.0e1ebc","type":"switch","z":"988214cb.995018","name":"","property":"payload[0].isConnected","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":360,"wires":[["e96cb47.8cee348"]]},{"id":"7b46a49e.ec9a5c","type":"link in","z":"988214cb.995018","name":"try_send_file","links":["7827b669.929e78","c1a9ace2.8b12f"],"x":124,"y":360,"wires":[["d09f72ba.89afe"]]},{"id":"c1a9ace2.8b12f","type":"link out","z":"23a30f9a.261b6","name":"","links":["7b46a49e.ec9a5c"],"x":1355,"y":300,"wires":[]},{"id":"7827b669.929e78","type":"link out","z":"ed0c995d.e2e7f8","name":"","links":["7b46a49e.ec9a5c"],"x":775,"y":580,"wires":[]},{"id":"322ecf84.f72cb","type":"mongodb2 in","z":"ed0c995d.e2e7f8","service":"_ext_","configNode":"c2e023a5.ad0b","name":"","collection":"Current_State","operation":"update","x":600,"y":580,"wires":[["7827b669.929e78"]]},{"id":"e34cdcfe.00e06","type":"mqtt out","z":"988214cb.995018","name":"","topic":"config/wifi_connected","qos":"","retain":"","broker":"2b8661c7.194ede","x":400,"y":460,"wires":[]},{"id":"b0a1f158.c39c3","type":"inject","z":"988214cb.995018","name":"should change","topic":"","payload":"{\"isConnected\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":460,"wires":[["e34cdcfe.00e06"]]},{"id":"f5aef74e.f30718","type":"join","z":"23a30f9a.261b6","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1250,"y":300,"wires":[["c1a9ace2.8b12f"]]},{"id":"af6643a3.2c681","type":"http in","z":"79c89fe4.873e6","name":"","url":"/sittingTime","method":"get","upload":false,"swaggerDoc":"","x":160,"y":640,"wires":[["c8a2607e.8c43c"]]},{"id":"c8a2607e.8c43c","type":"subflow:4e4dbcc2.17d054","z":"79c89fe4.873e6","name":"","x":350,"y":640,"wires":[["ff05080b.b24c08"]]},{"id":"ff05080b.b24c08","type":"subflow:a30d48d8.f609e8","z":"79c89fe4.873e6","name":"","x":530,"y":640,"wires":[["3da51abc.07fb96"]]},{"id":"3d6746ae.4cceda","type":"http in","z":"79c89fe4.873e6","name":"","url":"/Bouts","method":"get","upload":false,"swaggerDoc":"","x":170,"y":700,"wires":[["19e3e31.38cb01d"]]},{"id":"19e3e31.38cb01d","type":"subflow:4e4dbcc2.17d054","z":"79c89fe4.873e6","name":"","x":350,"y":700,"wires":[["c40500eb.cfa89"]]},{"id":"7e30b952.5c6758","type":"mongodb2 in","z":"ed0c995d.e2e7f8","service":"_ext_","configNode":"c2e023a5.ad0b","name":"insert test","collection":"Moving","operation":"insert","x":540,"y":420,"wires":[[]]},{"id":"3f7667f.e5d5098","type":"function","z":"36e4ab73.495fb4","name":"get day","func":"\nlet offset =0;\nif(msg.payload.Offset !=null)\n    offset = parseInt(msg.payload.Offset)*60*60*1000;\n\nlet day=new Date(parseInt(msg.payload.Day));\nlet min=(day.setUTCHours(0,0,0,0))-offset;\nlet max = (day.setUTCHours(23,59,59,999))-offset;\n msg.payload =[[{ \"$match\": { date: {$gte:new Date(min), $lt:new Date(max)} } },\n  { \"$project\": { \n         \"date\": {$add:[\"$date\",offset]},\n         \"isMoving\":\"$isMoving\"\n    }},\n    { $sort: { date: 1}}\n   ]];\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":140,"wires":[["fc23407f.725d1"]]},{"id":"fc23407f.725d1","type":"mongodb2 in","z":"36e4ab73.495fb4","service":"_ext_","configNode":"c2e023a5.ad0b","name":"find day","collection":"Moving","operation":"aggregate.toArray","x":480,"y":140,"wires":[["c702805e.c0646"]]},{"id":"c702805e.c0646","type":"function","z":"36e4ab73.495fb4","name":"format result","func":"\nlet returnValue = [];\nlet distinctTime= msg.payload;\nif(distinctTime.length>0){\n    let previous = distinctTime[0];\n    distinctTime.shift();\n    var index =0;\n    if(distinctTime.length == 0 ){\n        if( previous.isMoving ==0){\n            var lastTime=new Date(previous.date);\n            lastTime.setUTCHours(0,0,0,0);\n            if((previous.date.getTime() - lastTime.getTime()) >= 180000){\n                returnValue[index] = {start:lastTime.getTime(),end:previous.date.getTime()};\n                index++;\n            }\n        }\n    }\n    else{\n        var moveStart = false;\n        var startTime = null;\n        if( previous.isMoving ==0){\n            var lastTime=new Date(previous.date);\n            lastTime.setUTCHours(0,0,0,0);\n            if((previous.date.getTime() - lastTime.getTime()) >= 180000){\n                startTime=lastTime.getTime();\n                moveStart = true;\n            }\n        }\n        for(let time of distinctTime){\n            if(time.isMoving==0){\n                if(!moveStart){\n                    var lastTime=new Date(previous.date);\n                    if((time.date.getTime() - lastTime.getTime()) >= 180000){\n                        startTime=lastTime.getTime();\n                        moveStart = true;\n                    }\n                }\n            }\n            else{\n                if(moveStart){\n                    if((time.date.getTime() - new Date(previous.date).getTime()) > 120000){\n                        moveStart = false;\n                        returnValue[index] = {start:startTime,end:previous.date.getTime()};\n                        index++;\n                    }\n                }\n            }\n            previous = time;\n        }\n        if(moveStart){\n            if((new Date(previous.date).getTime() - startTime ) >= 180000){\n                    moveStart = false;\n                    returnValue[index] = {start:startTime,end:previous.date.getTime()};\n                    index++;\n                }\n        }\n        if( previous.isMoving ==1){\n            var lastTime=new Date(previous.date);\n            lastTime.setUTCHours(23,59,59,999);\n            returnValue[index] = {start:previous.date.getTime(),end:lastTime.getTime()};\n        }\n    }\n}\nmsg.payload = returnValue;\nreturn msg;\n\n   ","outputs":1,"noerr":0,"x":680,"y":140,"wires":[[]]},{"id":"ff19b6cb.b91028","type":"function","z":"da4609d5.3036c8","name":"creation test moving","func":"var docs=[\n{date:new Date(\"2018-02-01T08:00:00.000Z\"), timestamp:\"1517439600000\",isMoving:1},\n{date:new Date(\"2018-02-01T08:30:00.000Z\"), timestamp:\"1517439600000\",isMoving:0},\n{date:new Date(\"2018-02-01T09:00:00.000Z\"), timestamp:\"1517439600000\",isMoving:1},\n{date:new Date(\"2018-02-01T09:01:00.000Z\"), timestamp:\"1517439600000\",isMoving:0},\n{date:new Date(\"2018-02-01T09:30:00.000Z\"), timestamp:\"1517439600000\",isMoving:1},\n{date:new Date(\"2018-02-01T10:30:00.000Z\"), timestamp:\"1517439600000\",isMoving:0},\n{date:new Date(\"2018-02-01T10:31:00.000Z\"), timestamp:\"1517439600000\",isMoving:1},\n{date:new Date(\"2018-02-01T23:00:00.000Z\"), timestamp:\"1517439600000\",isMoving:0},\n{date:new Date(\"2018-02-01T23:30:00.000Z\"), timestamp:\"1517439600000\",isMoving:1},\n{date:new Date(\"2018-02-02T01:00:00.000Z\"), timestamp:\"1517439600000\",isMoving:0},\n{date:new Date(\"2018-02-04T09:00:00.000Z\"), timestamp:\"1517439600000\",isMoving:1},\n{date:new Date(\"2018-02-04T23:00:00.000Z\"), timestamp:\"1517439600000\",isMoving:0}\n];\nmsg.payload=[docs];\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":760,"wires":[["c9c910ce.46596"]]},{"id":"c9c910ce.46596","type":"mongodb2 in","z":"da4609d5.3036c8","service":"_ext_","configNode":"c2e023a5.ad0b","name":"insert test","collection":"Moving","operation":"insertMany","x":880,"y":760,"wires":[[]]},{"id":"8402f367.0e142","type":"inject","z":"da4609d5.3036c8","name":"","topic":"","payload":"{\"datetime\":\"2018-03-11:13:01:02\",\"IsSomeoneThere\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":760,"wires":[["ff19b6cb.b91028"]]},{"id":"62ea1e9e.647d8","type":"function","z":"da4609d5.3036c8","name":"offset 0","func":"msg.payload = {};\nmsg.payload.Day = 1517484102000;\n//msg.payload.Day = 1517734102000;\n\n\nmsg.payload.Offset = 0;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1080,"wires":[["ce01afe3.aef9c","b892d41d.f66908","ce0855d9.623558","ac341e64.99de9","975c2ba.3f695d8","99422190.8cdcf","2fcbb2d0.70b7ce"]]},{"id":"c40500eb.cfa89","type":"subflow:36e4ab73.495fb4","z":"79c89fe4.873e6","x":540,"y":700,"wires":[["3da51abc.07fb96"]]},{"id":"b892d41d.f66908","type":"subflow:6c6d0616.a7df98","z":"da4609d5.3036c8","name":"","x":900,"y":960,"wires":[["f4ee485f.c665c8"]]},{"id":"ce01afe3.aef9c","type":"subflow:a30d48d8.f609e8","z":"da4609d5.3036c8","x":890,"y":1000,"wires":[["19857de6.7b4462"]]},{"id":"ce0855d9.623558","type":"subflow:d9e2e631.4f8778","z":"da4609d5.3036c8","x":900,"y":1040,"wires":[["8ae3a664.809648"]]},{"id":"d72b3f20.3cc26","type":"function","z":"da4609d5.3036c8","name":"offset -10","func":"msg.payload = {};\nmsg.payload.Day = 1517484102000;\nmsg.payload.Offset = -10;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1380,"wires":[["ec4fbb89.2cb778","a5624210.91dc7","e1e20314.0a047","735f4ae.78911b4","78e67dda.c99694","3a94b788.f71d18","70e6da1e.b7d164"]]},{"id":"a5624210.91dc7","type":"subflow:6c6d0616.a7df98","z":"da4609d5.3036c8","name":"","x":900,"y":1260,"wires":[["c4e4138e.9e1be"]]},{"id":"ec4fbb89.2cb778","type":"subflow:a30d48d8.f609e8","z":"da4609d5.3036c8","x":890,"y":1300,"wires":[["e70f4e44.d8da7"]]},{"id":"e1e20314.0a047","type":"subflow:d9e2e631.4f8778","z":"da4609d5.3036c8","x":900,"y":1340,"wires":[["3ac333ac.96148c"]]},{"id":"4bbf0aa9.4b6fa4","type":"function","z":"dad69f2b.73de2","name":"getMinMax","func":"\nlet offset =0;\nif(msg.payload.Offset !=null)\n    offset = parseInt(msg.payload.Offset)*60*60*1000;\n\n msg.payload =[[{ \"$sort\": { date: 1 } },\n { \"$group\": { \n         \"_id\": null, \n        \"lastDate\":{\"$last\": {$add:[\"$date\",offset]} }\n    }}\n   ]];\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":100,"wires":[["25f5d0c6.3f54a"]]},{"id":"25f5d0c6.3f54a","type":"mongodb2 in","z":"dad69f2b.73de2","service":"_ext_","configNode":"c2e023a5.ad0b","name":"","collection":"back_angle","operation":"aggregate.toArray","x":610,"y":100,"wires":[["e8beda5d.a7d618"]]},{"id":"e8beda5d.a7d618","type":"function","z":"dad69f2b.73de2","name":"FormatData","func":"var date = new Date(msg.payload[0].lastDate);\nmsg.payload =date.getTime();\nconsole.log(date);\nconsole.log(date.getTime());\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":100,"wires":[[]]},{"id":"86fe7f00.16238","type":"function","z":"533bc41.d9a0d3c","name":"getMinMax","func":"let min=0;\nlet max=9999999999999;\nlet offset =0;\nif(msg.payload.Offset !=null)\n    offset = parseInt(msg.payload.Offset)*60*60*1000;\n\nif(msg.payload.Min !=null){\n    min = parseInt(msg.payload.Min);\n}\nif(msg.payload.Max !=null){\n    max =  parseInt(msg.payload.Max);\n}\n msg.payload =[[{ \"$match\": { date: {$gte: new Date(min-offset), $lt: new Date(max-offset)} } },\n  { \"$project\": { \n      \"date\":\"$date\"\n    }},\n { \"$group\": { \n         \"_id\": null, \n        \"distinctDate\":{\"$addToSet\": { \"year\":{\"$year\":[{$add:[\"$date\",offset]}]}, \"month\":{\"$month\":[{$add:[\"$date\",offset]}]},\"day\": {\"$dayOfMonth\":[{$add:[\"$date\",offset]}]} }}\n    }}\n   ]];\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["1b4bbbd.4ae1844"]]},{"id":"1b4bbbd.4ae1844","type":"mongodb2 in","z":"533bc41.d9a0d3c","service":"_ext_","configNode":"c2e023a5.ad0b","name":"","collection":"back_angle","operation":"aggregate.toArray","x":630,"y":180,"wires":[["50f7a05b.0dc76"]]},{"id":"50f7a05b.0dc76","type":"function","z":"533bc41.d9a0d3c","name":"FormatData","func":"// msg.payload=msg.payload.map((element) => {\n//     const splitDate = element.split(\"/\");\n//     return {day:splitDate[2],month:splitDate[1],year:splitDate[0]};\n// })\nvar finalOutput={};\nvar distinctDates= msg.payload[0].distinctDate;\nfor(let date of distinctDates) {\n  if (finalOutput[date.year]) {\n    if (finalOutput[date.year][date.month]) {\n      finalOutput[date.year][date.month].push(date.day);\n    } else {\n      finalOutput[date.year][date.month] = [date.day];\n    }\n  } else {\n    finalOutput[date.year] = {\n      [date.month]: [date.day]\n    };\n  }\n}\nmsg.payload=finalOutput;\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":180,"wires":[[]]},{"id":"ceaf94f8.7481b8","type":"function","z":"ad7d8d1c.cafbf","name":"getMinMax","func":"let min=0;\nlet max=9999999999999;\nlet offset =0;\nif(msg.payload.Offset !=null)\n    offset = parseInt(msg.payload.Offset)*60*60*1000;\n\nif(msg.payload.Min !=null){\n    min = parseInt(msg.payload.Min);\n}\nif(msg.payload.Max !=null){\n    max =  parseInt(msg.payload.Max);\n}\n msg.payload =[[{ \"$match\": { date: {$gte:new Date(min-offset), $lt:new Date(max-offset)} } },\n  { \"$project\": { \n         \"date\": \"$date\" \n    }},\n { \"$group\": { \n         \"_id\": null, \n        \"distinctDate\":{\"$addToSet\": { \"year\":{\"$year\":[{$add:[\"$date\",offset]}]}, \"month\":{\"$month\":[{$add:[\"$date\",offset]}]} }}\n    }}\n   ]];\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":140,"wires":[["2d03a3cf.2e6cdc"]]},{"id":"2d03a3cf.2e6cdc","type":"mongodb2 in","z":"ad7d8d1c.cafbf","service":"_ext_","configNode":"c2e023a5.ad0b","name":"","collection":"back_angle","operation":"aggregate.toArray","x":610,"y":140,"wires":[["5b97c3d3.15a01c"]]},{"id":"5b97c3d3.15a01c","type":"function","z":"ad7d8d1c.cafbf","name":"FormatData","func":"// msg.payload=msg.payload.map((element) => {\n//     const splitDate = element.split(\"/\");\n//     return {day:splitDate[2],month:splitDate[1],year:splitDate[0]};\n// })\nvar finalOutput={};\nvar distinctDates= msg.payload[0].distinctDate;\nfor (let date of distinctDates) {\n  if (finalOutput[date.year]) {\n    finalOutput[date.year].push(date.month)\n  } else {\n    finalOutput[date.year] = [date.month];\n  }\n}\nmsg.payload=finalOutput;\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":140,"wires":[[]]},{"id":"29e49b13.4a6054","type":"subflow:dad69f2b.73de2","z":"79c89fe4.873e6","name":"","x":530,"y":160,"wires":[["3da51abc.07fb96"]]},{"id":"2465d36d.b4433c","type":"subflow:533bc41.d9a0d3c","z":"79c89fe4.873e6","name":"","x":550,"y":220,"wires":[["3da51abc.07fb96"]]},{"id":"4d07edfe.46c584","type":"subflow:ad7d8d1c.cafbf","z":"79c89fe4.873e6","name":"","x":560,"y":280,"wires":[["3da51abc.07fb96"]]},{"id":"ac341e64.99de9","type":"subflow:dad69f2b.73de2","z":"da4609d5.3036c8","name":"","x":890,"y":1120,"wires":[["5c9aef57.edd67"]]},{"id":"975c2ba.3f695d8","type":"subflow:533bc41.d9a0d3c","z":"da4609d5.3036c8","x":910,"y":1160,"wires":[["3839e354.b00c1c"]]},{"id":"99422190.8cdcf","type":"subflow:ad7d8d1c.cafbf","z":"da4609d5.3036c8","x":920,"y":1200,"wires":[["d2e09292.64e08"]]},{"id":"735f4ae.78911b4","type":"subflow:dad69f2b.73de2","z":"da4609d5.3036c8","name":"","x":890,"y":1420,"wires":[["1bbfa625.d3672a"]]},{"id":"78e67dda.c99694","type":"subflow:533bc41.d9a0d3c","z":"da4609d5.3036c8","x":910,"y":1460,"wires":[["4a2bc940.d459d8"]]},{"id":"3a94b788.f71d18","type":"subflow:ad7d8d1c.cafbf","z":"da4609d5.3036c8","x":920,"y":1500,"wires":[["7a928942.66a808"]]},{"id":"f46312b4.3eb7b","type":"inject","z":"da4609d5.3036c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":1380,"wires":[["d72b3f20.3cc26"]]},{"id":"518e2ad0.0e5764","type":"subflow:4e4dbcc2.17d054","z":"1dab1279.d003ee","name":"","x":430,"y":500,"wires":[["f7ef3d11.bd494","4373d430.f6141c"]]},{"id":"88d601a3.61c56","type":"http response","z":"1dab1279.d003ee","name":"","statusCode":"","headers":{},"x":830,"y":531,"wires":[]},{"id":"4373d430.f6141c","type":"template","z":"1dab1279.d003ee","name":"return erreur ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"result\":\"ok\"}","output":"str","x":610,"y":531,"wires":[["88d601a3.61c56"]]},{"id":"4f7cda4a.29fa14","type":"function","z":"858faa30.bafbe8","name":"get day","func":"var moment = context.global.momentjs;\nlet offset =0;\nmsg.backup = msg.payload;\nif(msg.payload.Offset !=null)\n    offset = parseInt(msg.payload.Offset)*60*60*1000;\nmsg.return = {};\nvar momentMin =moment(new Date(parseInt(msg.payload.Day)));\nmomentMin.add(-offset,\"ms\");\nvar max=moment(momentMin);\nmax.endOf(\"month\");\nmsg.max = max;\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":260,"wires":[["9ae8304b.9d75"]]},{"id":"9ae8304b.9d75","type":"subflow:36e4ab73.495fb4","z":"858faa30.bafbe8","x":430,"y":260,"wires":[["e543a6ea.578c08"]]},{"id":"e543a6ea.578c08","type":"function","z":"858faa30.bafbe8","name":"","func":"var moment = context.global.momentjs;\nvar day=moment(msg.backup.Day);\nmsg.return[day.date()] = msg.payload;\nmsg.payload = msg.backup;\nvar oldDate = day.date();\nday.add(1, 'days');\nif(day.date() < oldDate){\n    msg.payload = msg.return;\n    msg.result = 1;\n}\nelse{\n    msg.payload ={}\n    msg.payload.Offset = msg.backup.Offset;\n    msg.payload.Day = new Date(day).getTime();\n        msg.result = 0;\n    msg.backup =msg.payload;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":260,"wires":[["6a46e855.cdd708"]]},{"id":"6a46e855.cdd708","type":"switch","z":"858faa30.bafbe8","name":"","property":"result","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":260,"wires":[[],["9ae8304b.9d75"]]},{"id":"2f8401b2.bbf70e","type":"function","z":"6c6d0616.a7df98","name":"get day","func":"var moment = context.global.momentjs;\nlet offset =0;\nmsg.backup = msg.payload;\nif(msg.payload.Offset !=null)\n    offset = parseInt(msg.payload.Offset)*60*60*1000;\nmsg.return = {};\nvar momentMin =moment(new Date(parseInt(msg.payload.Day)));\nmomentMin.add(-offset,\"ms\");\nvar max=moment(momentMin);\nmax.endOf(\"month\");\nmsg.max = max;\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":160,"wires":[["757f2c7a.87d5a4"]]},{"id":"43375f15.569e5","type":"function","z":"6c6d0616.a7df98","name":"","func":"var moment = context.global.momentjs;\nvar day=moment(msg.backup.Day);\nif(JSON.stringify(msg.payload) != \"[0,0,0,0,0]\")\n    msg.return[day.date()] = msg.payload;\nelse\n    msg.return[day.date()] = [];\n\nmsg.payload = msg.backup;\nvar oldDate = day.date();\nday.add(1, 'days');\nif(day.date() < oldDate){\n    msg.payload = msg.return;\n    msg.result = 1;\n}\nelse{\n    msg.payload ={}\n    msg.payload.Offset = msg.backup.Offset;\n    msg.payload.Day = new Date(day).getTime();\n        msg.result = 0;\n    msg.backup =msg.payload;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":160,"wires":[["f111a7e3.1e91e8"]]},{"id":"f111a7e3.1e91e8","type":"switch","z":"6c6d0616.a7df98","name":"","property":"result","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":160,"wires":[[],["757f2c7a.87d5a4"]]},{"id":"757f2c7a.87d5a4","type":"subflow:857ac83c.e099a8","z":"6c6d0616.a7df98","x":390,"y":160,"wires":[["43375f15.569e5"]]},{"id":"5e99d393.df5d0c","type":"subflow:36e4ab73.495fb4","z":"23a30f9a.261b6","x":840,"y":460,"wires":[["56422b45.7b4944"]]},{"id":"6466ead6.8b8734","type":"subflow:858faa30.bafbe8","z":"23a30f9a.261b6","x":840,"y":500,"wires":[["daadb906.e91978"]]},{"id":"2fcbb2d0.70b7ce","type":"subflow:858faa30.bafbe8","z":"da4609d5.3036c8","x":900,"y":1080,"wires":[["2cb9fef3.2ef6e2"]]},{"id":"70e6da1e.b7d164","type":"subflow:858faa30.bafbe8","z":"da4609d5.3036c8","name":"","x":900,"y":1380,"wires":[["878ad1c2.ce1"]]},{"id":"2cb9fef3.2ef6e2","type":"function","z":"da4609d5.3036c8","name":"","func":"var expected={\"1\":[{start:1517472000000, end:1517473800000},{start:1517477400000,end:1517526000000},{start:1517527800000, end:1517529599999}],\"2\":[{start:1517529600000, end:1517533200000}],\"3\":[],\"4\":[{start:1517734800000, end:1517785200000}],\"5\":[],\"6\":[],\"7\":[],\"8\":[],\"9\":[],\"10\":[],\"11\":[],\"12\":[],\"13\":[],\"14\":[],\"15\":[],\"16\":[],\"17\":[],\"18\":[],\"19\":[],\"20\":[],\"21\":[],\"22\":[],\"23\":[],\"24\":[],\"25\":[],\"26\":[],\"27\":[],\"28\":[]};\nif(JSON.stringify(msg.payload).trim()===JSON.stringify(expected).trim()){\n    msg.payload= {result:0,message:'Bouts month 0: ok'}; \n}\nelse{\n    msg.payload= {result:1,message:'Bouts month 0: \\nValeur attendu: '+JSON.stringify(expected)+'\\nValeur obtenu : '+JSON.stringify(msg.payload)}; \n}\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":1080,"wires":[["1cac304e.5eec9"]]},{"id":"878ad1c2.ce1","type":"function","z":"da4609d5.3036c8","name":"","func":"var expected={\"1\":[{start:1517443200000, end:1517490000000},{start:1517491800000,end:1517497200000}],\"2\":[],\"3\":[],\"4\":[{start:1517702400000, end:1517749200000}],\"5\":[],\"6\":[],\"7\":[],\"8\":[],\"9\":[],\"10\":[],\"11\":[],\"12\":[],\"13\":[],\"14\":[],\"15\":[],\"16\":[],\"17\":[],\"18\":[],\"19\":[],\"20\":[],\"21\":[],\"22\":[],\"23\":[],\"24\":[],\"25\":[],\"26\":[],\"27\":[],\"28\":[]};\nif(JSON.stringify(msg.payload).trim()===JSON.stringify(expected).trim()){\n    msg.payload= {result:0,message:'Bouts month 0: ok'}; \n}\nelse{\n    msg.payload= {result:1,message:'Bouts month 0: \\nValeur attendu: '+JSON.stringify(expected)+'\\nValeur obtenu : '+JSON.stringify(msg.payload)}; \n}\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":1380,"wires":[["1cac304e.5eec9"]]},{"id":"b46ad18.0b4263","type":"http in","z":"79c89fe4.873e6","name":"","url":"/MonthBouts","method":"get","upload":false,"swaggerDoc":"","x":150,"y":760,"wires":[["9e992591.24c8e8"]]},{"id":"9e992591.24c8e8","type":"subflow:4e4dbcc2.17d054","z":"79c89fe4.873e6","name":"","x":350,"y":760,"wires":[["3eaea72f.9c3b28"]]},{"id":"3eaea72f.9c3b28","type":"subflow:858faa30.bafbe8","z":"79c89fe4.873e6","x":540,"y":760,"wires":[["3da51abc.07fb96"]]},{"id":"19092c9d.73cff3","type":"subflow:4e4dbcc2.17d054","z":"b9daa40a.159ce8","name":"","x":330,"y":120,"wires":[["c2165ebd.f4e88"]]},{"id":"380d1904.c4e1d6","type":"subflow:4e4dbcc2.17d054","z":"b9daa40a.159ce8","name":"","x":330,"y":240,"wires":[["e995576.05dbaa8"]]},{"id":"56422b45.7b4944","type":"function","z":"23a30f9a.261b6","name":"","func":"if(msg.payload == null)\n    msg.payload= \"[]\";\n\nvar moment = context.global.momentjs;\nmsg.filename= \"FileToSend\\\\ID_\"+moment(msg.last*1000).format('DD-MM-YYYY')+\"_DayBouts.txt\";\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":460,"wires":[["f3a88a6.490f578","f5aef74e.f30718"]]},{"id":"daadb906.e91978","type":"function","z":"23a30f9a.261b6","name":"","func":"var moment = context.global.momentjs;\nmsg.filename= \"FileToSend\\\\ID_\"+moment(msg.last*1000).format('MM-YYYY')+\"_MonthBouts.txt\";\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":500,"wires":[["f3a88a6.490f578","f5aef74e.f30718"]]},{"id":"2b797cc9.55803c","type":"mqtt in","z":"d8422fcd.8b4f88","name":"","topic":"fsm/angle","qos":"2","broker":"2b8661c7.194ede","x":340,"y":140,"wires":[["647eada9.e20064","b0013f36.edc098"]]},{"id":"2b5a7292.9da80e","type":"mqtt in","z":"d8422fcd.8b4f88","name":"","topic":"fsm/travel","qos":"2","broker":"2b8661c7.194ede","x":340,"y":240,"wires":[["addd7d20.08c168","e9e037fc.a92f18"]]},{"id":"26527287.6147e6","type":"mqtt in","z":"d8422fcd.8b4f88","name":"","topic":"fsm/seating","qos":"2","broker":"2b8661c7.194ede","x":330,"y":340,"wires":[["1338d6c7.b90411","b0ed070c.b8b598"]]},{"id":"dcb224b1.4cdc58","type":"mqtt in","z":"d8422fcd.8b4f88","name":"","topic":"sensors/rawData","qos":"2","broker":"2b8661c7.194ede","x":280,"y":640,"wires":[["78035ea0.e38518","c49e85a9.4d5e6"]]},{"id":"647eada9.e20064","type":"json","z":"d8422fcd.8b4f88","name":"","property":"payload","action":"","pretty":false,"x":490,"y":140,"wires":[["22809ed2.60491a"]]},{"id":"addd7d20.08c168","type":"json","z":"d8422fcd.8b4f88","name":"","property":"payload","action":"","pretty":false,"x":490,"y":240,"wires":[["c52a1be5.0c7dd"]]},{"id":"1338d6c7.b90411","type":"json","z":"d8422fcd.8b4f88","name":"","property":"payload","action":"","pretty":false,"x":490,"y":340,"wires":[["286461c8.8594e6"]]},{"id":"78035ea0.e38518","type":"json","z":"d8422fcd.8b4f88","name":"","property":"payload","action":"","pretty":false,"x":530,"y":640,"wires":[[]]},{"id":"7018a1.285b676","type":"json","z":"d8422fcd.8b4f88","name":"","property":"payload","action":"","pretty":false,"x":570,"y":500,"wires":[["4606765b.afe4f8","e853760.d742f08","9c4a6dac.8b4148"]]},{"id":"286461c8.8594e6","type":"switch","z":"d8422fcd.8b4f88","name":"Check State","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"Started","vt":"str"},{"t":"eq","v":"Stopped","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":340,"wires":[["9e09dd8e.4188f","b1ea733a.e03f8"],["9e09dd8e.4188f","b1ea733a.e03f8"]]},{"id":"9e09dd8e.4188f","type":"function","z":"d8422fcd.8b4f88","name":"setSeatingState","func":"flow.set('seatingState',msg.payload.event);\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":360,"wires":[[]]},{"id":"4606765b.afe4f8","type":"function","z":"d8422fcd.8b4f88","name":"checkIfSeatingStarted","func":"msg.state = flow.get('seatingState') || \"\";\nif(msg.state != \"Started\") {\n    node.status({fill:\"red\",shape:\"dot\",text:\"Stopped\"});\n    return null\n}\nnode.status({fill:\"green\",shape:\"dot\",text:\"Started\"});\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":440,"wires":[["afb0df84.a8dc88"]]},{"id":"788ff443.44a794","type":"mqtt in","z":"d8422fcd.8b4f88","name":"","topic":"sensors/chairState","qos":"2","broker":"2b8661c7.194ede","x":310,"y":500,"wires":[["7018a1.285b676","599cbca8.086fc4"]]},{"id":"afb0df84.a8dc88","type":"switch","z":"d8422fcd.8b4f88","name":"Not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":980,"y":440,"wires":[["19bf81f4.4443fe"]]},{"id":"22809ed2.60491a","type":"switch","z":"d8422fcd.8b4f88","name":"Check State","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"Started","vt":"str"},{"t":"eq","v":"Stopped","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":140,"wires":[["42c00fa2.827d58","305676e0.8ba3c2"],["42c00fa2.827d58","305676e0.8ba3c2"]]},{"id":"42c00fa2.827d58","type":"function","z":"d8422fcd.8b4f88","name":"setAngleState","func":"flow.set('angleState',msg.payload.event);\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":160,"wires":[[]]},{"id":"c52a1be5.0c7dd","type":"switch","z":"d8422fcd.8b4f88","name":"Check State","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"Started","vt":"str"},{"t":"eq","v":"Stopped","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":240,"wires":[["e4619c2e.c11848","f0a1d7bb.3e4aa"],["e4619c2e.c11848","f0a1d7bb.3e4aa"]]},{"id":"e4619c2e.c11848","type":"function","z":"d8422fcd.8b4f88","name":"setTravelState","func":"flow.set('travelState',msg.payload.event);\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":260,"wires":[[]]},{"id":"e853760.d742f08","type":"function","z":"d8422fcd.8b4f88","name":"checkIfTravelStarted","func":"msg.state = flow.get('travelState') || \"\";\nif(msg.state != \"Started\") {\n    node.status({fill:\"red\",shape:\"dot\",text:\"Stopped\"});\n    return null\n}\nnode.status({fill:\"green\",shape:\"dot\",text:\"Started\"});\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":500,"wires":[["e93cf1a.f6aa71"]]},{"id":"9c4a6dac.8b4148","type":"function","z":"d8422fcd.8b4f88","name":"checkIfAngleStarted","func":"msg.state = flow.get('angleState') || \"\";\nif(msg.state != \"Started\") {\n    node.status({fill:\"red\",shape:\"dot\",text:\"Stopped\"});\n    return null\n}\nnode.status({fill:\"green\",shape:\"dot\",text:\"Started\"});\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":560,"wires":[["9fd4ca68.283ef"]]},{"id":"e93cf1a.f6aa71","type":"switch","z":"d8422fcd.8b4f88","name":"Not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":980,"y":500,"wires":[["cbc792a.37f63f"]]},{"id":"9fd4ca68.283ef","type":"switch","z":"d8422fcd.8b4f88","name":"Not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":980,"y":560,"wires":[["5e0e3ca3.73f30c"]]},{"id":"f3ea0a77.2c355","type":"mongodb2 in","z":"d8422fcd.8b4f88","service":"_ext_","configNode":"c2e023a5.ad0b","name":"","collection":"SeatingState","operation":"insertOne","x":1090,"y":320,"wires":[[]]},{"id":"b1ea733a.e03f8","type":"change","z":"d8422fcd.8b4f88","name":"","rules":[{"t":"delete","p":"payload.stateNum","pt":"msg"},{"t":"delete","p":"payload.stateName","pt":"msg"},{"t":"move","p":"payload.event","pt":"msg","to":"payload.state","tot":"msg"},{"t":"delete","p":"payload.event","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":320,"wires":[["f3ea0a77.2c355"]]},{"id":"face17ac.f6c5f","type":"mongodb2 in","z":"d8422fcd.8b4f88","service":"_ext_","configNode":"c2e023a5.ad0b","name":"","collection":"TravelState","operation":"insertOne","x":1080,"y":220,"wires":[[]]},{"id":"f0a1d7bb.3e4aa","type":"change","z":"d8422fcd.8b4f88","name":"","rules":[{"t":"delete","p":"payload.stateNum","pt":"msg"},{"t":"delete","p":"payload.stateName","pt":"msg"},{"t":"move","p":"payload.event","pt":"msg","to":"payload.state","tot":"msg"},{"t":"delete","p":"payload.event","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":220,"wires":[["face17ac.f6c5f"]]},{"id":"fc51736a.6101a","type":"mongodb2 in","z":"d8422fcd.8b4f88","service":"_ext_","configNode":"c2e023a5.ad0b","name":"","collection":"AngleState","operation":"insertOne","x":1080,"y":120,"wires":[[]]},{"id":"305676e0.8ba3c2","type":"change","z":"d8422fcd.8b4f88","name":"","rules":[{"t":"delete","p":"payload.stateNum","pt":"msg"},{"t":"delete","p":"payload.stateName","pt":"msg"},{"t":"move","p":"payload.event","pt":"msg","to":"payload.state","tot":"msg"},{"t":"delete","p":"payload.event","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":120,"wires":[["fc51736a.6101a"]]},{"id":"19bf81f4.4443fe","type":"change","z":"d8422fcd.8b4f88","name":"KeepPressureOnly","rules":[{"t":"delete","p":"payload.Travel","pt":"msg"},{"t":"delete","p":"payload.Angle","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":440,"wires":[["467c0bed.ccbe64"]]},{"id":"d41c5eed.0eee88","type":"mongodb2 in","z":"d8422fcd.8b4f88","service":"_ext_","configNode":"c2e023a5.ad0b","name":"","collection":"SeatingData","operation":"insertOne","x":1880,"y":440,"wires":[[]]},{"id":"cbc792a.37f63f","type":"change","z":"d8422fcd.8b4f88","name":"KeepTravelOnly","rules":[{"t":"delete","p":"payload.Pressure","pt":"msg"},{"t":"delete","p":"payload.Angle","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":500,"wires":[["fea79023.4b70d"]]},{"id":"da24f93e.ddda9","type":"mongodb2 in","z":"d8422fcd.8b4f88","service":"_ext_","configNode":"c2e023a5.ad0b","name":"","collection":"TravelData","operation":"insertOne","x":1880,"y":500,"wires":[[]]},{"id":"5e0e3ca3.73f30c","type":"change","z":"d8422fcd.8b4f88","name":"KeepAngleOnly","rules":[{"t":"delete","p":"payload.Travel","pt":"msg"},{"t":"delete","p":"payload.Pressure","pt":"msg"},{"t":"move","p":"payload.Angle.seatAngle","pt":"msg","to":"payload.Angle","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":560,"wires":[["fc4016c9.a30dd"]]},{"id":"24d7017f.e639d6","type":"mongodb2 in","z":"d8422fcd.8b4f88","service":"_ext_","configNode":"c2e023a5.ad0b","name":"","collection":"AngleData","operation":"insertOne","x":1880,"y":560,"wires":[[]]},{"id":"c49e85a9.4d5e6","type":"websocket out","z":"d8422fcd.8b4f88","name":"","server":"fb6081dd.109bf","client":"","x":490,"y":580,"wires":[]},{"id":"fc4016c9.a30dd","type":"function","z":"d8422fcd.8b4f88","name":"limitLoggingToOneHertzAngle","func":"if((flow.get('angleTime') || 0) != msg.payload.time) {\n    flow.set('angleTime',msg.payload.time);\n    msg.shouldLog = 1;\n} else {\n    msg.shouldLog = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":560,"wires":[["cc3c65b5.d9cde8"]]},{"id":"cc3c65b5.d9cde8","type":"switch","z":"d8422fcd.8b4f88","name":"ShouldLog","property":"shouldLog","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1650,"y":560,"wires":[["24d7017f.e639d6"]]},{"id":"19e75aa3.293e75","type":"switch","z":"d8422fcd.8b4f88","name":"ShouldLog","property":"shouldLog","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1650,"y":500,"wires":[["da24f93e.ddda9"]]},{"id":"fea79023.4b70d","type":"function","z":"d8422fcd.8b4f88","name":"limitLoggingToOneHertzTravel","func":"if((flow.get('travelTime') || 0) != msg.payload.time) {\n    flow.set('travelTime',msg.payload.time);\n    msg.shouldLog = 1;\n} else {\n    msg.shouldLog = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":500,"wires":[["19e75aa3.293e75"]]},{"id":"73579fdc.51c5c8","type":"switch","z":"d8422fcd.8b4f88","name":"ShouldLog","property":"shouldLog","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1670,"y":440,"wires":[["d41c5eed.0eee88"]]},{"id":"467c0bed.ccbe64","type":"function","z":"d8422fcd.8b4f88","name":"limitLoggingToOneHertzPressure","func":"if((flow.get('pressureTime') || 0) != msg.payload.time) {\n    flow.set('pressureTime',msg.payload.time);\n    msg.shouldLog = 1;\n} else {\n    msg.shouldLog = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":440,"wires":[["73579fdc.51c5c8"]]},{"id":"293469a9.3159c6","type":"http in","z":"d8422fcd.8b4f88","name":"","url":"/debug","method":"get","upload":false,"swaggerDoc":"","x":290,"y":740,"wires":[["89774864.1d3718"]]},{"id":"7feb16d8.6793d8","type":"http response","z":"d8422fcd.8b4f88","name":"","statusCode":"","headers":{},"x":770,"y":740,"wires":[]},{"id":"489cc160.a2f92","type":"template","z":"d8422fcd.8b4f88","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!doctype html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\">\n    <title>Debug Data</title>\n    <style type=\"text/css\">\n\n\n    #wrapper {\n        text-align: center;\n    }\n    #container {\n        display: inline-block;\n    }\n\n    .data{\n        float:left;\n        text-align: left;\n        margin: 10px 30px 0px;\n    }\n\n    </style>\n          <script type = \"text/javascript\">\n            if (\"WebSocket\" in window) {\n               // Let us open a web socket\n               var wsChairState = new WebSocket(\"ws://{{payload.0.address}}:1880/ws/chairState\");\n               var wsRawData = new WebSocket(\"ws://{{payload.0.address}}:1880/ws/rawData\");\n               var wsAngleFSM = new WebSocket(\"ws://{{payload.0.address}}:1880/ws/angleFSM\");\n               var wsTravelFSM = new WebSocket(\"ws://{{payload.0.address}}:1880/ws/travelFSM\");\n               var wsSeatingFSM = new WebSocket(\"ws://{{payload.0.address}}:1880/ws/seatingFSM\");\n\t\t\t\t\n               wsChairState.onmessage = function (evt) { \n                  var received_msg = evt.data;\n                  document.getElementById(\"chairDiv\").innerHTML = JSON.stringify(JSON.parse(received_msg), undefined, 2);\n               };\n\n               wsRawData.onmessage = function (evt) { \n                  var received_msg = evt.data;\n                  document.getElementById(\"rawDiv\").innerHTML = JSON.stringify(JSON.parse(received_msg), undefined, 2);\n               };\n               \n               wsAngleFSM.onmessage = function (evt) { \n                  var received_msg = evt.data;\n                  console.log(received_msg)\n                  document.getElementById(\"angleFSM\").innerHTML = JSON.stringify(JSON.parse(received_msg), undefined, 2);\n               };\n               \n               wsTravelFSM.onmessage = function (evt) { \n                  var received_msg = evt.data;\n                  document.getElementById(\"travelFSM\").innerHTML = JSON.stringify(JSON.parse(received_msg), undefined, 2);\n               };\n               \n               wsSeatingFSM.onmessage = function (evt) { \n                  var received_msg = evt.data;\n                  document.getElementById(\"seatingFSM\").innerHTML = JSON.stringify(JSON.parse(received_msg), undefined, 2);\n               };\n\n            }\n      </script>\n</head>\n<body>\n    <div id=\"wrapper\">    \n        <div id=\"container\">\n            <div class = \"data\">\n                <h1>Raw Data:</h1>\n                <pre id = \"rawDiv\"></pre>\n            </div>\n            <div class = \"data\">\n                <h1>Chair state:</h1>\n                <pre id = \"chairDiv\"></pre>\n            </div>\n            <div class = \"data\">\n                <h1>AngleFSM:</h1>\n                <pre id = \"angleFSM\"></pre>\n            </div>\n            <div class = \"data\">\n                <h1>TravelFSM:</h1>\n                <pre id = \"travelFSM\"></pre>\n            </div>\n            <div class = \"data\">\n                <h1>SeatingFSM:</h1>\n                <pre id = \"seatingFSM\"></pre>\n            </div>\n            </div>\n    </div>\n</body>\n</html>","output":"str","x":620,"y":740,"wires":[["7feb16d8.6793d8"]]},{"id":"89774864.1d3718","type":"hostip","z":"d8422fcd.8b4f88","name":"Host IP","x":460,"y":740,"wires":[["489cc160.a2f92"]]},{"id":"a6789b30.267e1","type":"http in","z":"28ede86e.b0dc6","name":"","url":"/configuration","method":"get","upload":false,"swaggerDoc":"","x":170,"y":160,"wires":[["ed8c1478.c9a1b"]]},{"id":"1c6943a6.7dd72c","type":"mongodb2 in","z":"28ede86e.b0dc6","service":"_ext_","configNode":"c2e023a5.ad0b","name":"Retreive Configuration","collection":"Config","operation":"findOne","x":780,"y":160,"wires":[["2376e0d7.8eb478"]]},{"id":"1d5decda.261d5b","type":"function","z":"28ede86e.b0dc6","name":"Create Request","func":"var request = [{\"Value\":\"Configuration\"},msg.payload];\nmsg.payload= request;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":160,"wires":[["1c6943a6.7dd72c"]]},{"id":"ed8c1478.c9a1b","type":"subflow:4e4dbcc2.17d054","z":"28ede86e.b0dc6","name":"","x":370,"y":160,"wires":[["1d5decda.261d5b"]]},{"id":"2376e0d7.8eb478","type":"http response","z":"28ede86e.b0dc6","name":"","statusCode":"","headers":{},"x":970,"y":160,"wires":[]},{"id":"6fdd0f43.a8c0f8","type":"comment","z":"28ede86e.b0dc6","name":"Récupere ou Modifie les configurations","info":"","x":230,"y":100,"wires":[]},{"id":"9f83411d.e87788","type":"mongodb2 in","z":"28ede86e.b0dc6","service":"_ext_","configNode":"c2e023a5.ad0b","name":"Update Configurations","collection":"Config","operation":"update","x":780,"y":220,"wires":[["e07aa08.0ed3d6"]]},{"id":"cfb5fcca.2f4278","type":"http in","z":"28ede86e.b0dc6","name":"","url":"/configuration","method":"post","upload":false,"swaggerDoc":"","x":170,"y":220,"wires":[["6e67a31.d5a8d5c"]]},{"id":"c30cbc89.1a4728","type":"function","z":"28ede86e.b0dc6","name":"Create Request","func":"msg.payload =[{Value:\"Configuration\"},{$set:msg.req.body}];\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":220,"wires":[["9f83411d.e87788"]]},{"id":"6e67a31.d5a8d5c","type":"subflow:4e4dbcc2.17d054","z":"28ede86e.b0dc6","name":"","x":370,"y":220,"wires":[["c30cbc89.1a4728"]]},{"id":"e07aa08.0ed3d6","type":"http response","z":"28ede86e.b0dc6","name":"","statusCode":"","headers":{},"x":970,"y":220,"wires":[]},{"id":"72042046.97fe98","type":"http in","z":"b0a01c6c.06d65","name":"","url":"/recommandation","method":"get","upload":false,"swaggerDoc":"","x":300,"y":220,"wires":[["d7bd7d1d.603888"]]},{"id":"2a623c4d.e02154","type":"mongodb2 in","z":"b0a01c6c.06d65","service":"_ext_","configNode":"c2e023a5.ad0b","name":"find one","collection":"Config","operation":"findOne","x":820,"y":220,"wires":[["bf58a25a.9ba9f8"]]},{"id":"daf732f5.1eb138","type":"function","z":"b0a01c6c.06d65","name":"","func":"var request = [{\"Value\":\"Recommandation\"},msg.payload];\nmsg.payload= request;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":220,"wires":[["2a623c4d.e02154"]]},{"id":"d7bd7d1d.603888","type":"subflow:4e4dbcc2.17d054","z":"b0a01c6c.06d65","name":"","x":510,"y":220,"wires":[["daf732f5.1eb138"]]},{"id":"75981a82.b8815c","type":"http in","z":"b0a01c6c.06d65","name":"","url":"/recommandation","method":"post","upload":false,"swaggerDoc":"","x":300,"y":320,"wires":[["55b4ab83.ab4e7c"]]},{"id":"8e5430d.5b8525","type":"function","z":"b0a01c6c.06d65","name":"","func":"msg.payload =[{Value:\"Recommandation\"},{$set:msg.req.body}];\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":320,"wires":[["2b13321d.e22b5e"]]},{"id":"55b4ab83.ab4e7c","type":"subflow:4e4dbcc2.17d054","z":"b0a01c6c.06d65","name":"","x":510,"y":320,"wires":[["8e5430d.5b8525"]]},{"id":"bf58a25a.9ba9f8","type":"http response","z":"b0a01c6c.06d65","name":"","statusCode":"","headers":{},"x":970,"y":220,"wires":[]},{"id":"2b13321d.e22b5e","type":"mongodb2 in","z":"b0a01c6c.06d65","service":"_ext_","configNode":"c2e023a5.ad0b","name":"","collection":"Config","operation":"update","x":850,"y":320,"wires":[["39e3c76d.ccc6d","edf8d164.f4cea"]]},{"id":"39e3c76d.ccc6d","type":"http response","z":"b0a01c6c.06d65","name":"","statusCode":"","headers":{},"x":1030,"y":340,"wires":[]},{"id":"edf8d164.f4cea","type":"template","z":"b0a01c6c.06d65","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{req.body.reduceWeight.tiltFrequency}}:{{req.body.reduceWeight.tiltLength}}:{{req.body.reduceWeight.tiltAngle}}","output":"str","x":1040,"y":300,"wires":[["5dd5450f.589f74"]]},{"id":"5dd5450f.589f74","type":"mqtt out","z":"b0a01c6c.06d65","name":"","topic":"goal/update_data","qos":"","retain":"","broker":"2b8661c7.194ede","x":1230,"y":300,"wires":[]},{"id":"e669f6bf.29a8","type":"comment","z":"b0a01c6c.06d65","name":"Récupère/Modifie les recommandation","info":"Envoie également les données via mqtt de sort a changer la machine a état fini","x":350,"y":160,"wires":[]},{"id":"74bd7263.339dbc","type":"http response","z":"b9daa40a.159ce8","name":"","statusCode":"","headers":{},"x":790,"y":240,"wires":[]},{"id":"8545f6a9.272de8","type":"template","z":"b9daa40a.159ce8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{req.body.reduceWeight.tiltFrequency}}:{{req.body.reduceWeight.tiltLength}}:{{req.body.reduceWeight.tiltAngle}}","output":"str","x":860,"y":100,"wires":[["726a2c8f.af4a1c"]]},{"id":"726a2c8f.af4a1c","type":"mqtt out","z":"b9daa40a.159ce8","name":"","topic":"goal/update_data","qos":"","retain":"","broker":"2b8661c7.194ede","x":1050,"y":100,"wires":[]},{"id":"1a121ff7.8e7418","type":"http in","z":"9c58fe86.dc70d","name":"","url":"/lastDate","method":"get","upload":false,"swaggerDoc":"","x":230,"y":40,"wires":[["edd2dcfa.c686b8"]]},{"id":"d58df6bb.b9ab3","type":"http response","z":"9c58fe86.dc70d","name":"","statusCode":"","headers":{},"x":610,"y":40,"wires":[]},{"id":"553cf646.02fc3","type":"http in","z":"785b00cb.55902","name":"","url":"/dailySuccessfulTilts","method":"get","upload":false,"swaggerDoc":"","x":670,"y":240,"wires":[["7fd6d4b8.cba10c"]]},{"id":"29f2ac7c.f4e9a4","type":"http response","z":"785b00cb.55902","name":"","statusCode":"","headers":{},"x":2250,"y":240,"wires":[]},{"id":"e4fbc5f.4c8f838","type":"http in","z":"785b00cb.55902","name":"","url":"/oneDay","method":"get","upload":false,"swaggerDoc":"","x":630,"y":360,"wires":[["9445ace0.819438"]]},{"id":"666d92ac.5adef4","type":"http response","z":"785b00cb.55902","name":"","statusCode":"","headers":{},"x":2170,"y":360,"wires":[]},{"id":"db90c0c8.51d77","type":"comment","z":"785b00cb.55902","name":"Info request","info":"Parameter Day and Offset\nreturn array[5], number of tilt by category\n0:Bon angle Bonne durée\n1:Bon angle, durée trop courte\n2:Mauvais angle, bonne duree\n3:Non réalisé\n4:Snoozé","x":630,"y":200,"wires":[]},{"id":"3eeb2efb.6a4cfa","type":"comment","z":"785b00cb.55902","name":"Info request","info":"Parameter Day and Offset\nreturn array[5], time passed in ms\n0:Moins de 0\n1:0 a 15\n2:15 a 30\n3:30 a 45\n4:45 et plus","x":630,"y":320,"wires":[]},{"id":"bdc80b96.bb145","type":"mongodb2 in","z":"785b00cb.55902","service":"_ext_","configNode":"c2e023a5.ad0b","name":"","collection":"AngleState","operation":"find.toArray","x":1320,"y":360,"wires":[["1faeaf3f.8220c1"]]},{"id":"1faeaf3f.8220c1","type":"function","z":"785b00cb.55902","name":"CreateEventPair","func":"var i;\nmsg.event = [];\nfor (i = 0; i < msg.payload.length; i+=2) {\n  if (msg.payload[i+1] !== undefined) {\n    if(msg.payload[i].state == 'Started' && msg.payload[i+1].state == 'Stopped') {\n          msg.event.push({\"begin\":msg.payload[i], \"end\":msg.payload[i+1], \"data\":[]})\n    }\n  }\n}\nmsg.currentIndex = 0\nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":360,"wires":[["4dd558ca.4a2b5"]]},{"id":"4dd558ca.4a2b5","type":"change","z":"785b00cb.55902","name":"","rules":[{"t":"move","p":"event","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":360,"wires":[["b7e5a565.bb5b9"]]},{"id":"96507728.06ff78","type":"function","z":"785b00cb.55902","name":"EventToQuery","func":"msg.payload = { 'time' : { '$gte' : msg.start , '$lte' : msg.end } };\nreturn msg","outputs":1,"noerr":0,"x":1080,"y":360,"wires":[["bdc80b96.bb145"]]},{"id":"b7e5a565.bb5b9","type":"function","z":"785b00cb.55902","name":"Create array of angles","func":"\nvar result = [0,0,0,0,0]\n\nfor (var i = 0; i < msg.payload.length; i++) {\n    result[0] += msg.payload[i].end.lessThanZero*1000;\n    result[1] += msg.payload[i].end.zeroToFifteen*1000;\n    result[2] += msg.payload[i].end.fifteenToThirty*1000;\n    result[3] += msg.payload[i].end.thirtyToFourtyfive*1000;\n    result[4] += msg.payload[i].end.fourtyfiveAndMore*1000;\n} \nmsg.payload = result\n\nreturn msg;","outputs":1,"noerr":0,"x":1980,"y":360,"wires":[["666d92ac.5adef4"]]},{"id":"edd2dcfa.c686b8","type":"function","z":"9c58fe86.dc70d","name":"Today's date (ms)","func":"var now = new Date();\nmsg.payload = now.getTime() - now.getTimezoneOffset()*60*1000\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":40,"wires":[["d58df6bb.b9ab3"]]},{"id":"9445ace0.819438","type":"function","z":"785b00cb.55902","name":"Datestamp for whole day","func":"var date = new Date(parseInt(msg.payload.Day));\nmsg.start = Math.ceil((date.getTime() + msg.payload.Offset*3600000)/1000);\nmsg.end = ((msg.start + 3600*24 - 1))\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":360,"wires":[["96507728.06ff78"]]},{"id":"73d6df4f.43d2e8","type":"function","z":"785b00cb.55902","name":"EventToQuery","func":"msg.payload = { 'time' : { '$gte' : msg.start , '$lte' : msg.end } };\nreturn msg","outputs":1,"noerr":0,"x":1160,"y":240,"wires":[["bb815225.87593"]]},{"id":"7fd6d4b8.cba10c","type":"function","z":"785b00cb.55902","name":"Datestamp for whole day","func":"var date = new Date(parseInt(msg.payload.Day));\nmsg.start = Math.ceil((date.getTime() + msg.payload.Offset*3600000)/1000);\nmsg.end = ((msg.start + 3600*24 - 1))\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":240,"wires":[["73d6df4f.43d2e8"]]},{"id":"cf67815d.cb009","type":"function","z":"785b00cb.55902","name":"CreateEventPair","func":"var i;\nmsg.event = [];\nfor (i = 0; i < msg.payload.length; i+=2) {\n  if (msg.payload[i+1] !== undefined) {\n    if(msg.payload[i].state == 'Started' && msg.payload[i+1].state == 'Stopped') {\n          msg.event.push({\"begin\":msg.payload[i], \"end\":msg.payload[i+1], \"data\":[]})\n    }\n  }\n}\nmsg.currentIndex = 0\nreturn msg;","outputs":1,"noerr":0,"x":1640,"y":240,"wires":[["ef5a099a.dd3498"]]},{"id":"ef5a099a.dd3498","type":"change","z":"785b00cb.55902","name":"","rules":[{"t":"move","p":"event","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1840,"y":240,"wires":[["28d00bdd.f14d3c"]]},{"id":"bb815225.87593","type":"mongodb2 in","z":"785b00cb.55902","service":"_ext_","configNode":"c2e023a5.ad0b","name":"","collection":"AngleState","operation":"find.toArray","x":1400,"y":240,"wires":[["cf67815d.cb009"]]},{"id":"28d00bdd.f14d3c","type":"function","z":"785b00cb.55902","name":"Create array of angles","func":"\nvar result = [0,0,0,0,0]\nvar range = 2\n\n\nfor (var i = 0; i < msg.payload.length; i++) {\n  var avg = msg.payload[i].end.average;\n  var elapsed = msg.payload[i].end.elapsed;\n  var duration = msg.payload[i].end.requiredDuration;\n  var angle = msg.payload[i].end.requiredAngle;\n  \n  var goodAngle = (avg >= angle-range && duration <= angle-range);\n  var goodTime = (elapsed >= duration);\n  \n  \n  if(goodAngle && goodTime) {\n      result[0] += 1;\n  } else if(goodAngle && !goodTime) {\n      result[1] += 1;\n  } else if(!goodAngle && goodTime) {\n      result[2] += 1;\n  } else {\n      result[3] += 1;\n  }\n} \n\nmsg.payload = result\n\nreturn msg;","outputs":1,"noerr":0,"x":2060,"y":240,"wires":[["29f2ac7c.f4e9a4"]]},{"id":"a89a362b.fffc9","type":"comment","z":"785b00cb.55902","name":"TODO","info":"Manque bascule de mauvais angle et mauvaise durée\nBesoin de l'alarme pour controller le snooze et non réalisé","x":2010,"y":200,"wires":[]},{"id":"7ff621c1.02fe3","type":"http in","z":"785b00cb.55902","name":"","url":"/oneMonth","method":"get","upload":false,"swaggerDoc":"","x":600,"y":800,"wires":[["9c831012.32e128"]]},{"id":"451d6d4b.ca6514","type":"comment","z":"785b00cb.55902","name":"Info request","info":"Parameter Day and Offset\nreturn array[5], time passed in ms\n0:Moins de 0\n1:0 a 15\n2:15 a 30\n3:30 a 45\n4:45 et plus","x":610,"y":760,"wires":[]},{"id":"87941cbb.5e103","type":"function","z":"785b00cb.55902","name":"EventToQuery","func":"if(msg.index === undefined) {\n    msg.index = 0;\n} else {\n    msg.index++;\n}\n\nmsg.payload = { 'time' : { '$gte' : msg.eachDays[msg.index][0] , '$lte' : msg.eachDays[msg.index][1] } };\n\nreturn msg","outputs":1,"noerr":0,"x":1360,"y":800,"wires":[["1fe636e2.e11159"]]},{"id":"9c831012.32e128","type":"function","z":"785b00cb.55902","name":"Datestamp for whole month","func":"//En format UTC\n\nvar Day = parseInt(msg.payload.Day)\n//var Offset = parseInt(msg.payload.Offset)\n//var localOffset = (-1) * (Offset*60) * 60000;\n\n\nvar date = new Date(Day);\nvar start = new Date(date.getFullYear(), date.getMonth(), 1);\nvar end = new Date(date.getFullYear(), date.getMonth()+1, 0);\n\nmsg.start = (Math.ceil((start.getTime())/1000))\nmsg.end = ((Math.ceil((end.getTime()) + (3600000*24))/1000) - 1)\n\nreturn msg\n","outputs":1,"noerr":0,"x":840,"y":800,"wires":[["22b228eb.ebd038"]]},{"id":"22b228eb.ebd038","type":"function","z":"785b00cb.55902","name":"Timestamp for Each Day","func":"var dtStart = new Date(msg.start*1000);\nvar dtEnd = new Date(dtStart.getFullYear(), dtStart.getMonth()+1, 0)\ndtEnd = new Date((dtEnd.getTime()) + (24*1000*60*60) - 1000)\n\nmsg.numDays = dtEnd.getDate();\n\nvar res = []\n\nfor(var i = 1; i <= msg.numDays; i++) {\n    var t = [];\n    var dt = new Date(dtStart.getFullYear(), dtStart.getMonth(), i) //Current Day\n    var dt2 = new Date(dtStart.getFullYear(), dtStart.getMonth(), i+1) //Day after\n    t.push(Math.ceil(dt.getTime()/1000))\n    dt = new Date((dt.getTime()) + (dt2.getTime()-dt.getTime()))\n    t.push(Math.ceil(dt.getTime()/1000))\n    res.push(t)\n}\n\nmsg.eachDays = res;\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":800,"wires":[["87941cbb.5e103"]]},{"id":"797d02f7.fed8dc","type":"function","z":"785b00cb.55902","name":"Check index","func":"\nif(msg.index < msg.numDays-1) {\n    msg.done = false;\n} else {\n    msg.done = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":2310,"y":800,"wires":[["7fa455f2.bcb6c4"]]},{"id":"7fa455f2.bcb6c4","type":"switch","z":"785b00cb.55902","name":"Is Done","property":"done","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":2480,"y":740,"wires":[["833fd94f.8de428"],["87941cbb.5e103"]]},{"id":"1fe636e2.e11159","type":"mongodb2 in","z":"785b00cb.55902","service":"_ext_","configNode":"c2e023a5.ad0b","name":"","collection":"AngleState","operation":"find.toArray","x":1610,"y":800,"wires":[["46fe29e8.ad303"]]},{"id":"46fe29e8.ad303","type":"function","z":"785b00cb.55902","name":"CreateEventPair","func":"var i;\nmsg.event = [];\nfor (i = 0; i < msg.payload.length; i+=2) {\n  if (msg.payload[i+1] !== undefined) {\n    if(msg.payload[i].state == 'Started' && msg.payload[i+1].state == 'Stopped') {\n          msg.event.push({\"begin\":msg.payload[i], \"end\":msg.payload[i+1], \"data\":[]})\n    }\n  }\n}\nmsg.currentIndex = 0\nmsg.payload = msg.event\nreturn msg;","outputs":1,"noerr":0,"x":1870,"y":800,"wires":[["e167d923.a4ed48"]]},{"id":"e167d923.a4ed48","type":"function","z":"785b00cb.55902","name":"Create array of angles","func":"\nvar result = [0,0,0,0,0]\n\nfor (var i = 0; i < msg.payload.length; i++) {\n    result[0] += msg.payload[i].end.lessThanZero*1000;\n    result[1] += msg.payload[i].end.zeroToFifteen*1000;\n    result[2] += msg.payload[i].end.fifteenToThirty*1000;\n    result[3] += msg.payload[i].end.thirtyToFourtyfive*1000;\n    result[4] += msg.payload[i].end.fourtyfiveAndMore*1000;\n} \n\n\nif(msg.result === undefined) {\n    msg.result = {}\n}\n\nmsg.result[msg.index+1] = result\n\nreturn msg;","outputs":1,"noerr":0,"x":2100,"y":800,"wires":[["797d02f7.fed8dc"]]},{"id":"e7066ff3.4701e","type":"http response","z":"785b00cb.55902","name":"","statusCode":"","headers":{},"x":2870,"y":800,"wires":[]},{"id":"833fd94f.8de428","type":"change","z":"785b00cb.55902","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"result","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2690,"y":800,"wires":[["e7066ff3.4701e"]]},{"id":"4553a703.e15688","type":"comment","z":"785b00cb.55902","name":"TODO","info":"Pas d'angle sous 10 degré, limité par la FSM","x":1930,"y":320,"wires":[]},{"id":"5e14a2c4.1a9c6c","type":"http in","z":"785b00cb.55902","name":"","url":"/monthlySuccessfulTilts","method":"get","upload":false,"swaggerDoc":"","x":580,"y":640,"wires":[["776d6662.101db"]]},{"id":"776d6662.101db","type":"function","z":"785b00cb.55902","name":"Datestamp for whole month","func":"//En format UTC\n\nvar Day = parseInt(msg.payload.Day)\n//var Offset = parseInt(msg.payload.Offset)\n//var localOffset = (-1) * (Offset*60) * 60000;\n\n\nvar date = new Date(Day);\nvar start = new Date(date.getFullYear(), date.getMonth(), 1);\nvar end = new Date(date.getFullYear(), date.getMonth()+1, 0);\n\nmsg.start = (Math.ceil((start.getTime())/1000))\nmsg.end = ((Math.ceil((end.getTime()) + (3600000*24))/1000) - 1)\n\nreturn msg\n","outputs":1,"noerr":0,"x":840,"y":640,"wires":[["a1609906.fbbad"]]},{"id":"a1609906.fbbad","type":"function","z":"785b00cb.55902","name":"Timestamp for Each Day","func":"var dtStart = new Date(msg.start*1000);\nvar dtEnd = new Date(dtStart.getFullYear(), dtStart.getMonth()+1, 0)\ndtEnd = new Date((dtEnd.getTime()) + (24*1000*60*60) - 1000)\n\nmsg.numDays = dtEnd.getDate();\n\nvar res = []\n\nfor(var i = 1; i <= msg.numDays; i++) {\n    var t = [];\n    var dt = new Date(dtStart.getFullYear(), dtStart.getMonth(), i) //Current Day\n    var dt2 = new Date(dtStart.getFullYear(), dtStart.getMonth(), i+1) //Day after\n    t.push(Math.ceil(dt.getTime()/1000))\n    dt = new Date((dt.getTime()) + (dt2.getTime()-dt.getTime()))\n    t.push(Math.ceil(dt.getTime()/1000))\n    res.push(t)\n}\n\nmsg.eachDays = res;\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":640,"wires":[["a3f5ed00.4438d8"]]},{"id":"a3f5ed00.4438d8","type":"function","z":"785b00cb.55902","name":"EventToQuery","func":"if(msg.index === undefined) {\n    msg.index = 0;\n} else {\n    msg.index++;\n}\n\nmsg.payload = { 'time' : { '$gte' : msg.eachDays[msg.index][0] , '$lte' : msg.eachDays[msg.index][1] } };\n\nreturn msg","outputs":1,"noerr":0,"x":1340,"y":640,"wires":[["f2a73b57.2be048"]]},{"id":"f2a73b57.2be048","type":"mongodb2 in","z":"785b00cb.55902","service":"_ext_","configNode":"c2e023a5.ad0b","name":"","collection":"AngleState","operation":"find.toArray","x":1570,"y":640,"wires":[["fc97e42f.64ce48"]]},{"id":"fc97e42f.64ce48","type":"function","z":"785b00cb.55902","name":"CreateEventPair","func":"var i;\nmsg.event = [];\nfor (i = 0; i < msg.payload.length; i+=2) {\n  if (msg.payload[i+1] !== undefined) {\n    if(msg.payload[i].state == 'Started' && msg.payload[i+1].state == 'Stopped') {\n          msg.event.push({\"begin\":msg.payload[i], \"end\":msg.payload[i+1], \"data\":[]})\n    }\n  }\n}\nmsg.currentIndex = 0\nmsg.payload = msg.event\nreturn msg;","outputs":1,"noerr":0,"x":1830,"y":640,"wires":[["a90dba30.4da598"]]},{"id":"a90dba30.4da598","type":"function","z":"785b00cb.55902","name":"Create array of angles","func":"\nvar result = [0,0,0,0,0]\nvar range = 2\n\n\nfor (var i = 0; i < msg.payload.length; i++) {\n  var avg = msg.payload[i].end.average;\n  var elapsed = msg.payload[i].end.elapsed;\n  var duration = msg.payload[i].end.requiredDuration;\n  var angle = msg.payload[i].end.requiredAngle;\n  \n  var goodAngle = (avg >= angle-range && duration <= angle-range);\n  var goodTime = (elapsed >= duration);\n  \n  \n  if(goodAngle && goodTime) {\n      result[0] += 1;\n  } else if(goodAngle && !goodTime) {\n      result[1] += 1;\n  } else if(!goodAngle && goodTime) {\n      result[2] += 1;\n  } else {\n      result[3] += 1;\n  }\n} \n\nmsg.payload = result\n\nif(msg.result === undefined) {\n    msg.result = {}\n}\n\nmsg.result[msg.index+1] = result\n\nreturn msg;","outputs":1,"noerr":0,"x":2060,"y":640,"wires":[["6bd78b21.dbdff4"]]},{"id":"6bd78b21.dbdff4","type":"function","z":"785b00cb.55902","name":"Check index","func":"\nif(msg.index < msg.numDays-1) {\n    msg.done = false;\n} else {\n    msg.done = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":2270,"y":640,"wires":[["f49981b2.f777e"]]},{"id":"f49981b2.f777e","type":"switch","z":"785b00cb.55902","name":"Is Done","property":"done","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":2460,"y":580,"wires":[["bd390d91.2f07f"],["a3f5ed00.4438d8"]]},{"id":"deac026a.c549d8","type":"http response","z":"785b00cb.55902","name":"","statusCode":"","headers":{},"x":2850,"y":640,"wires":[]},{"id":"bd390d91.2f07f","type":"change","z":"785b00cb.55902","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"result","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2690,"y":640,"wires":[["deac026a.c549d8"]]},{"id":"f2a22c8f.878008","type":"comment","z":"785b00cb.55902","name":"Info request","info":"Parameter Day and Offset\nreturn array[5], number of tilt by category\n0:Bon angle Bonne durée\n1:Bon angle, durée trop courte\n2:Mauvais angle, bonne duree\n3:Non réalisé\n4:Snoozé","x":613.75,"y":599.7708435058594,"wires":[]},{"id":"f430b6e3.1e42e8","type":"comment","z":"785b00cb.55902","name":"TODO","info":"Pas d'angle sous 10 degré, limité par la FSM","x":2050,"y":740,"wires":[]},{"id":"40d964ee.099f3c","type":"comment","z":"785b00cb.55902","name":"TODO","info":"Manque bascule de mauvais angle et mauvaise durée\nBesoin de l'alarme pour controller le snooze et non réalisé","x":2010,"y":580,"wires":[]},{"id":"d9580e25.2d0e7","type":"comment","z":"70286646.4b1c9","name":"Info request","info":"Parameter Day and Offset\nreturn un objet de timestamp\n\n{\n   \"1543410677000\":{\n      \"center\":{\n         \"x\":-0.1383751481771469,\n         \"y\":-0.29149141907691956\n      },\n      \"quadrants\":[\n         {\n            \"x\":-0.12534435093402863,\n            \"y\":-0.3292011022567749\n         },\n         {\n            \"x\":0.028964517638087273,\n            \"y\":-0.2795076072216034\n         },\n         {\n            \"x\":-0.06779661029577255,\n            \"y\":-0.023378141224384308\n         },\n         {\n            \"x\":-0.1070745661854744,\n            \"y\":0.00637348648160696\n         }\n      ]\n   }\n}","x":350,"y":200,"wires":[]},{"id":"25d05c06.e5d954","type":"mongodb2 in","z":"70286646.4b1c9","service":"_ext_","configNode":"c2e023a5.ad0b","name":"","collection":"SeatingData","operation":"find.toArray","x":1050,"y":240,"wires":[["72e97350.b1d7f4"]]},{"id":"f964572f.4eea18","type":"function","z":"70286646.4b1c9","name":"EventToQuery","func":"msg.payload = { 'time' : { '$gte' : msg.start , '$lte' : msg.end } };\nreturn msg","outputs":1,"noerr":0,"x":800,"y":240,"wires":[["25d05c06.e5d954"]]},{"id":"9871374f.6c3c1","type":"function","z":"70286646.4b1c9","name":"Datestamp for whole day","func":"var date = new Date(parseInt(msg.payload.Day));\nmsg.start = Math.ceil((date.getTime() + msg.payload.Offset*3600000)/1000);\nmsg.end = ((msg.start + 3600*24 - 1))\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":240,"wires":[["f964572f.4eea18"]]},{"id":"fc0f7d7.4e0b38","type":"comment","z":"70286646.4b1c9","name":"TODO","info":"Pas d'angle sous 10 degré, limité par la FSM","x":1450,"y":200,"wires":[]},{"id":"72e97350.b1d7f4","type":"function","z":"70286646.4b1c9","name":"Format data","func":"var result = {}\n\nfor(var i = 0; i < msg.payload.length;i++) {\n    var e = msg.payload[i]\n    var remap = [e.Pressure.centerOfGravityPerQuadrant[3],e.Pressure.centerOfGravityPerQuadrant[0],e.Pressure.centerOfGravityPerQuadrant[1],e.Pressure.centerOfGravityPerQuadrant[2]]\n    for(var j = 0; j < 4; j++) {\n        remap[j] = {\"x\": remap[j].x/2, \"y\": remap[j].y/2}\n    }\n    result[(e.time*1000)] = {\"center\":e.Pressure.centerOfGravity, \"quadrants\":remap}\n}\nmsg.payload = result\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":240,"wires":[["82e1f7b5.443008"]]},{"id":"1c4b19d2.70fb9e","type":"http in","z":"70286646.4b1c9","name":"","url":"/gravityCenter","method":"get","upload":false,"swaggerDoc":"","x":330,"y":240,"wires":[["9871374f.6c3c1"]]},{"id":"82e1f7b5.443008","type":"http response","z":"70286646.4b1c9","name":"","statusCode":"","headers":{},"x":1450,"y":240,"wires":[]},{"id":"8ee03d78.e2bc3","type":"http in","z":"70286646.4b1c9","name":"","url":"/sittingTime","method":"get","upload":false,"swaggerDoc":"","x":320,"y":340,"wires":[["89373537.eb3c3"]]},{"id":"89373537.eb3c3","type":"function","z":"70286646.4b1c9","name":"Datestamp for whole month","func":"//En format UTC\n\nvar Day = parseInt(msg.payload.Day)\n//var Offset = parseInt(msg.payload.Offset)\n//var localOffset = (-1) * (Offset*60) * 60000;\n\n\nvar date = new Date(Day);\nvar start = new Date(date.getFullYear(), date.getMonth(), 1);\nvar end = new Date(date.getFullYear(), date.getMonth()+1, 0);\n\nmsg.start = (Math.ceil((start.getTime())/1000))\nmsg.end = ((Math.ceil((end.getTime()) + (3600000*24))/1000) - 1)\n\nreturn msg\n","outputs":1,"noerr":0,"x":560,"y":340,"wires":[["b67dd36c.90953"]]},{"id":"5c197f00.81264","type":"mongodb2 in","z":"70286646.4b1c9","service":"_ext_","configNode":"c2e023a5.ad0b","name":"","collection":"SeatingState","operation":"find.toArray","x":1330,"y":340,"wires":[["d74e294a.746858"]]},{"id":"ec50228e.3f1fc8","type":"function","z":"70286646.4b1c9","name":"EventToQuery","func":"if(msg.index === undefined) {\n    msg.index = 0;\n} else {\n    msg.index++;\n}\n\nmsg.payload = { 'time' : { '$gte' : msg.eachDays[msg.index][0] , '$lte' : msg.eachDays[msg.index][1] } };\n\nreturn msg","outputs":1,"noerr":0,"x":1070,"y":340,"wires":[["5c197f00.81264"]]},{"id":"b67dd36c.90953","type":"function","z":"70286646.4b1c9","name":"Timestamp for Each Day","func":"var dtStart = new Date(msg.start*1000);\nvar dtEnd = new Date(dtStart.getFullYear(), dtStart.getMonth()+1, 0)\ndtEnd = new Date((dtEnd.getTime()) + (24*1000*60*60) - 1000)\n\nmsg.numDays = dtEnd.getDate();\n\nvar res = []\n\nfor(var i = 1; i <= msg.numDays; i++) {\n    var t = [];\n    var dt = new Date(dtStart.getFullYear(), dtStart.getMonth(), i) //Current Day\n    var dt2 = new Date(dtStart.getFullYear(), dtStart.getMonth(), i+1) //Day after\n    t.push(Math.ceil(dt.getTime()/1000))\n    dt = new Date((dt.getTime()) + (dt2.getTime()-dt.getTime()))\n    t.push(Math.ceil(dt.getTime()/1000))\n    res.push(t)\n}\n\nmsg.eachDays = res;\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":340,"wires":[["ec50228e.3f1fc8"]]},{"id":"74124f4e.3c6108","type":"function","z":"70286646.4b1c9","name":"Check index","func":"\nif(msg.index < msg.numDays-1) {\n    msg.done = false;\n} else {\n    msg.done = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":2020,"y":340,"wires":[["1357e0e8.30abef"]]},{"id":"1357e0e8.30abef","type":"switch","z":"70286646.4b1c9","name":"Is Done","property":"done","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":2190,"y":280,"wires":[["a82eda0b.c580b"],["ec50228e.3f1fc8"]]},{"id":"d74e294a.746858","type":"function","z":"70286646.4b1c9","name":"CreateEventPair","func":"var i;\nmsg.event = [];\nfor (i = 0; i < msg.payload.length; i+=2) {\n  if (msg.payload[i+1] !== undefined) {\n    if(msg.payload[i].state == 'Started' && msg.payload[i+1].state == 'Stopped') {\n          msg.event.push({\"begin\":msg.payload[i], \"end\":msg.payload[i+1], \"data\":[]})\n    }\n  }\n}\nmsg.currentIndex = 0\nmsg.payload = msg.event\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":340,"wires":[["4fa0a648.a8c07"]]},{"id":"4fa0a648.a8c07","type":"function","z":"70286646.4b1c9","name":"Create array of angles","func":"if(msg.result === undefined) {\n    msg.result = {}\n}\n\nvar sum = 0\nfor(var i = 0; i < msg.payload.length; i++) {\n    sum += msg.payload[i].end.elapsed/60\n}\n\nmsg.result[msg.index+1] = sum\n\nreturn msg;","outputs":1,"noerr":0,"x":1810,"y":340,"wires":[["74124f4e.3c6108"]]},{"id":"d2c08245.d282d","type":"http response","z":"70286646.4b1c9","name":"","statusCode":"","headers":{},"x":2580,"y":340,"wires":[]},{"id":"a82eda0b.c580b","type":"change","z":"70286646.4b1c9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"result","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2400,"y":340,"wires":[["d2c08245.d282d","2459e5e5.25ee62"]]},{"id":"b0fbab5f.3980b","type":"comment","z":"70286646.4b1c9","name":"TODO","info":"Pas d'angle sous 10 degré, limité par la FSM","x":1760,"y":280,"wires":[]},{"id":"9e4af168.af0638","type":"debug","z":"70286646.4b1c9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2850,"y":260,"wires":[]},{"id":"2459e5e5.25ee62","type":"function","z":"70286646.4b1c9","name":"","func":"msg.payload = JSON.stringify(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":2690,"y":260,"wires":[["9e4af168.af0638"]]},{"id":"ca013bc2.b6497","type":"http in","z":"fd561dd2.b6ea58","name":"","url":"/memory","method":"get","upload":false,"swaggerDoc":"","x":350,"y":100,"wires":[["a0be57c4.1e5888"]]},{"id":"d8483970.681f2","type":"http response","z":"fd561dd2.b6ea58","name":"","statusCode":"","headers":{},"x":1230,"y":100,"wires":[]},{"id":"a0be57c4.1e5888","type":"exec","z":"fd561dd2.b6ea58","command":"df -h | awk 'FNR == 2 && /dev/root {print $2, $3}'","addpay":false,"append":"","useSpawn":"false","timer":"1","oldrc":false,"name":"Get Total and Used memory","x":580,"y":100,"wires":[["27da295f.8ba096"],[],[]]},{"id":"27da295f.8ba096","type":"function","z":"fd561dd2.b6ea58","name":"Format and split string","func":"var res = msg.payload.split(' ')\nmsg.capacity = parseFloat(res[0].replace(/[^\\d.-]/g, ''));\nmsg.used = parseFloat(res[1].replace(/[^\\d.-]/g, ''));\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":100,"wires":[["868e1075.e762f8"]]},{"id":"868e1075.e762f8","type":"change","z":"fd561dd2.b6ea58","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.total","pt":"msg","to":"capacity","tot":"msg"},{"t":"set","p":"payload.used","pt":"msg","to":"used","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":100,"wires":[["d8483970.681f2"]]},{"id":"50354145.e0d898","type":"http in","z":"28ede86e.b0dc6","name":"","url":"/dataAgreement","method":"get","upload":false,"swaggerDoc":"","x":180,"y":540,"wires":[["be0ce3bc.7efed8"]]},{"id":"9041bf22.55aa4","type":"mongodb2 in","z":"28ede86e.b0dc6","service":"_ext_","configNode":"c2e023a5.ad0b","name":"Retreive Configuration","collection":"Config","operation":"findOne","x":800,"y":540,"wires":[["dacc527e.6ed3f8"]]},{"id":"e0293407.660d6","type":"function","z":"28ede86e.b0dc6","name":"Create Request","func":"var request = {\"Value\":\"DataAgreement\"};\nmsg.payload= request;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":540,"wires":[["9041bf22.55aa4"]]},{"id":"be0ce3bc.7efed8","type":"subflow:4e4dbcc2.17d054","z":"28ede86e.b0dc6","name":"","x":390,"y":540,"wires":[["e0293407.660d6"]]},{"id":"dacc527e.6ed3f8","type":"http response","z":"28ede86e.b0dc6","name":"","statusCode":"","headers":{},"x":990,"y":540,"wires":[]},{"id":"f9de807c.acd2e","type":"mongodb2 in","z":"28ede86e.b0dc6","service":"_ext_","configNode":"c2e023a5.ad0b","name":"Update Configurations","collection":"Config","operation":"update","x":1040,"y":600,"wires":[["7dd70711.4ac4d8"]]},{"id":"a7cd87ad.493f78","type":"function","z":"28ede86e.b0dc6","name":"Create Request","func":"msg.payload =[{Value:\"DataAgreement\"},{$set:msg.payload}];\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":600,"wires":[["f9de807c.acd2e"]]},{"id":"7ca0f5.5929d70c","type":"subflow:4e4dbcc2.17d054","z":"28ede86e.b0dc6","name":"","x":390,"y":600,"wires":[["f34d8c76.0b6658"]]},{"id":"7dd70711.4ac4d8","type":"http response","z":"28ede86e.b0dc6","name":"","statusCode":"","headers":{},"x":1230,"y":600,"wires":[]},{"id":"8a935947.deae78","type":"http in","z":"28ede86e.b0dc6","name":"","url":"/dataAgreement","method":"post","upload":false,"swaggerDoc":"","x":180,"y":600,"wires":[["7ca0f5.5929d70c"]]},{"id":"f34d8c76.0b6658","type":"function","z":"28ede86e.b0dc6","name":"invertDataAgreement","func":"msg.payload.dataAgreement = !msg.payload.dataAgreement\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":600,"wires":[["a7cd87ad.493f78"]]},{"id":"599cbca8.086fc4","type":"websocket out","z":"d8422fcd.8b4f88","name":"","server":"8c99f6d6.ddd4d","client":"","x":530,"y":440,"wires":[]},{"id":"b0ed070c.b8b598","type":"websocket out","z":"d8422fcd.8b4f88","name":"","server":"76042830.e1476","client":"","x":540,"y":280,"wires":[]},{"id":"e9e037fc.a92f18","type":"websocket out","z":"d8422fcd.8b4f88","name":"","server":"c3eb9ecd.694a1","client":"","x":530,"y":180,"wires":[]},{"id":"b0013f36.edc098","type":"websocket out","z":"d8422fcd.8b4f88","name":"","server":"3f158145.0b3c46","client":"","x":530,"y":80,"wires":[]},{"id":"863459d4.3ed33","type":"http in","z":"fd561dd2.b6ea58","name":"","url":"/calibrateIMU","method":"get","upload":false,"swaggerDoc":"","x":330,"y":260,"wires":[["6c6c7ba5.0b5cac","ded270f7.f52948"]]},{"id":"6c6c7ba5.0b5cac","type":"http response","z":"fd561dd2.b6ea58","name":"","statusCode":"","headers":{},"x":510,"y":260,"wires":[]},{"id":"c4934423.b13c6","type":"mqtt out","z":"fd561dd2.b6ea58","name":"","topic":"config/calib_imu","qos":"","retain":"","broker":"2b8661c7.194ede","x":700,"y":220,"wires":[]},{"id":"ded270f7.f52948","type":"template","z":"fd561dd2.b6ea58","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"1","output":"str","x":520,"y":220,"wires":[["c4934423.b13c6"]]},{"id":"8123ecca.afcec","type":"http in","z":"fd561dd2.b6ea58","name":"","url":"/alert","method":"get","upload":false,"swaggerDoc":"","x":360,"y":360,"wires":[["f36d9ca8.c985f","a2355e51.be1c88"]]},{"id":"f36d9ca8.c985f","type":"http response","z":"fd561dd2.b6ea58","name":"","statusCode":"","headers":{},"x":510,"y":380,"wires":[]},{"id":"581a404.dad20c","type":"mqtt out","z":"fd561dd2.b6ea58","name":"","topic":"config/led_control","qos":"","retain":"","broker":"2b8661c7.194ede","x":730,"y":340,"wires":[]},{"id":"a2355e51.be1c88","type":"function","z":"fd561dd2.b6ea58","name":"State to Int","func":"if (msg.payload.State === \"on\") {\n    msg.payload = 1\n} else {\n    msg.payload = 0\n}\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":340,"wires":[["581a404.dad20c"]]},{"id":"830b4a52.c322d","type":"http in","z":"fd561dd2.b6ea58","name":"","url":"/notificationSettings","method":"get","upload":false,"swaggerDoc":"","x":330,"y":500,"wires":[["cafc2f61.2f8248"]]},{"id":"98d3fdaa.e74a78","type":"http in","z":"fd561dd2.b6ea58","name":"","url":"/notificationSettings","method":"post","upload":false,"swaggerDoc":"","x":330,"y":560,"wires":[["539b152d.d4d77c"]]},{"id":"78ab2ca8.cc2464","type":"http response","z":"fd561dd2.b6ea58","name":"","statusCode":"","headers":{},"x":970,"y":500,"wires":[]},{"id":"1f4aa3d3.5961d4","type":"http response","z":"fd561dd2.b6ea58","name":"","statusCode":"","headers":{},"x":970,"y":560,"wires":[]},{"id":"c45af36f.2161b","type":"mongodb2 in","z":"fd561dd2.b6ea58","service":"_ext_","configNode":"c2e023a5.ad0b","name":"Update Configuration","collection":"Config","operation":"update","x":780,"y":560,"wires":[["1f4aa3d3.5961d4"]]},{"id":"539b152d.d4d77c","type":"function","z":"fd561dd2.b6ea58","name":"Create Request","func":"msg.payload =[{Value:\"Alarm\"},{$set:msg.req.body}];\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":560,"wires":[["c45af36f.2161b"]]},{"id":"5ffc2dd.5305554","type":"mongodb2 in","z":"fd561dd2.b6ea58","service":"_ext_","configNode":"c2e023a5.ad0b","name":"Retreive Configuration","collection":"Config","operation":"findOne","x":780,"y":500,"wires":[["78ab2ca8.cc2464"]]},{"id":"cafc2f61.2f8248","type":"function","z":"fd561dd2.b6ea58","name":"Create Request","func":"msg.payload = {\"Value\":\"Alarm\"};\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":500,"wires":[["5ffc2dd.5305554"]]},{"id":"50400557.6d576c","type":"http in","z":"fd561dd2.b6ea58","name":"","url":"/wifi","method":"get","upload":false,"swaggerDoc":"","x":280,"y":680,"wires":[["50d204e9.7fa88c"]]},{"id":"d1cfa981.10c228","type":"http in","z":"fd561dd2.b6ea58","name":"","url":"/wifi","method":"post","upload":false,"swaggerDoc":"","x":280,"y":740,"wires":[["647c800f.85c8","e07ed91f.d64a9"]]},{"id":"734f0a85.ccbac4","type":"http response","z":"fd561dd2.b6ea58","name":"","statusCode":"","headers":{},"x":750,"y":680,"wires":[]},{"id":"647c800f.85c8","type":"http response","z":"fd561dd2.b6ea58","name":"","statusCode":"","headers":{},"x":430,"y":740,"wires":[]},{"id":"50d204e9.7fa88c","type":"is online","z":"fd561dd2.b6ea58","name":"","url":"http://google.ca/","action":"0","x":440,"y":680,"wires":[["640c3242.34e634"]]},{"id":"e07ed91f.d64a9","type":"debug","z":"fd561dd2.b6ea58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":450,"y":780,"wires":[]},{"id":"640c3242.34e634","type":"template","z":"fd561dd2.b6ea58","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \n    \"connected\": {{payload}}\n} ","output":"str","x":600,"y":680,"wires":[["734f0a85.ccbac4"]]},{"id":"9d252796.fb537","type":"is online","z":"fd561dd2.b6ea58","name":"","url":"","action":"0","x":480,"y":900,"wires":[["c55f5986.52c608"]]},{"id":"fcad1b51.96edc","type":"inject","z":"fd561dd2.b6ea58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":900,"wires":[["9d252796.fb537"]]},{"id":"c55f5986.52c608","type":"debug","z":"fd561dd2.b6ea58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":900,"wires":[]},{"id":"35b7579e.b5dd","type":"inject","z":"fd561dd2.b6ea58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":440,"wires":[["7bdc3286.519944"]]},{"id":"7bdc3286.519944","type":"exec","z":"fd561dd2.b6ea58","command":"mkdir abc","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":550,"y":460,"wires":[[],[],[]]}]