MovIt.json
[{"id":"519cc4bd.7549fc","type":"tab","label":"pagetest","disabled":false,"info":""},{"id":"e0d05a3d.90ad08","type":"tab","label":"dbtemplate","disabled":false,"info":""},{"id":"ed0c995d.e2e7f8","type":"tab","label":"test MQTT","disabled":false,"info":""},{"id":"62e9dd9c.3ec8b4","type":"tab","label":"Login","disabled":false,"info":""},{"id":"7ada863a.3ed478","type":"tab","label":"vérify token","disabled":false,"info":""},{"id":"a7921a36.b714e8","type":"tab","label":"test token","disabled":false,"info":""},{"id":"c6f5a9d0.2bf118","type":"tab","label":"Simulation basic","disabled":false,"info":""},{"id":"79c89fe4.873e6","type":"tab","label":"get info","disabled":false,"info":""},{"id":"b9daa40a.159ce8","type":"tab","label":"Recommandations","disabled":false,"info":""},{"id":"8d5bdf3b.558dd","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"3ba2a49e.7ce77c","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"MovIt","name":""},{"id":"311fce6b.a3ffd2","type":"mongodb2","name":""},{"id":"c2e023a5.ad0b","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/MovIt","name":"MovIt","options":"","parallelism":"-1"},{"id":"94e4b2c8.735b8","type":"mongodb2","z":"","uri":"","name":"","options":"","parallelism":"-1"},{"id":"2b8661c7.194ede","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"bb8d8b46.1a89c8","type":"http in","z":"519cc4bd.7549fc","name":"home","url":"/home","method":"get","upload":false,"swaggerDoc":"","x":190,"y":180,"wires":[["3ae442d1.bdcede"]]},{"id":"629e7f12.c089c","type":"http response","z":"519cc4bd.7549fc","name":"return home page","statusCode":"","headers":{},"x":600,"y":180,"wires":[]},{"id":"3ae442d1.bdcede","type":"template","z":"519cc4bd.7549fc","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n\t<head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->\n    <title>Home page</title>\n\n    <!-- Bootstrap -->\n    <link href=\"css/bootstrap.min.css\" rel=\"stylesheet\">\n\t<link href=\"css/bootstrap-slider.min.css\" rel=\"stylesheet\">\n\t<link href=\"css/style.css\" rel=\"stylesheet\">\n\n    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->\n    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->\n    <!--[if lt IE 9]>\n      <script src=\"https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js\"></script>\n      <script src=\"https://oss.maxcdn.com/respond/1.4.2/respond.min.js\"></script>\n    <![endif]-->\n\t</head>\n\t<body id=\"Home-body\">\n\t\t<div class=\"site-wrapper\">\n\t\t\t<div class=\"site-wrapper-inner\">\n\t\t\t\t<div class=\"cover-container\">\n\t\t\t\t\t<div class=\"masthead clearfix\">\n\t\t\t\t\t\t<div class=\"inner\">\n\t\t\t\t\t\t\t<h1 class=\"masthead-brand text-center home_txt1\"><strong>Accueil</strong></h1>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div class=\"inner cover\">\n\t\t\t\t\t\t<h1 id=\"centerHeader\" class=\"cover-heading\">Bienvenue sur la plateforme <br> <strong>MOvIT-PLUS</strong></h1>\n\t\t\t\t\t\t<p id=\"centerText\" class=\"lead\">Veuillez sélectionner le compte avec lequel vous désirez vous connecter :</p>\n\t\t\t\t\t\t<p>\n\t\t\t\t\t\t\t<a href=\"/Objectives\" class=\"btn btn-lg btn-default home_txt3\">Usager</a>\n\t\t\t\t\t\t\t<a href=\"/Configurations\" class=\"btn btn-lg btn-default home_txt2\">Clinicien</a>\n\t\t\t\t\t\t\t<a href=\"#\" class=\"btn btn-lg btn-info\" id=\"lang\">English</a>\n\t\t\t\t\t\t</p>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div>\n\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t</div>\n\n\n\n\n\t\t<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->\n\t\t<script src=\"js/jquery.min.js\"></script>\n\t\t<!-- Include all compiled plugins (below), or include individual files as needed -->\n\t\t<script src=\"js/bootstrap.min.js\"></script>\n\t\t<script src=\"js/languages.js\"></script>\n\t</body>\n</html>\n","output":"str","x":380,"y":180,"wires":[["629e7f12.c089c"]]},{"id":"2d6ab1ac.6e305e","type":"http in","z":"519cc4bd.7549fc","name":"Objectives","url":"/Objectives","method":"get","upload":false,"swaggerDoc":"","x":190,"y":240,"wires":[["a93522c3.98904"]]},{"id":"41ccb36a.568f3c","type":"http response","z":"519cc4bd.7549fc","name":"return Objectives page","statusCode":"","headers":{},"x":610,"y":240,"wires":[]},{"id":"a93522c3.98904","type":"template","z":"519cc4bd.7549fc","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n    <head>\n        <meta charset=\"utf-8\">\n        <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\n\t\t<title>Objectives page</title>\n\n        <link href=\"css/bootstrap.min.css\" rel=\"stylesheet\">\n\t\t<link href=\"css/bootstrap-slider.min.css\" rel=\"stylesheet\">\n\t\t<link href=\"css/style.css\" rel=\"stylesheet\">\n\n    </head>\n    <body style=\"text-align: center;\">\n\t\t<div class=\"wrapper\">\n\t\t\t<nav class=\"navbar navbar-inverse\">\n\t\t\t\t<div class=\"container\">\n\t\t\t\t\t<div class=\"navbar-header\">\n\t\t\t\t\t\t<button class=\"navbar-toggle collapsed\" data-toggle=\"collapse\" data-target=\"#navbar\" aria-expanded=\"false\" aria-controls=\"navbar\">\n\t\t\t\t\t\t\t<span class=\"sr-only\">Toggle navigation</span>\n\t\t\t\t\t\t\t<span class=\"icon-bar\"></span>\n\t\t\t\t\t\t\t<span class=\"icon-bar\"></span>\n\t\t\t\t\t\t\t<span class=\"icon-bar\"></span>\n\t\t\t\t\t\t</button>\n\t\t\t\t\t\t<a class=\"navbar-brand\" href=\"/\">MOvIT+</a>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div id=\"navbar\" class=\"navbar-collapse collapse\" aria-expanded=\"false\" style=\"height: 1px;\">\n\t\t\t\t\t\t<ul class=\"nav navbar-nav\">\n\t\t\t\t\t\t\t<li class=\"active\">\n\t\t\t\t\t\t\t\t<a href=\"/Objectives\" class=\"txt1\">Mes Objectifs</a>\n\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t\t<a href=\"/Results\" class=\"txt2\">Mes Résultats</a>\n\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t\t<a href=\"/Real-time\" class=\"txt3\">Temps Réel</a>\n\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t\t<a href=\"/Parameters\" class=\"txt4\">Paramètres</a>\n\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t\t<a href=\"/Peripheriques\" class=\"txt5\">Périphériques</a>\n\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t</ul>\n\t\t\t\t\t\t<ul class=\"nav navbar-nav navbar-right\">\n\t\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t\t<a href=\"/Notifications\">Notifications <span id=\"notif-badge\" class=\"badge\">0</span></a>\n\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t\t<a href=\"#\" id=\"lang\">English</a>\n\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t</ul>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t</nav>\n\t\t\t<div class=\"container\">\n\t\t\t\t<div class=\"page-header\">\n\t\t\t\t\t<h1><strong class=\"objectives_txt5\">Mes objectifs de bascule</strong></h1>\n\t\t\t\t</div>\n\t\t\t\t<div id=\"rocker-obj\" class=\"jumbotron\">\n\t\t\t\t\t<div class=\"container-fluid\">\n\t\t\t\t\t\t<h2 id=\"rocker-title\"></h2>\n\t\t\t\t\t\t<div class=\"well\">\n\t\t\t\t\t\t\t<div class=\"container-fluid\">\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<h4><strong class=\"objectives_txt6\">Objectif recommandé</strong></h4>\n\t\t\t\t\t\t\t\t\t<form class=\"form-horizontal addBorder\" >\n\t\t\t\t\t\t\t\t\t\t<div class=\"form-group\">\n\t\t\t\t\t\t\t\t\t\t\t<label class=\"col-sm-4 control-label objectives_txt7\">Fréquence: </label>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"col-sm-8\">\n\t\t\t\t\t\t\t\t\t\t\t\t<input id=\"frequencyAdv\" data-slider-id='frequencyAdvSlider' type=\"text\" data-slider-ticks=\"[20, 30, 45, 60, 90, 120]\" data-slider-ticks-labels='[\"20m\",\"30m\",\"45m\",\"1h\",\"1h30m\",\"2h\"]' ticks_positions=\"[0, 20, 40, 60, 80, 100]\" data-slider-ticks-snap-bounds=\"15\" data-slider-value=\"20\">\n\t\t\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t\t\t<div class=\"form-group\">\n\t\t\t\t\t\t\t\t\t\t\t<label class=\"col-sm-4 control-label objectives_txt8\">Durée de bascule: </label>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"col-sm-8\">\n\t\t\t\t\t\t\t\t\t\t\t\t<input id=\"durationAdv\" data-slider-id='durationAdvSlider' type=\"text\" data-slider-ticks=\"[20, 30, 60, 120, 300, 600, 900, 1800]\" data-slider-ticks-labels='[\"20s\",\"30s\",\"1m\",\"2m\",\"5m\",\"10m\",\"15m\",\"30m\"]' ticks_positions=\"\" data-slider-ticks-snap-bounds=\"15\" data-slider-value=\"2\">\n\t\t\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t\t\t<div class=\"form-group\">\n\t\t\t\t\t\t\t\t\t\t\t<label class=\"col-sm-4 control-label objectives_txt9\">Angle de bascule: </label>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"col-sm-8\">\n\t\t\t\t\t\t\t\t\t\t\t\t<input id=\"angleAdv\" data-slider-id='angleAdvSlider' type=\"text\" data-slider-min=\"15\" data-slider-max=\"90\" data-slider-step=\"5\" data-slider-value=\"\">\n\t\t\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t\t</form>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<h4><strong class=\"objectives_txt10\">Objectif personnel</strong></h4>\n\t\t\t\t\t\t\t\t\t<form class=\"form-horizontal addBorder\" >\n\t\t\t\t\t\t\t\t\t\t<div class=\"form-group\">\n\t\t\t\t\t\t\t\t\t\t\t<label class=\"col-sm-4 control-label objectives_txt7\">Fréquence: </label>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"col-sm-8\">\n\t\t\t\t\t\t\t\t\t\t\t\t<input id=\"frequencyPer\" data-slider-id='frequencyPerSlider' type=\"text\" data-slider-ticks=\"[20, 30, 45, 60, 90, 120]\" data-slider-ticks-labels='[\"20m\",\"30m\",\"45m\",\"1h\",\"1h30m\",\"2h\"]' ticks_positions=\"[0, 20, 40, 60, 80, 100]\" data-slider-ticks-snap-bounds=\"15\" data-slider-value=\"20\">\n\t\t\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t\t\t<div class=\"form-group\">\n\t\t\t\t\t\t\t\t\t\t\t<label class=\"col-sm-4 control-label objectives_txt8\">Durée de bascule: </label>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"col-sm-8\">\n\t\t\t\t\t\t\t\t\t\t\t\t<input id=\"durationPer\" data-slider-id='durationPerSlider' type=\"text\" data-slider-ticks=\"[30, 60, 120, 300, 600, 900, 1800]\" data-slider-ticks-labels='[\"30s\",\"1m\",\"2m\",\"5m\",\"10m\",\"15m\",\"30m\"]' ticks_positions='[\"0\", \"16\", \"33\", \"50\", \"66\", \"83\", \"100\"]' data-slider-ticks-snap-bounds=\"15\" data-slider-value=\"2\">\n\t\t\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t\t\t<div class=\"form-group\">\n\t\t\t\t\t\t\t\t\t\t\t<label class=\"col-sm-4 control-label objectives_txt9\">Angle de bascule: </label>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"col-sm-8\">\n\t\t\t\t\t\t\t\t\t\t\t\t<input id=\"anglePer\" data-slider-id='anglePerSlider' type=\"text\" data-slider-min=\"15\" data-slider-max=\"90\" data-slider-step=\"5\" data-slider-value=\"\">\n\t\t\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t\t\t</form>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"img-container addBorder\">\n\t\t\t\t\t\t\t\t<img class=\"top\" id=\"imageRotating\" src=\"image/Chair_chair.png\">\n\t\t\t\t\t\t\t\t<img class=\"bottom\" src=\"image/Chair_floor.png\">\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\n\t\t\t\t<div id=\"motion-obj\" class=\"jumbotron\">\n\t\t\t\t\t<div class=\"container-fluid\">\n\t\t\t\t\t\t<h2><strong class=\"objectives_txt11\">Faciliter vos déplacements</strong></h2>\n\t\t\t\t\t\t<div class=\"well\">\n\t\t\t\t\t\t\t<span class=\"objectives_txt12\">Basculez à un angle de </span>\n\t\t\t\t\t\t\t<span><strong><u id=\"motion-obj-ang\">15</u></strong></span> <!--Insert the value here-->\n\t\t\t\t\t\t\t<span class=\"objectives_txt13\"> degrés pendant vos déplacements pour éviter de glisser</span>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\n\t\t\t\t<div id=\"no-motion-obj\" class=\"jumbotron\">\n\t\t\t\t\t<div class=\"container-fluid\">\n\t\t\t\t\t\t<h2><strong class=\"objectives_txt14\">Reduire le glissement au repos</strong></h2>\n\t\t\t\t\t\t<div class=\"well\">\n\t\t\t\t\t\t\t<span class=\"objectives_txt26\">Basculez à un angle de </span>\n\t\t\t\t\t\t\t<span><strong><u id=\"no-motion-obj-ang\">15</u></strong></span> <!--Insert the value here-->\n\t\t\t\t\t\t\t<span class=\"objectives_txt27\"> degrés lorsque vous êtes immobile pour éviter de glisser</span>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\n\t\t\t\t<div id=\"pain-obj\" class=\"jumbotron\">\n\t\t\t\t\t<div class=\"container-fluid\">\n\t\t\t\t\t\t<h2><strong class=\"objectives_txt15\">Soulager votre douleur</strong></h2>\n\t\t\t\t\t\t<div class=\"well\">\n\t\t\t\t\t\t\t<span id=\"pain-obj-rec\" class=\"objectives_txt16\">Basculez au besoin</span>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\n\t\t\t\t<div id=\"rest-obj\" class=\"jumbotron\">\n\t\t\t\t\t<div class=\"container-fluid\">\n\t\t\t\t\t\t<h2><strong class=\"objectives_txt17\">Permettre le repos au fauteuil</strong></h2>\n\t\t\t\t\t\t<div class=\"well\">\n\t\t\t\t\t\t\t<span id=\"rest-obj-rec\" class=\"objectives_txt16\">Basculez au besoin</span>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\n\t\t\t\t<div id=\"transfert-obj\" class=\"jumbotron\">\n\t\t\t\t\t<div class=\"container-fluid\">\n\t\t\t\t\t\t<h2><strong class=\"objectives_txt18\">Faciliter vos transferts</strong></h2>\n\t\t\t\t\t\t<div class=\"well\">\n\t\t\t\t\t\t\t<span id=\"transfert-obj-rec\" class=\"objectives_txt16\">Basculez au besoin</span>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\n\t\t\t\t<div id=\"comfort-obj\" class=\"jumbotron\">\n\t\t\t\t\t<div class=\"container-fluid\">\n\t\t\t\t\t\t<h2><strong class=\"objectives_txt19\">Améliorer votre confort au fauteuil</strong></h2>\n\t\t\t\t\t\t<div class=\"well\">\n\t\t\t\t\t\t\t<span id=\"comfort-obj-rec\" class=\"objectives_txt16\">Basculez au besoin</span>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\n\t\t\t\t<div id=\"other1-obj\" class=\"jumbotron\">\n\t\t\t\t\t<div class=\"container-fluid\">\n\t\t\t\t\t\t<h2><strong><span id=\"cible1-obj-rec\">Autre #1</span></strong></h2>\n\t\t\t\t\t\t<div class=\"well\">\n\t\t\t\t\t\t\t<span id=\"other1-obj-rec\">INFO DE RECOMMANDATION</span>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\n\t\t\t\t<div id=\"other2-obj\" class=\"jumbotron\">\n\t\t\t\t\t<div class=\"container-fluid\">\n\t\t\t\t\t\t<h2><strong><span id=\"cible2-obj-rec\">Autre #2</span></strong></h2>\n\t\t\t\t\t\t<div class=\"well\">\n\t\t\t\t\t\t\t<span id=\"other2-obj-rec\">INFO DE RECOMMANDATION</span>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\n\t\t\t\t<div id=\"other3-obj\" class=\"jumbotron\">\n\t\t\t\t\t<div class=\"container-fluid\">\n\t\t\t\t\t\t<h2><strong><span id=\"cible3-obj-rec\">Autre #3</span></strong></h2>\n\t\t\t\t\t\t<div class=\"well\">\n\t\t\t\t\t\t\t<span id=\"other3-obj-rec\">INFO DE RECOMMANDATION</span>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\n\t\t\t\t<div id=\"other4-obj\" class=\"jumbotron\">\n\t\t\t\t\t<div class=\"container-fluid\">\n\t\t\t\t\t\t<h2><strong><span id=\"cible4-obj-rec\">Autre #4</span></strong></h2>\n\t\t\t\t\t\t<div class=\"well\">\n\t\t\t\t\t\t\t<span id=\"other4-obj-rec\">INFO DE RECOMMANDATION</span>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\n\t\t\t\t<div id=\"other5-obj\" class=\"jumbotron\">\n\t\t\t\t\t<div class=\"container-fluid\">\n\t\t\t\t\t\t<h2><strong><span id=\"cible5-obj-rec\">Autre #5</span></strong></h2>\n\t\t\t\t\t\t<div class=\"well\">\n\t\t\t\t\t\t\t<span id=\"other5-obj-rec\">INFO DE RECOMMANDATION</span>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\n\t\t\t<div>\n\t\t</div>\n\t<script src=\"js/jquery.min.js\"></script>\n\t<!-- Include all compiled plugins (below), or include individual files as needed -->\n\t<script src=\"js/bootstrap.min.js\"></script>\n\t<script src=\"js/bootstrap-slider.min.js\"></script>\n\t<script src=\"js/tcp_obj.js\"></script>\n\t<script src=\"js/languages.js\"></script>\n\n    </body>\n</html>\n","output":"str","x":380,"y":240,"wires":[["41ccb36a.568f3c"]]},{"id":"d310469c.390a48","type":"http in","z":"519cc4bd.7549fc","name":"Configurations","url":"/Configurations","method":"get","upload":false,"swaggerDoc":"","x":200,"y":300,"wires":[["e9b5dfbd.2f782"]]},{"id":"dde8755e.9d1fe8","type":"http response","z":"519cc4bd.7549fc","name":"return Configurations page","statusCode":"","headers":{},"x":630,"y":300,"wires":[]},{"id":"e9b5dfbd.2f782","type":"template","z":"519cc4bd.7549fc","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n\t<head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->\n    <title>Configuration page</title>\n\n    <!-- Bootstrap -->\n    <link href=\"css/bootstrap.min.css\" rel=\"stylesheet\">\n\t<link href=\"css/bootstrap-slider.min.css\" rel=\"stylesheet\">\n\t<link href=\"css/style.css\" rel=\"stylesheet\">\n\n    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->\n    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->\n    <!--[if lt IE 9]>\n      <script src=\"https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js\"></script>\n      <script src=\"https://oss.maxcdn.com/respond/1.4.2/respond.min.js\"></script>\n    <![endif]-->\n\t</head>\n\t<body>\n\t\t<div class=\"wrapper\">\n\t\t\t<nav class=\"navbar navbar-inverse\">\n\t\t\t\t<div class=\"container\">\n\t\t\t\t\t<div class=\"navbar-header\">\n\t\t\t\t\t\t<button class=\"navbar-toggle collapsed\" data-toggle=\"collapse\" data-target=\"#navbar\" aria-expanded=\"false\" aria-controls=\"navbar\">\n\t\t\t\t\t\t\t<span class=\"sr-only\">Toggle navigation</span>\n\t\t\t\t\t\t\t<span class=\"icon-bar\"></span>\n\t\t\t\t\t\t\t<span class=\"icon-bar\"></span>\n\t\t\t\t\t\t\t<span class=\"icon-bar\"></span>\n\t\t\t\t\t\t</button>\n\t\t\t\t\t\t<a class=\"navbar-brand\" href=\"/\">MOvIT+</a>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div id=\"navbar\" class=\"navbar-collapse collapse\" aria-expanded=\"false\" style=\"height: 1px;\">\n\t\t\t\t\t\t<ul class=\"nav navbar-nav\">\n\t\t\t\t\t\t\t<li class=\"active\">\n\t\t\t\t\t\t\t\t<a href=\"#\">Configurations</a>\n\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t\t<a href=\"/Recommandations\">Recommandations</a>\n\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t\t<a href=\"/Simulateur\" class=\"simul_txt1\">Simulateur</a>\n\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t</ul>\n\t\t\t\t\t\t<ul class=\"nav navbar-nav navbar-right\">\n\t\t\t\t\t\t\t<li>\n\t\t\t\t\t\t\t\t<a href=\"#\" id=\"lang\">English</a>\n\t\t\t\t\t\t\t</li>\n\t\t\t\t\t\t</ul>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t</nav>\n\t\t\t<div class=\"container\">\n\t\t\t\t<div class=\"page-header\">\n\t\t\t\t\t<h1><strong>Configurations</strong></h1>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"jumbotron\">\n\t\t\t\t\t<div class=\"well\">\n\t\t\t\t\t\t<h3 class=\"subhead3\"><strong class=\"config_txt1\">Veuillez saisir l’angle maximal de la bascule du fauteuil de l’usager :</strong></h3>\n\t\t\t\t\t\t<form class=\"form-horizontal\">\n\t\t\t\t\t\t\t<div class=\"form-group\">\n\t\t\t\t\t\t\t\t<label for=\"inputMaxAngle\" class=\"col-sm-2 control-label config_txt2\">Angle maximal (la valeur doit être un multiple de 5°) :</label>\n\t\t\t\t\t\t\t\t<div class=\"col-sm-10\">\n\t\t\t\t\t\t\t\t\t<input id=\"Max-angle\" class=\"form-control\" id=\"inputMaxAngle\" placeholder=\"90\">\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t<!--\n\t\t\t\t\t\t\t<div class=\"form-group\">\n\t\t\t\t\t\t\t\t<label for=\"inputMinAngle\" class=\"col-sm-2 control-label\">Angle Minimum: </label>\n\t\t\t\t\t\t\t\t<div class=\"col-sm-10\">\n\t\t\t\t\t\t\t\t\t<input id=\"Min-angle\" class=\"form-control\" id=\"inputMinAngle\" placeholder=\"-30\">\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t-->\n\t\t\t\t\t\t\t<div class=\"form-group\">\n\t\t\t\t\t\t\t\t<label for=\"inputWeight\" class=\"col-sm-2 control-label config_txt3\">Poids de la personne (kg): </label>\n\t\t\t\t\t\t\t\t<div class=\"col-sm-10\">\n\t\t\t\t\t\t\t\t\t<input class=\"form-control\" id=\"inputWeight\" placeholder=\"90\">\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"form-group\">\n\t\t\t\t\t\t\t\t<div class=\"pull-right\" style=\"padding: 15px;\">\n\t\t\t\t\t\t\t\t\t<button id=\"save\" type=\"button\" class=\"btn btn-default config_txt4\" onclick=\"sendConfig(); endConf();\">Enregistrer</button>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t </div>\n\t\t\t\t\t\t</form>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t</div>\n\n\n\t\t</div>\n\t\t<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->\n\t\t<script src=\"js/jquery.min.js\"></script>\n\t\t<!-- Include all compiled plugins (below), or include individual files as needed -->\n\t\t<script src=\"js/bootstrap.min.js\"></script>\n\t\t<script src=\"js/tcp_config.js\"></script>\n\t\t<script src=\"js/languages.js\"></script>\n\n\t</body>\n</html>\n","output":"str","x":380,"y":300,"wires":[["dde8755e.9d1fe8"]]},{"id":"1c66470.1ee69b9","type":"http in","z":"519cc4bd.7549fc","name":"test2","url":"/test2","method":"get","upload":false,"swaggerDoc":"","x":200,"y":100,"wires":[["caa5d1ba.9bda9"]]},{"id":"ec5a8e4d.f01b9","type":"http response","z":"519cc4bd.7549fc","name":"return test","statusCode":"","headers":{"content_type":"application/javascript"},"x":800,"y":100,"wires":[]},{"id":"caa5d1ba.9bda9","type":"function","z":"519cc4bd.7549fc","name":"","func":"msg.payload.helloText = 'Hello '+msg.payload.name;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":100,"wires":[["53d36da9.a784f4"]]},{"id":"53d36da9.a784f4","type":"change","z":"519cc4bd.7549fc","name":"","rules":[{"t":"delete","p":"payload.name","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":100,"wires":[["ec5a8e4d.f01b9"]]},{"id":"b770d1c1.82509","type":"http in","z":"e0d05a3d.90ad08","name":"","url":"/test","method":"post","upload":false,"swaggerDoc":"","x":80,"y":180,"wires":[["d3aab67e.ad95a8"]]},{"id":"4974a898.658648","type":"http response","z":"e0d05a3d.90ad08","name":"","statusCode":"","headers":{},"x":750,"y":180,"wires":[]},{"id":"d3aab67e.ad95a8","type":"function","z":"e0d05a3d.90ad08","name":"get body","func":"msg.payload = msg.req.body;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":180,"wires":[["8f11f80d.326978","811763d2.c5c9"]]},{"id":"e8629d0d.136c9","type":"http in","z":"e0d05a3d.90ad08","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":80,"y":340,"wires":[["c21dbd7f.555df"]]},{"id":"61f925f1.fc629c","type":"http response","z":"e0d05a3d.90ad08","name":"","statusCode":"","headers":{},"x":750,"y":340,"wires":[]},{"id":"8f11f80d.326978","type":"mongodb2 in","z":"e0d05a3d.90ad08","service":"_ext_","configNode":"c2e023a5.ad0b","name":"modify test","collection":"test","operation":"findOneAndUpdate","x":490,"y":180,"wires":[["4974a898.658648"]]},{"id":"c21dbd7f.555df","type":"mongodb2 in","z":"e0d05a3d.90ad08","service":"_ext_","configNode":"c2e023a5.ad0b","name":"find one","collection":"test","operation":"findOne","x":380,"y":340,"wires":[["61f925f1.fc629c"]]},{"id":"c9532679.ede188","type":"http in","z":"e0d05a3d.90ad08","name":"","url":"/test","method":"put","upload":false,"swaggerDoc":"","x":80,"y":260,"wires":[["d46faa47.9cb0d8"]]},{"id":"9ba37f35.0101c","type":"http response","z":"e0d05a3d.90ad08","name":"","statusCode":"","headers":{},"x":750,"y":260,"wires":[]},{"id":"d46faa47.9cb0d8","type":"function","z":"e0d05a3d.90ad08","name":"get body","func":"msg.payload = msg.req.body;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":260,"wires":[["69c6db8c.ac7dd4"]]},{"id":"69c6db8c.ac7dd4","type":"mongodb2 in","z":"e0d05a3d.90ad08","service":"_ext_","configNode":"c2e023a5.ad0b","name":"insert test","collection":"test","operation":"insert","x":480,"y":260,"wires":[["9ba37f35.0101c"]]},{"id":"a05a251f.9458a8","type":"http in","z":"e0d05a3d.90ad08","name":"","url":"/test","method":"delete","upload":false,"swaggerDoc":"","x":90,"y":420,"wires":[["e14910ee.5838f"]]},{"id":"75b42176.5d90b","type":"http response","z":"e0d05a3d.90ad08","name":"","statusCode":"","headers":{},"x":750,"y":420,"wires":[]},{"id":"90a386b4.620e38","type":"mongodb2 in","z":"e0d05a3d.90ad08","service":"_ext_","configNode":"c2e023a5.ad0b","name":"delete one","collection":"test","operation":"findOneAndDelete","x":390,"y":420,"wires":[["75b42176.5d90b"]]},{"id":"e14910ee.5838f","type":"function","z":"e0d05a3d.90ad08","name":"get body","func":"msg.payload = msg.req.body;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":420,"wires":[["90a386b4.620e38"]]},{"id":"9c42017f.b5ed3","type":"mqtt in","z":"ed0c995d.e2e7f8","name":"back angle","topic":"data/current_back_rest_angle","qos":"0","broker":"2b8661c7.194ede","x":220,"y":120,"wires":[["d353cbdb.5d4f58"]]},{"id":"1904009e.5a81df","type":"mqtt in","z":"ed0c995d.e2e7f8","name":"pressure","topic":"data/current_center_of_pressure","qos":"0","broker":"2b8661c7.194ede","x":220,"y":220,"wires":[["1c01fe0f.4afed2"]]},{"id":"c8f58011.f27ef","type":"mqtt in","z":"ed0c995d.e2e7f8","name":"someone","topic":"data/current_is_someone_there","qos":"0","broker":"2b8661c7.194ede","x":200,"y":280,"wires":[["d710158.344d1e8"]]},{"id":"e9a4e134.0416a","type":"http in","z":"62e9dd9c.3ec8b4","name":"","url":"/login","method":"post","upload":false,"swaggerDoc":"","x":90,"y":140,"wires":[["d7376764.918e88"]]},{"id":"c0aafdb5.90b58","type":"mongodb2 in","z":"62e9dd9c.3ec8b4","service":"_ext_","configNode":"c2e023a5.ad0b","name":"find user","collection":"user","operation":"findOne","x":580,"y":140,"wires":[["33c4d6e7.62eb2a"]]},{"id":"d7376764.918e88","type":"function","z":"62e9dd9c.3ec8b4","name":"get Username","func":"msg.payload= '{\"username\":\"'+msg.req.body.username+'\"}';\nvar crypto = context.global.cryptojs;\nmsg.pw = crypto.SHA256( msg.req.body.password).toString();\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":140,"wires":[["8386b3b8.afc4d"]]},{"id":"8386b3b8.afc4d","type":"json","z":"62e9dd9c.3ec8b4","name":"","property":"payload","action":"obj","pretty":false,"x":450,"y":140,"wires":[["c0aafdb5.90b58"]]},{"id":"33c4d6e7.62eb2a","type":"function","z":"62e9dd9c.3ec8b4","name":"validate Password","func":"if(msg.payload.password == msg.pw){\n    var token = context.global.cryptojs.lib.WordArray.random(32).toString();\n    msg.result ='{\"result\":0,\"token\":\"'+token+'\"}';\n    msg.payload.token= token;\n    msg.query ={\"username\":msg.payload.username}\n    msg.value= {\"username\":msg.payload.username,\"password\":msg.payload.password,\"token\":msg.payload.token};\n    msg.payload = [];\n    msg.payload[0]= msg.query;\n    msg.payload[1]=msg.value;\n}\nelse\n    msg.result = '{\"result\":401}';\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":140,"wires":[["89587608.3c4368"]]},{"id":"f787b8dd.85b708","type":"switch","z":"62e9dd9c.3ec8b4","name":"","property":"result.result","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":140,"wires":[["a7bcd925.e25508"],["4b672da8.cf9b54"]]},{"id":"a7bcd925.e25508","type":"mongodb2 in","z":"62e9dd9c.3ec8b4","service":"_ext_","configNode":"c2e023a5.ad0b","name":"modify test","collection":"user","operation":"findOneAndUpdate","x":1210,"y":80,"wires":[["4b672da8.cf9b54"]]},{"id":"a306472a.48f6f8","type":"http response","z":"62e9dd9c.3ec8b4","name":"","statusCode":"","headers":{},"x":1350,"y":220,"wires":[]},{"id":"4b672da8.cf9b54","type":"function","z":"62e9dd9c.3ec8b4","name":"send result","func":"msg.payload = msg.result;\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":140,"wires":[["a306472a.48f6f8"]]},{"id":"811763d2.c5c9","type":"debug","z":"e0d05a3d.90ad08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":120,"wires":[]},{"id":"89587608.3c4368","type":"json","z":"62e9dd9c.3ec8b4","name":"","property":"result","action":"obj","pretty":false,"x":930,"y":140,"wires":[["f787b8dd.85b708"]]},{"id":"9f052558.f4fa88","type":"link in","z":"7ada863a.3ed478","name":"in token","links":["9a0d6fe7.a8719"],"x":300,"y":300,"wires":[["9a8e777d.991038"]]},{"id":"eb5570ab.5e0e8","type":"link out","z":"7ada863a.3ed478","name":"End Token good","links":["94d2ce4.43b013"],"x":875,"y":340,"wires":[]},{"id":"9a8e777d.991038","type":"json","z":"7ada863a.3ed478","name":"","property":"payload","action":"obj","pretty":false,"x":420,"y":300,"wires":[["f5400bc7.47bd18"]]},{"id":"e6520a20.e14958","type":"link out","z":"7ada863a.3ed478","name":"End Token bad","links":["43bdf06.6bbe81"],"x":875,"y":300,"wires":[]},{"id":"9f7701d8.41f8","type":"inject","z":"7ada863a.3ed478","name":"","topic":"","payload":"{\"token\":\"9194b04968f6f9c3dca9cd6412c3dab45317129c3ee93036012a0fe68c86ed3\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":240,"wires":[["9a8e777d.991038"]]},{"id":"f5400bc7.47bd18","type":"mongodb2 in","z":"7ada863a.3ed478","service":"_ext_","configNode":"c2e023a5.ad0b","name":"find one","collection":"user","operation":"findOne","x":580,"y":300,"wires":[["a64f71a6.bbc9a"]]},{"id":"84d266c1.35b308","type":"debug","z":"7ada863a.3ed478","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":240,"wires":[]},{"id":"a64f71a6.bbc9a","type":"switch","z":"7ada863a.3ed478","name":"result","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":320,"wires":[["e6520a20.e14958"],["eb5570ab.5e0e8"]]},{"id":"9a0d6fe7.a8719","type":"link out","z":"a7921a36.b714e8","name":"vérify token","links":["9f052558.f4fa88"],"x":420,"y":280,"wires":[]},{"id":"94d2ce4.43b013","type":"link in","z":"a7921a36.b714e8","name":"token is good","links":["eb5570ab.5e0e8"],"x":635,"y":220,"wires":[["cb401a2a.789518"]]},{"id":"43bdf06.6bbe81","type":"link in","z":"a7921a36.b714e8","name":"token is bad","links":["e6520a20.e14958"],"x":640,"y":320,"wires":[["9ce0fc2c.3dc5d"]]},{"id":"b9bee05f.1d869","type":"http response","z":"a7921a36.b714e8","name":"","statusCode":"","headers":{},"x":990,"y":260,"wires":[]},{"id":"9ce0fc2c.3dc5d","type":"template","z":"a7921a36.b714e8","name":"return erreur ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"result\":401}","output":"str","x":770,"y":320,"wires":[["b9bee05f.1d869"]]},{"id":"cb401a2a.789518","type":"template","z":"a7921a36.b714e8","name":"return good","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"result\":good}","output":"str","x":770,"y":220,"wires":[["b9bee05f.1d869"]]},{"id":"10383169.1df6df","type":"http in","z":"a7921a36.b714e8","name":"test token","url":"/verify","method":"post","upload":false,"swaggerDoc":"","x":140,"y":280,"wires":[["14e87e0b.6b8012"]]},{"id":"14e87e0b.6b8012","type":"function","z":"a7921a36.b714e8","name":"get body","func":"msg.payload = msg.req.body;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":280,"wires":[["9a0d6fe7.a8719"]]},{"id":"176575a7.f0811a","type":"function","z":"c6f5a9d0.2bf118","name":"creation test","func":"var times = 0;\nvar timeStamps = 1517439600000;\nvar angles =0 ;\nvar docs=[];\nvar k =0;\nfor(j=0;j<62;j++){\n    for(i=0;i<300;i++){\n        var date = new Date(timeStamps);\n\n        var document = {date:date ,timestamp:timeStamps, angle:angles, fake:\"1\"};\n\n        docs[k] =document;\n        \n        timeStamps +=288000;\n        angles = Math.round(Math.random()*45);\n        k++;\n    }\n    timeStamps +=288000;\n    angles = Math.round(Math.random()*45);\n}\nmsg.payload=[docs];\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":300,"wires":[["f4049ff5.d40db","3be155d4.aa209a"]]},{"id":"f4049ff5.d40db","type":"debug","z":"c6f5a9d0.2bf118","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":740,"y":320,"wires":[]},{"id":"3be155d4.aa209a","type":"mongodb2 in","z":"c6f5a9d0.2bf118","service":"_ext_","configNode":"c2e023a5.ad0b","name":"insert test","collection":"back_angle","operation":"insertMany","x":740,"y":260,"wires":[["bbb4df43.97676"]]},{"id":"b11fb1c5.774ca","type":"http in","z":"79c89fe4.873e6","name":"getDaysWithData","url":"/daysWithData","method":"get","upload":false,"swaggerDoc":"","x":180,"y":200,"wires":[["f16ebdef.b321d"]]},{"id":"f16ebdef.b321d","type":"function","z":"79c89fe4.873e6","name":"getMinMax","func":"let min=0;\nlet max=9999999999999;\nlet offset =0;\nif(msg.payload.Offset !=null)\n    offset = parseInt(msg.payload.Offset)*60*60*1000;\n\nif(msg.payload.Min !=null){\n    min = parseInt(msg.payload.Min);\n}\nif(msg.payload.Max !=null){\n    max =  parseInt(msg.payload.Max);\n}\n msg.payload =[[{ \"$match\": { date: {$gte: new Date(min-offset), $lt: new Date(max-offset)} } },\n  { \"$project\": { \n      \"date\":\"$date\"\n    }},\n { \"$group\": { \n         \"_id\": null, \n        \"distinctDate\":{\"$addToSet\": { \"year\":{\"$year\":[{$add:[\"$date\",offset]}]}, \"month\":{\"$month\":[{$add:[\"$date\",offset]}]},\"day\": {\"$dayOfMonth\":[{$add:[\"$date\",offset]}]} }}\n    }}\n   ]];\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":200,"wires":[["9ff40d91.0ad8a","6c2ddd5b.4eb9c4"]]},{"id":"9ff40d91.0ad8a","type":"mongodb2 in","z":"79c89fe4.873e6","service":"_ext_","configNode":"c2e023a5.ad0b","name":"","collection":"back_angle","operation":"aggregate.toArray","x":690,"y":200,"wires":[["5d9b2fcb.692d8","6c2ddd5b.4eb9c4"]]},{"id":"5d9b2fcb.692d8","type":"function","z":"79c89fe4.873e6","name":"FormatData","func":"// msg.payload=msg.payload.map((element) => {\n//     const splitDate = element.split(\"/\");\n//     return {day:splitDate[2],month:splitDate[1],year:splitDate[0]};\n// })\nvar finalOutput={};\nvar distinctDates= msg.payload[0].distinctDate;\nfor(let date of distinctDates) {\n  if (finalOutput[date.year]) {\n    if (finalOutput[date.year][date.month]) {\n      finalOutput[date.year][date.month].push(date.day);\n    } else {\n      finalOutput[date.year][date.month] = [date.day];\n    }\n  } else {\n    finalOutput[date.year] = {\n      [date.month]: [date.day]\n    };\n  }\n}\nmsg.payload=finalOutput;\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":200,"wires":[["e709875a.95ec28"]]},{"id":"e709875a.95ec28","type":"http response","z":"79c89fe4.873e6","name":"","statusCode":"","headers":{},"x":1150,"y":200,"wires":[]},{"id":"b8c47172.ad772","type":"mqtt out","z":"ed0c995d.e2e7f8","name":"","topic":"data/set_alarm","qos":"","retain":"","broker":"2b8661c7.194ede","x":820,"y":500,"wires":[]},{"id":"b490c79d.2b5278","type":"mqtt out","z":"ed0c995d.e2e7f8","name":"","topic":"data/required_period","qos":"","retain":"","broker":"2b8661c7.194ede","x":840,"y":620,"wires":[]},{"id":"e4aa6895.10f488","type":"mqtt out","z":"ed0c995d.e2e7f8","name":"","topic":"data/required_back_rest_angle","qos":"","retain":"","broker":"2b8661c7.194ede","x":870,"y":680,"wires":[]},{"id":"495fea47.300084","type":"mqtt out","z":"ed0c995d.e2e7f8","name":"","topic":"data/required_duration","qos":"","retain":"","broker":"2b8661c7.194ede","x":840,"y":560,"wires":[]},{"id":"8e5ea780.5c70d8","type":"function","z":"ed0c995d.e2e7f8","name":"","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":500,"wires":[["b8c47172.ad772"]]},{"id":"341b321a.cfbbfe","type":"function","z":"ed0c995d.e2e7f8","name":"","func":"msg.payload=45;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":560,"wires":[["495fea47.300084"]]},{"id":"9db6bbea.c8fc58","type":"function","z":"ed0c995d.e2e7f8","name":"","func":"msg.payload=2;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":620,"wires":[["b490c79d.2b5278"]]},{"id":"81acc13c.2954a","type":"function","z":"ed0c995d.e2e7f8","name":"","func":"msg.payload=15;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":680,"wires":[["e4aa6895.10f488"]]},{"id":"768a845d.26bf5c","type":"mqtt in","z":"ed0c995d.e2e7f8","name":"speed","topic":"data/current_chair_speed","qos":"0","broker":"2b8661c7.194ede","x":190,"y":340,"wires":[["195ec0a8.18333f"]]},{"id":"cefddfdf.eda88","type":"function","z":"ed0c995d.e2e7f8","name":"","func":"var flowContext = this.context.flow;\nif(flowContext.isSitting==null){\n    flowContext.isSitting=0;\n}\nvar angles =msg.payload.angle;\nif( flowContext.isSitting==1){\n       var date = new Date(msg.payload.datetime);\n       date.setUTCMinutes(date.getMinutes()-date.getTimezoneOffset());\n        msg.payload = {date:date ,timestamp:date.getTime(), angle:angles, fake:\"0\"};\n}\nelse{\n    msg.payload=null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":80,"wires":[["14d35acb.066145"]]},{"id":"6c4c2373.39613c","type":"function","z":"ed0c995d.e2e7f8","name":"","func":"console.log(\"pressure : \"+msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":180,"wires":[[]]},{"id":"51301068.f29e4","type":"function","z":"ed0c995d.e2e7f8","name":"","func":"var flowContext = this.context.flow;\nflowContext.isSitting=msg.payload.IsSomeoneThere;\nvar date = new Date(msg.payload.datetime);\nmsg.payload = {date:date ,timestamp:date.getTime(), isSitting:msg.payload.IsSomeoneThere};\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":260,"wires":[["eda9ac1f.df1a1","8f8d29c8.8704c8"]]},{"id":"f48b2a1f.dced18","type":"function","z":"ed0c995d.e2e7f8","name":"","func":"console.log(\"Speed : \"+msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":340,"wires":[[]]},{"id":"21e5a451.69663c","type":"inject","z":"ed0c995d.e2e7f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"8","crontab":"","once":true,"onceDelay":"2","x":310,"y":560,"wires":[["341b321a.cfbbfe"]]},{"id":"82e71ca5.005b2","type":"inject","z":"ed0c995d.e2e7f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"8","crontab":"","once":true,"onceDelay":"4","x":295,"y":633,"wires":[["9db6bbea.c8fc58"]]},{"id":"d8823423.714ba8","type":"inject","z":"ed0c995d.e2e7f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"8","crontab":"","once":true,"onceDelay":"6","x":302,"y":695,"wires":[["81acc13c.2954a"]]},{"id":"334fcbeb.acd7d4","type":"http in","z":"79c89fe4.873e6","name":"getMonthWithData","url":"/monthsWithData","method":"get","upload":false,"swaggerDoc":"","x":190,"y":280,"wires":[["fec815ee.b66618"]]},{"id":"fec815ee.b66618","type":"function","z":"79c89fe4.873e6","name":"getMinMax","func":"let min=0;\nlet max=9999999999999;\nlet offset =0;\nif(msg.payload.Offset !=null)\n    offset = parseInt(msg.payload.Offset)*60*60*1000;\n\nif(msg.payload.Min !=null){\n    min = parseInt(msg.payload.Min);\n}\nif(msg.payload.Max !=null){\n    max =  parseInt(msg.payload.Max);\n}\n msg.payload =[[{ \"$match\": { date: {$gte:new Date(min-offset), $lt:new Date(max-offset)} } },\n  { \"$project\": { \n         \"date\": \"$date\" \n    }},\n { \"$group\": { \n         \"_id\": null, \n        \"distinctDate\":{\"$addToSet\": { \"year\":{\"$year\":[{$add:[\"$date\",offset]}]}, \"month\":{\"$month\":[{$add:[\"$date\",offset]}]} }}\n    }}\n   ]];\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":280,"wires":[["61ad48e3.eab1a8"]]},{"id":"61ad48e3.eab1a8","type":"mongodb2 in","z":"79c89fe4.873e6","service":"_ext_","configNode":"c2e023a5.ad0b","name":"","collection":"back_angle","operation":"aggregate.toArray","x":690,"y":280,"wires":[["21228476.a04b1c"]]},{"id":"21228476.a04b1c","type":"function","z":"79c89fe4.873e6","name":"FormatData","func":"// msg.payload=msg.payload.map((element) => {\n//     const splitDate = element.split(\"/\");\n//     return {day:splitDate[2],month:splitDate[1],year:splitDate[0]};\n// })\nvar finalOutput={};\nvar distinctDates= msg.payload[0].distinctDate;\nfor (let date of distinctDates) {\n  if (finalOutput[date.year]) {\n    finalOutput[date.year].push(date.month)\n  } else {\n    finalOutput[date.year] = [date.month];\n  }\n}\nmsg.payload=finalOutput;\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":280,"wires":[["3111031d.7ce54c"]]},{"id":"3111031d.7ce54c","type":"http response","z":"79c89fe4.873e6","name":"","statusCode":"","headers":{},"x":1150,"y":280,"wires":[]},{"id":"32438d51.b44d62","type":"http in","z":"79c89fe4.873e6","name":"getOneDay","url":"oneDay","method":"get","upload":false,"swaggerDoc":"","x":200,"y":400,"wires":[["6d0b7a7a.0d05d4"]]},{"id":"6d0b7a7a.0d05d4","type":"function","z":"79c89fe4.873e6","name":"get day","func":"\nlet offset =0;\nif(msg.payload.Offset !=null)\n    offset = parseInt(msg.payload.Offset)*60*60*1000;\n\nlet day=new Date(parseInt(msg.payload.Day));\nlet min=(day.setUTCHours(0,0,0,0))-offset;\nlet max = (day.setUTCHours(23,59,59,999))-offset;\n msg.payload =[[{ \"$match\": { date: {$gte:new Date(min), $lt:new Date(max)} } },\n  { \"$project\": { \n         \"date\": {$add:[\"$date\",offset]},\n         \"angle\":\"$angle\"\n    }},\n    { $sort: { date: 1}}\n   ]];\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":400,"wires":[["4c7cb0ed.941c3"]]},{"id":"4c7cb0ed.941c3","type":"mongodb2 in","z":"79c89fe4.873e6","service":"_ext_","configNode":"c2e023a5.ad0b","name":"find day","collection":"back_angle","operation":"aggregate.toArray","x":640,"y":400,"wires":[["3519207b.16f55"]]},{"id":"3519207b.16f55","type":"function","z":"79c89fe4.873e6","name":"format result","func":"let minus=0;\nlet zero=0;\nlet fifteen=0;\nlet thirty=0;\nlet more=0;\n\nlet distinctTime= msg.payload;\nlet previous = distinctTime[0];\ndistinctTime.shift();\nfor(let time of distinctTime){\n    if (previous.angle<0)\n        minus+= time.date.getTime() - previous.date.getTime();\n    else if (15>previous.angle & previous.angle>=0)\n        zero+= time.date.getTime() - previous.date.getTime();\n    else if (30>previous.angle & previous.angle>=15)\n        fifteen+= time.date.getTime() - previous.date.getTime();\n    else if (45>=previous.angle & previous.angle>=30)\n        thirty+= time.date.getTime() - previous.date.getTime();\n    else if (45<previous.angle)\n        more+= time.date.getTime() - previous.date.getTime();\n    previous = time;\n}\nmsg.payload = [minus,zero,fifteen,thirty,more];\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":400,"wires":[["3da51abc.07fb96"]]},{"id":"3da51abc.07fb96","type":"http response","z":"79c89fe4.873e6","name":"","statusCode":"","headers":{},"x":1040,"y":400,"wires":[]},{"id":"ca539df1.75ecd","type":"http in","z":"79c89fe4.873e6","name":"getOneMonth","url":"oneMonth","method":"get","upload":false,"swaggerDoc":"","x":190,"y":520,"wires":[["cbdade80.832ba"]]},{"id":"cbdade80.832ba","type":"function","z":"79c89fe4.873e6","name":"get month","func":"\nlet offset =0;\nif(msg.payload.Offset !=null)\n    offset = parseInt(msg.payload.Offset)*60*60*1000;\nmsg.offset=offset;\nvar moment = context.global.momentjs;\nlet min=new Date(parseInt(msg.payload.Day));\nmin.setUTCHours(0,0,0,0);\nvar momentMin =moment(min);\nmomentMin.date(0);\nmomentMin.add(-offset,\"ms\");\nvar max=moment(momentMin);\nmax.add(1, 'months');\n msg.payload =[[{ \"$match\": { date: {$gte:new Date(momentMin), $lt:new Date(max)} } },\n  { \"$project\": { \n         \"date\": {$add:[\"$date\",offset]},\n         \"angle\":\"$angle\"\n    }},\n    { $sort: { date: 1}}\n   ]];\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":520,"wires":[["72d0155a.a5d1cc"]]},{"id":"72d0155a.a5d1cc","type":"mongodb2 in","z":"79c89fe4.873e6","service":"_ext_","configNode":"c2e023a5.ad0b","name":"find month","collection":"back_angle","operation":"aggregate.toArray","x":640,"y":520,"wires":[["f6686f99.ccf1a"]]},{"id":"f6686f99.ccf1a","type":"function","z":"79c89fe4.873e6","name":"format result","func":"let minus=0;\nlet zero=0;\nlet fifteen=0;\nlet thirty=0;\nlet more=0;\nvar hash = {};\nvar offset = msg.offset;\nlet distinctTime= msg.payload;\nlet previous = distinctTime[0];\ndistinctTime.shift();\nfor(let time of distinctTime){\n    var previousDate =new Date(previous.date);\n    var currentDate =new Date(time.date);\n    if(currentDate.getUTCDate()==previousDate.getUTCDate()){\n        if (previous.angle<0)\n            minus+= time.date.getTime() - previous.date.getTime();\n        else if (15>previous.angle & previous.angle>=0)\n            zero+= time.date.getTime() - previous.date.getTime();\n        else if (30>previous.angle & previous.angle>=15)\n            fifteen+= time.date.getTime() - previous.date.getTime();\n        else if (45>=previous.angle & previous.angle>=30)\n            thirty+= time.date.getTime() - previous.date.getTime();\n        else if (45<previous.angle)\n            more+= time.date.getTime() - previous.date.getTime();\n    }\n    else{\n\n        hash[previousDate.getUTCDate()]=[minus,zero,fifteen,thirty,more];\n        minus=0;\n        zero=0;\n        fifteen=0;\n        thirty=0;\n        more=0;\n    }\n    previous = time;\n}\nmsg.payload= hash;\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":520,"wires":[["a86c8d46.7299d"]]},{"id":"a86c8d46.7299d","type":"http response","z":"79c89fe4.873e6","name":"","statusCode":"","headers":{},"x":1030,"y":520,"wires":[]},{"id":"4f683f01.f5d7b","type":"mongodb2 in","z":"b9daa40a.159ce8","service":"_ext_","configNode":"c2e023a5.ad0b","name":"","collection":"Config","operation":"update","x":780,"y":120,"wires":[["b94c708d.661a7"]]},{"id":"a43529ef.0b78e8","type":"http in","z":"b9daa40a.159ce8","name":"","url":"/recommandation","method":"post","upload":false,"swaggerDoc":"","x":260,"y":120,"wires":[["a4c9917.ff2247"]]},{"id":"a4c9917.ff2247","type":"function","z":"b9daa40a.159ce8","name":"","func":"msg.payload =[{Value:\"Recommandation\"},{$set:msg.req.body}];\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":120,"wires":[["4f683f01.f5d7b"]]},{"id":"b94c708d.661a7","type":"http response","z":"b9daa40a.159ce8","name":"","statusCode":"","headers":{},"x":1030,"y":120,"wires":[]},{"id":"b7688e63.a3feb","type":"http in","z":"b9daa40a.159ce8","name":"","url":"/recommandation","method":"get","upload":false,"swaggerDoc":"","x":260,"y":220,"wires":[["84788a39.0cd168"]]},{"id":"904b66da.66efc8","type":"http response","z":"b9daa40a.159ce8","name":"","statusCode":"","headers":{},"x":890,"y":220,"wires":[]},{"id":"2467611c.c8d24e","type":"mongodb2 in","z":"b9daa40a.159ce8","service":"_ext_","configNode":"c2e023a5.ad0b","name":"find one","collection":"Config","operation":"findOne","x":620,"y":220,"wires":[["904b66da.66efc8"]]},{"id":"84788a39.0cd168","type":"function","z":"b9daa40a.159ce8","name":"","func":"var request = [{\"Value\":\"Recommandation\"},msg.payload];\nmsg.payload= request;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":220,"wires":[["2467611c.c8d24e"]]},{"id":"6746226d.b4a8bc","type":"mongodb2 in","z":"b9daa40a.159ce8","service":"_ext_","configNode":"c2e023a5.ad0b","name":"","collection":"Config","operation":"update","x":780,"y":340,"wires":[["c42ec8f5.9b0958"]]},{"id":"78242cb6.902cc4","type":"http in","z":"b9daa40a.159ce8","name":"","url":"/configuration","method":"post","upload":false,"swaggerDoc":"","x":250,"y":340,"wires":[["ae2b8f3e.6f948"]]},{"id":"ae2b8f3e.6f948","type":"function","z":"b9daa40a.159ce8","name":"","func":"msg.payload =[{Value:\"Configuration\"},{$set:msg.req.body}];\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":340,"wires":[["6746226d.b4a8bc"]]},{"id":"c42ec8f5.9b0958","type":"http response","z":"b9daa40a.159ce8","name":"","statusCode":"","headers":{},"x":1030,"y":340,"wires":[]},{"id":"f174eb43.da87c8","type":"http in","z":"b9daa40a.159ce8","name":"","url":"/configuration","method":"get","upload":false,"swaggerDoc":"","x":250,"y":440,"wires":[["a68c4468.5fdad8"]]},{"id":"c09eb127.5685","type":"http response","z":"b9daa40a.159ce8","name":"","statusCode":"","headers":{},"x":890,"y":440,"wires":[]},{"id":"3b0d1f38.77ada","type":"mongodb2 in","z":"b9daa40a.159ce8","service":"_ext_","configNode":"c2e023a5.ad0b","name":"find one","collection":"Config","operation":"findOne","x":620,"y":440,"wires":[["c09eb127.5685"]]},{"id":"a68c4468.5fdad8","type":"function","z":"b9daa40a.159ce8","name":"","func":"var request = [{\"Value\":\"Configuration\"},msg.payload];\nmsg.payload= request;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":440,"wires":[["3b0d1f38.77ada"]]},{"id":"d312ac17.d8c2b","type":"mongodb2 in","z":"ed0c995d.e2e7f8","service":"_ext_","configNode":"c2e023a5.ad0b","name":"","collection":"Current_State","operation":"update","x":1180,"y":240,"wires":[[]]},{"id":"26cb4eca.2d7212","type":"function","z":"ed0c995d.e2e7f8","name":"","func":"msg.payload =[{},{$set:{\"isSitting\":msg.payload.IsSomeoneThere}},{ upsert: true }];\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":300,"wires":[["d312ac17.d8c2b"]]},{"id":"12901cff.5ea7e3","type":"function","z":"ed0c995d.e2e7f8","name":"","func":"msg.payload =[{},{$set:{\"currentSpeed\":msg.payload.vitesse}}];\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":380,"wires":[["d312ac17.d8c2b"]]},{"id":"5a9da3b1.d44cfc","type":"function","z":"ed0c995d.e2e7f8","name":"","func":"msg.payload =[{},{$set:{\"currentPressure\":msg.payload}}];\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":220,"wires":[["d312ac17.d8c2b"]]},{"id":"d7a5edc4.a355e","type":"function","z":"ed0c995d.e2e7f8","name":"","func":"msg.payload =[{},{$set:{\"currentAngle\":msg.payload.angle}},{ upsert: true }];\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":120,"wires":[["d312ac17.d8c2b"]]},{"id":"fdac7cbf.bd88d","type":"mqtt out","z":"ed0c995d.e2e7f8","name":"angle","topic":"data/current_back_rest_angle","qos":"","retain":"","broker":"2b8661c7.194ede","x":820,"y":380,"wires":[]},{"id":"d348050d.7a8fa8","type":"mqtt out","z":"ed0c995d.e2e7f8","name":"sitt","topic":"data/current_is_someone_there","qos":"","retain":"","broker":"2b8661c7.194ede","x":790,"y":420,"wires":[]},{"id":"dd4a71ef.0d0d1","type":"inject","z":"ed0c995d.e2e7f8","name":"","topic":"","payload":"{\"datetime\":\"2018-03-11:13:01:02\",\"IsSomeoneThere\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":420,"wires":[["d348050d.7a8fa8"]]},{"id":"c212ce41.38e9e","type":"inject","z":"ed0c995d.e2e7f8","name":"","topic":"","payload":"{\"datetime\":\"2018-03-11:13:01:02\",\"angle\":35}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":380,"wires":[["fdac7cbf.bd88d"]]},{"id":"a2119568.f267a8","type":"mongodb2 in","z":"ed0c995d.e2e7f8","service":"_ext_","configNode":"c2e023a5.ad0b","name":"insert test","collection":"back_angle","operation":"insert","x":940,"y":80,"wires":[[]]},{"id":"d710158.344d1e8","type":"json","z":"ed0c995d.e2e7f8","name":"","property":"payload","action":"obj","pretty":false,"x":330,"y":280,"wires":[["51301068.f29e4","26cb4eca.2d7212"]]},{"id":"d353cbdb.5d4f58","type":"json","z":"ed0c995d.e2e7f8","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":120,"wires":[["d7a5edc4.a355e","cefddfdf.eda88"]]},{"id":"1c01fe0f.4afed2","type":"json","z":"ed0c995d.e2e7f8","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":220,"wires":[["5a9da3b1.d44cfc","6c4c2373.39613c"]]},{"id":"195ec0a8.18333f","type":"json","z":"ed0c995d.e2e7f8","name":"","property":"payload","action":"obj","pretty":false,"x":310,"y":340,"wires":[["f48b2a1f.dced18","12901cff.5ea7e3"]]},{"id":"3850c17c.26da9e","type":"inject","z":"ed0c995d.e2e7f8","name":"","topic":"","payload":"{\"timestamp\":1518670800000,\"isSitting\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":460,"wires":[["d348050d.7a8fa8"]]},{"id":"14d35acb.066145","type":"switch","z":"ed0c995d.e2e7f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":80,"wires":[["a2119568.f267a8"]]},{"id":"eda9ac1f.df1a1","type":"mongodb2 in","z":"ed0c995d.e2e7f8","service":"_ext_","configNode":"c2e023a5.ad0b","name":"insert test","collection":"sitting_time","operation":"insert","x":700,"y":260,"wires":[[]]},{"id":"128731b6.446e4e","type":"http in","z":"c6f5a9d0.2bf118","name":"","url":"/simulate","method":"post","upload":false,"swaggerDoc":"","x":300,"y":300,"wires":[["176575a7.f0811a","92a4d674.266a18"]]},{"id":"bbb4df43.97676","type":"http response","z":"c6f5a9d0.2bf118","name":"","statusCode":"","headers":{},"x":940,"y":200,"wires":[]},{"id":"aab13a80.5088f8","type":"http in","z":"ed0c995d.e2e7f8","name":"","url":"/alert","method":"get","upload":false,"swaggerDoc":"","x":300,"y":500,"wires":[["8e5ea780.5c70d8"]]},{"id":"8f8d29c8.8704c8","type":"debug","z":"ed0c995d.e2e7f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":100,"y":420,"wires":[]},{"id":"bd8218c8.55a0f8","type":"http in","z":"79c89fe4.873e6","name":"","url":"/sittingTime","method":"get","upload":false,"swaggerDoc":"","x":200,"y":600,"wires":[["c5e09040.3c9c6"]]},{"id":"c5e09040.3c9c6","type":"function","z":"79c89fe4.873e6","name":"get month","func":"\nlet offset =0;\nif(msg.payload.Offset !=null)\n    offset = parseInt(msg.payload.Offset)*60*60*1000;\nmsg.offset=offset;\nvar moment = context.global.momentjs;\nlet min=new Date(parseInt(msg.payload.Day));\nmin.setUTCHours(0,0,0,0);\nvar momentMin =moment(min);\nmomentMin.date(0);\nmomentMin.add(-offset,\"ms\");\nvar max=moment(momentMin);\nmax.add(1, 'months');\n msg.payload =[[{ \"$match\": { date: {$gte:new Date(momentMin), $lt:new Date(max)} } },\n  { \"$project\": { \n         \"date\": {$add:[\"$date\",offset]},\n         \"isSitting\":\"$isSitting\"\n    }},\n    { $sort: { date: 1}}\n   ]];\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":600,"wires":[["541f44d8.f48c2c","6c2ddd5b.4eb9c4"]]},{"id":"541f44d8.f48c2c","type":"mongodb2 in","z":"79c89fe4.873e6","service":"_ext_","configNode":"c2e023a5.ad0b","name":"find month","collection":"sitting_time","operation":"aggregate.toArray","x":590,"y":600,"wires":[["c705b457.40f7d8","6c2ddd5b.4eb9c4"]]},{"id":"c705b457.40f7d8","type":"function","z":"79c89fe4.873e6","name":"format result","func":"let previous = msg.payload[0];\nmsg.payload.shift();\n\n\nvar minute =0;\nvar retour={};\nfor(let time of msg.payload){\n    if(time.date.getUTCDate()==previous.date.getUTCDate()){\n        if(previous.isSitting & !time.isSitting){\n            minute+=time.date.getTime()-previous.date.getTime();\n            previous=time;\n        }\n        else if(!previous.isSitting & time.isSitting){\n            previous=time;\n        }\n    }\n    else{\n         if(previous.isSitting){\n            var temp = new Date(previous.date);\n            temp.setUTCHours(23,59,59,999);\n            minute+=temp.getTime()-previous.date.getTime();\n         }\n        retour[previous.date.getUTCDate()]=Math.round(minute/1000/60);\n        previous=time;\n       minute=0;\n    }\n}\n if(previous.isSitting){\n            var temp = new Date(previous.date);\n            temp.setUTCHours(23,59,59,999);\n            minute+=temp.getTime()-previous.date.getTime();\n         }\n        retour[previous.date.getUTCDate()]=Math.round(minute/1000/60);\n\nmsg.payload= retour;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":600,"wires":[["c0133c3f.385d9"]]},{"id":"6c2ddd5b.4eb9c4","type":"debug","z":"79c89fe4.873e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":700,"wires":[]},{"id":"92a4d674.266a18","type":"function","z":"c6f5a9d0.2bf118","name":"creation test","func":"var times = 0;\nvar timeStamps = 1517439600000;\nvar angles =0 ;\nvar docs=[];\nvar k =0;\nfor(j=0;j<62;j++){\n    for(i=0;i<300;i++){\n        var date = new Date(timeStamps);\n\n        var document = {date:date ,timestamp:timeStamps, isSitting:angles};\n\n        docs[k] =document;\n        \n        timeStamps +=288000;\n        angles = Math.round(Math.random()*1);\n        k++;\n    }\n    timeStamps +=288000;\n    angles = Math.round(Math.random()*1);\n}\nmsg.payload=[docs];\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":460,"wires":[["125383d9.5c892c","729ba250.f752ec"]]},{"id":"125383d9.5c892c","type":"debug","z":"c6f5a9d0.2bf118","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":480,"wires":[]},{"id":"729ba250.f752ec","type":"mongodb2 in","z":"c6f5a9d0.2bf118","service":"_ext_","configNode":"c2e023a5.ad0b","name":"insert test","collection":"sitting_time","operation":"insertMany","x":750,"y":420,"wires":[[]]},{"id":"c0133c3f.385d9","type":"http response","z":"79c89fe4.873e6","name":"","statusCode":"","headers":{},"x":1000,"y":600,"wires":[]}]